footer
  .container
    section.connected
      .social
        h4 Get Connected

        ul
          li #[a.fb(href='https://www.facebook.com/topcoder') FB]
          li #[a.tw(href='http://www.twitter.com/topcoder') TW]
          li #[a.gp(href='https://plus.google.com/u/0/b/104268008777050019973/104268008777050019973/posts') GP]
          li #[a.in(href='https://www.linkedin.com/company/topcoder') IN]

      .updates
        form
          input.email(type='email', name='EMAIL', placeholder='Your email address', maxlength='64')

          input.btnSubmitFooter(type='button', value='Submit')

    section.copyright
      p &copy; 2014 topcoder. All Rights Reserved.

      ul
        li
          a(href='http://topcoder.com/community/how-it-works/privacy-policy/') Privacy Policy

        li |

        li
          a(href='http://topcoder.com/community/how-it-works/terms/') Terms
