@import '../partials/combined';

.account-info-container {
  padding-bottom: 75px;

  .update-account-info {
    width: 630px;

    .address-fields {
      @media only screen and (min-width: 768px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
    }

    label {
      display: block;
      position: relative;
      margin-bottom: 15px;
    }

    input {
      display: block;
      margin-top: 7px;
    }

    .account-info-error {
      position: absolute;
      top: 65px;
      left: 3px;
    }

    button.enabled-button {
      @include ui-enabled-button;
    }
  }
}
