@import 'topcoder-includes';
@import '../partials/combined';



.settings-header {
  @include module-full-width;
  background-color: $white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1242px;
    margin: 0 auto;
    padding-top: 20px;
    @media only screen and (min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 25px 25px 23px;
    }
    @media only screen and (min-width: 900px) {
      padding: 40px 50px 33px;
    }

    h1 {
      margin-bottom: 10px;
      @include sofia-pro-bold;
      font-size: 22px;
      line-height: 26px;
      color: black;
      text-transform: uppercase;
      @media only screen and (min-width: 768px) {
        margin-bottom: 0;
        font-size: 32px;
        line-height: 38px;
      }
    }
  }
}

.settings-container {
  .angucomplete-dropdown {
    width: 100%;
  }
  .angucomplete-selected-row {
    background-color: #097DCE;
  }
  
  @include module-l;
  margin: 30px auto 0;

  @media only screen and (min-width: 900px) {
    padding-top: 0px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid $gray-light;
    background-color: $gray-lightest;
    @media only screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      height: 60px;
      justify-content: center;
      align-items: center;
    }

    li {
      display: inline-block;
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      @include sofia-pro-medium;
      font-size: 18px;
      line-height: 24px;
      color: $accent-gray;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      @media only screen and (min-width: 768px) {
        font-size: 16px;
      }
      &:hover {
        color: $gray-darkest;
      }
    }
  }

  .active-tab {
    padding-bottom: 18px;
    border-bottom: 2px solid $primary;
    color: $gray-darkest;
  }

  hr {
    border-width: 1px 0 0 0;

    &.nav-line {
      width: 95%;
      margin: 7px auto 0;
    }
  }


// Main Container
.edit-profile-container,
.account-info-container,
.prefferences-container {
  padding: 0 60px 30px;
}


  // Common element stylings


.settings-section {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    margin: 30px auto 0;
    padding-bottom: 30px;

    .section-info {
      h2 {
        font-size: 18px;
      }
      .description {
        margin-top: 10px;
      }
    }

    &.skills {
      input {
        width: 100%;
      }
      .section-fields {
        max-width: 768px;
      }
    }
  }

  border-bottom: 1px solid;
  border-color: $gray-light;


  .section-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    @media only screen and (min-width: 768px) {
      width: 270px;
      margin-right: 30px;
    }

    h2 {
      text-transform: uppercase;
      font-family: 'Sofia Pro';
      font-weight: 500;
      font-size: 16px;
    }

    .description {
      font-size: 13px;
      line-height: 20px;
      color: $accent-gray;
      // @include source-sans-italic;
      @include label-description;
      margin-top: 5px;
    }
  }
  .section-fields {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
      border-left: 6px solid #F6F6F6;
      padding-left: 60px;
      width: 65%;
    }
    
    .form-field {
      @include form-field;
      @include ui-form-placeholder;
      background: white;
      color: black;
      &:disabled {
        color: #B7B7B7;
      }
    }
    .form-field-focused {
    }
    .image {
      .edit-image {
        img.profile-circle {
          margin-top: 10px;
        }
        .buttons {
          padding-top: 20px;
          .file-upload {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 10px;
            margin-left: 0;
            margin-top: 20px;
            width: 120px;
            input {
              position: absolute;
              top: 0;
              right: 0;
              margin: 0;
              padding: 0;
              font-size: 20px;
              cursor: pointer;
              opacity: 0;
              filter: alpha(opacity=0);
            }
          }
          .file-delete {
            button {
              width: 80px;
            }
          }
        }
      }
    }
    .country {
      margin-top: 30px;

      input {
        background-color: white;
        width: 100%;
      }

      span.error-message {
        color: #EF3A3A;
        @include sofia-pro-regular;
        font-size: 10px;
        text-transform: uppercase;
      }

    }

    .bio {
      margin-top: 30px;

      textarea {
        background: white;
        width: 100%;
        height: 115px;
      }
    }
  }
}

.tracks {
  border-bottom: none;
}

.save-section {

  background-color: #fcfcfc;
  border-top: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 120px;
  }
}

  .skills {
    border-top: 1px solid $gray-light;
    padding-top: 20px;
    @media screen and (min-width: 768) {
      padding-top: 30px;
    }

    .section-fields {
      display: flex;
      flex-direction: column;

      .field-label,
      angucomplete-alt {
        align-self: flex-start;
      }

      .field-label {
        @include sofia-pro-regular;
        font-size: 12px;
        text-transform: uppercase;
      }

      

      .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;

        .skill {
          margin: 0 20px 10px;
          @media only screen and (min-width: 768px) {
            margin: 0;
            margin-right: 30px;
            margin-bottom: 60px;
          }
        }
      }
    }
  }
  .links {
    .field-label {
      @include sofia-pro-regular;
      font-size: 12px;
      text-transform: uppercase;
    }
    .existing-links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

// Tab content
.edit-profile-container,
.account-info-container,
.update-password-container,
.preferences-container {
  @media only screen and (min-width: 768px) {
  }
  .password {
    padding-left: 30px;
    height: 40px;
    padding-left: 15px;
    padding-right: 5px;
    &:hover {
      cursor: text;
    }
    input, input:hover, input:focus {
      background: none;
      border: none;
      box-shadow: none;
    }
  }
  .tab-title {
    margin-bottom: 35px;
    font-size: 32px;
    @include source-sans-light;
    color: $ui-light-gray;
    @media only screen and (min-width: 768px) {
      margin-top: 50px;
    }
  }
  .fields {
    @media only screen and (min-width: 768px) {
      margin-left: 3px;
    }
  }
  .field-section {
    margin-bottom: 40px;
    h4 {
      margin-bottom: 10px;
      font-size: 18px;
      color: $ui-dark-gray;
    }
    p:not(.form-error) {
      font-size: 14px;
      color: $ui-light-gray;
    }
  }
}



.settings-container {
  @media only screen and (min-width: 768px) {
    .links {
      & .external-link-list {
        padding: 0;
      }

      .existing-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
  }
}
