@import '../partials/combined';
.settings-header {
  @include module-full-width;
    background-color: $white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1242px;
      margin: 0 auto;
      padding-top: 20px;
      @media only screen and (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 25px 23px;
      }
      @media only screen and (min-width: 900px) {
        padding: 40px 50px 33px;
      }
      h1 {
        margin-bottom: 10px;
        @include sofia-pro-bold;
        font-size: 22px;
        line-height: 26px;
        color: $primary-text;
        text-transform: uppercase;
        @media only screen and (min-width: 600px) {
          margin-bottom: 0;
          font-size: 32px;
          line-height: 38px;
        }
      }
    }
}

.settings-container {
  @include module-l;
  margin-left: auto;
  margin-right: auto;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media only screen and (min-width: 550px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    li {
      margin-top: 10px;
      display: inline-block;
      margin-right: 30px;
      @media only screen and (min-width: 550px) {
      }
    }
    a {
      @include sofia-pro-medium;
      font-size: 14px;
      color: #A3A3AE;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      @media only screen and (min-width: 760px) {
        font-size: 16px;
      }
    }
  }
  hr {
    width: 95%;
    margin-top: 7px;
  }
  .active-tab {
    padding-bottom: 6px;
    border-bottom: 4px #0096FF solid;
    color: black;
  }

  hr {
    border-width: 1px 0 0 0;
  }
  // Common element stylings
  .button-l {
    @include button-l;
  }

  @include ui-form-placeholder;
  input:not([type="checkbox"]) {
    @include ui-form-field;
  }
  .settings-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: 768px) {
            flex-direction: row;
    }
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-color: #F0F0F0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    .section-info {
      @media only screen and (min-width: 768px) {
        width: 320px;
        padding-right: 30px;
      }
      h2 {
        text-transform: uppercase;
        @include sofia-pro-light;
        font-size: 16px;
      }
      .description {
        font-size: 13px;
        line-height: 20px;
        color: #A3A3AE;
        font-family: 'Source Sans Pro';
        font-style: italic;
        margin-top: 5px;
      }
    }
    .section-fields {
      display: flex;
      flex-direction: column;
      @media only screen and (min-width: 768px) {
        border-left: 6px solid #F6F6F6;
        padding-left: 60px;
        width: 65%;
      }
      .form-label {
        @include sofia-pro-regular;
        font-size: 12px;
        color: $primary-text;
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-top: 5px;
      }
      .form-field {
        @include form-field;
        @include ui-form-placeholder;
        &:disabled {
          color: #B7B7B7;
        }
      }
      .form-field-focused {
        @include form-field-focused;
      }
      .image {
        margin-top: 20px;
        .edit-image {
          img.profile-circle {
            margin-top: 10px;
          }
        }
        input {
        }
      }
      .country {
        margin-top: 30px;
        input {
          background-color: white;
        }
      }

      .bio {
        margin-top: 30px;
        textarea {
          background: white;
          width: 100%;
          height: 80px;
        }
      }
    }
  }
  .tracks {
    padding-bottom: 0px;
    button {
      @include button-2-l;
      margin-bottom: 20px;
    }
    hr {
      margin-top: 10px;
      width: 100%;
    }
    .track {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: left;
      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .title {
          &.disabled {
            color: #b7b7b7;
          }
          img {
            height: 25px;
            width: 25px;
            margin-bottom: -4px;
            margin-right: 3px;
          }
          span {
            font-family: 'Sofia Pro';
            font-size: 22px;
          }
        }
      }
      .bottom {
        margin-top: 10px;
        .description {
          font-family: 'Source Sans Pro';
          font-size: 13px;
          color: #b7b7b7;
        }
      }
    }
  }
  .skills {
    .section-info {

    }
    .section-fields {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      .field-label, angucomplete-alt {
        align-self: flex-start;
      }
      .field-label {
        font-family: 'Sofia Pro';
        font-size: 12px;
        text-transform: uppercase;
      }
      angucomplete-alt {
        margin-top: 6px;
        input {
          font-family: 'Source Sans Pro';
          font-style: italic;
          color: #7f7f7f;
        }
      }

      .list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
        .skill {
          margin: 0 20px 10px 20px;
        }
 
      }



    }
  }
  .links {
    .field-label {
      font-family: 'Sofia Pro';
      font-size: 12px;
      text-transform: uppercase;
      margin-top: 15px;
    }
    .external-links {
      margin-top: 10px;
    }
    .existing-links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

// Tab content
.edit-profile-container,
.account-info-container,
.update-password-container,
.preferences-container {
  @media only screen and (min-width: 550px) {
    padding-left: 100px;
  }
  .tab-title {
    margin-bottom: 35px;
    font-size: 32px;
    @include source-sans-light;
    color: $ui-light-gray;
    @media only screen and (min-width: 550px) {
      margin-top: 50px;
    }
  }
  .fields {
    @media only screen and (min-width: 550px) {
      margin-left: 3px;
    }
  }
  .field-section {
    margin-bottom: 40px;
    h4 {
      margin-bottom: 10px;
      font-size: 18px;
      color: $ui-dark-gray;
    }
    p:not(.form-error) {
      font-size: 14px;
      color: $ui-light-gray;
    }
  }
}

.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 36px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #0096ff;
    color: #0096ff;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #d1d3d4;
    color: #d1d3d4;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 19px; margin: 3.5px;
    height: 19px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    margin-top: 3.45px;
    right: 30px;
    border: none;
    border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.settings-section {
  @media only screen and (min-width: 760px) {
    .section-info {
      h2 {
        font-size: 18px;
      }
      .description {
        margin-top: 10px;
      }
    }
    &.tracks {
      padding-bottom: 20px;
      hr {
        margin: 20px 0;
      }
      .section-fields {
        .track {

        }
      }
    }
    &.skills {
      input {
        width: 600px;
      }
      .section-fields {
        max-width: 760px;
      }
    }
  }
}
