@import 'topcoder-includes';
@import '../partials/combined';

.update-password-container {
  .reset-password form {
    display: flex;
    flex-direction: column;

    input[name="currentPassword"] {
      margin-bottom: 10px;
    }

    button {
      width: 200px;
      text-transform: none;
      @include source-sans-light;
      font-size: 18px;

      &.enabled-button {
        @include ui-enabled-button;
      }
    }
  }

  .form-error {
    margin: 0 0 20px 3px;
  }
}
