@import 'topcoder/tc-includes';

.update-password-container {
  .reset-password form {
    display: flex;
    flex-direction: column;

    input[name="currentPassword"] {
      margin-bottom: 10px;
    }

    button {
      width: 200px;
    }
  }

  .form-error {
    margin: 0 0 20px 3px;
  }
}
