.graph-viewer(ng-show="graphState.show == 'distribution'")
  .distribution-graph

  .info-port
    .coders(ng-if="displayCoders")
      .num {{numCoders}}
      .label CODERS
    .rating(ng-if="!displayCoders")
      .num {{rating}}
      .label RATING

    button.compare(ng-click="graphState.show = 'history'")
      | BACK TO YOUR RATING
