.distribution-graph-directive(ng-show="graphState.show == 'distribution'")
  button.compare(ng-click="graphState.show = 'history'")
    | BACK TO YOUR RATING

  .graph-viewer
    .distribution-graph

    .info-port
      .coders(ng-if="displayCoders", style="background: {{highlightedRating || rating | ratingColor}}")
        .num {{numCoders}}
        .label CODERS
      .coders(ng-if="!displayCoders", style="background: {{rating | ratingColor}}")
        .num {{rating}}
        .label RATING

