.member-profile
  .profile
    .profile-left
        .profile-image
          img(width='130px', src='{{vm.photoLink}}')
        .profile-details
          //- div(rel='upload-photo', ng-show='vm.showUploadPhotoLink')
          //-   a(href='{{vm.uploadPhotoLink}}') Upload Photo
          .handle(style='{{vm.ratingColor}}') {{vm.profile.handle}}
          .edit-profile
            a(href="") (Edit Profile)
    .profile-right
      .money-in-bank(ng-show='vm.profile && vm.profile.overallEarning > 0')
        div(rel='value', ng-bind='vm.profile.overallEarning || 0 | currency')
        div(rel='label') Money in Bank
      .open-challenges
        div(rel='value', ng-bind='vm.myOpenChallengesCount || 0')
        div(rel='label') Open Challenges
      .review-opportunities
        div(rel='value', ng-bind='vm.reviewOpportunities || 0')
        div(rel='label') Review Opportunities
      .copilot-challenges
        div(rel='value', ng-bind='vm.copilotChallengesCount || 0')
        div(rel='label') Co-pilot Challenges
  .rating-summary
    .track-rating(ng-repeat='rs in vm.profile.ratingSummary')
      div(rel='value', ng-bind='rs.rating')  
      div(rel='label', ng-bind='rs.name')
.clear
