@import '../partials/combined';

.community-updates {
  header {
    margin-bottom: 35px;
  }

  .posts {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;

    .post {
      display: flex;
      flex-direction: column;
      margin-right: 25px;
      padding: 10px;
      width: 23%;

      &:last-child {
        margin-right: 0;
      }

      .blog-link {
        min-height: 50px;

        a {
          text-decoration: none;
          color: $color_storm_dust_approx;

          &:hover {
            color: $color_selective_yellow_approx;
          }
        }
      }

      .description {
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}
