@import '../partials/combined';

.community-updates {
  .widget {
    @include padding-reset;
    .widget-heading {
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .widget-body {
      display: flex;
      flex-flow: column wrap;
      .posts {
        display: flex;
        flex-flow: row wrap;
        margin-top: 25px;
        margin-bottom: 25px;
        .post {
          //border-bottom: 1px solid $color_celeste_approx;
          box-sizing: border-box;
          background-color: $medium-gray;
          margin-right: 25px;
          padding: 10px;
          width: 23%;
          display: flex;
          flex-flow: column wrap;
          &:last-child {
            border: none;
            margin-right: 0;
          }
          .link {
            a {
              color: $color_storm_dust_approx;
              //Instead of the line below you could use @includebox-sizing($bs)
              box-sizing: border-box;
              &:hover {
                color: $color_selective_yellow_approx;
              }
            }
          }
          .pub-date {
            margin-top: 10px;
            font-size: 12px;
            text-align: right;
          }
          .description {
            margin-top: 10px;
            font-size: 14px;
          }
        }
      }
      .useful-links {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .link {
          border-radius: 5px;
          padding: 10px;
          background-color: $dark-gray;
          margin: 10px;
          a {
            color: $white;
            text-decoration: none;
          }
        }
        .community-blog {

        }
        .community {

        }
      }
    }
  }
}
