@import '../partials/combined';

.header-dashboard {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img {
        width: 130px;
        height: 130px;
        border-radius: 72px;
      }

      .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;

        p {
          font-weight: bold;
          margin-bottom: 5px;
        }
        a {
          color: inherit;
          font-size: 12px;
        }
      }
    }
    .user-stats {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      font-size: 14px;

      .money-earned, .copilot-challenges {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50px;

        p:first-child {
          font-size: 16px;
        }
      }

      .money-earned {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
      }

      .copilot-challenges {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;

        span {
          display: block;
        }
      }

    }
  }

  .ratings {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 27px;
    font-size: 13px;

    .track {
      width: 120px;
      height: 50px;
      text-align: center;

      p:first-child {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
  }
}
