@import '../partials/combined';

.helpful-links {
  ul > li {
    border-bottom: 1px solid $color_celeste_approx;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    &:last-child {
      border: none;
    }
    > a {
      color: $color_storm_dust_approx;
      padding: inherit;
      line-height: inherit;
      &:hover {
        color: $color_selective_yellow_approx;
        background-color: inherit;
      }
      &:focus {
        color: $color_selective_yellow_approx;
        background-color: inherit;
      }
    }
  }
  .nav .open>a {
    color: $color_selective_yellow_approx;
    background-color: inherit;
    &:hover {
      color: $color_selective_yellow_approx;
      background-color: inherit;
    }
    &:focus {
      color: $color_selective_yellow_approx;
      background-color: inherit;
    }
  }
}