@import '../partials/combined';

.ios-program {
  margin-bottom: 35px;

  section.ios {
    min-height: 175px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .join-program {
    height: 175px;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: row;

    & > div {
      flex: 1;
      display: flex;
      text-align: center;
      align-items: center;
    }

    .logo {
      justify-content: center;

      p {
        margin-left: 20px;
      }
    }

    .call-to-action {
      justify-content: space-around;
      text-transform: uppercase;
      @include source-sans-bold;
      color: #727272;
      font-size: 22px;

      p {
        width: 255px;
        line-height: 1.2;
      }
    }
  }

  .registered {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 350px;

    .registered-badge, .challenge {
      margin-right: 25px;
      background-color: #e7e7e7;
    }

    .registered-badge {
      max-width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 25%;
      text-align: center;

      img {
        display: block;
        margin: 25px auto;
        width: 22%;
      }

      p {
        margin-top: 10px;
        text-transform: uppercase;
        @include source-sans-bold;
        font-size: 16px;
        color: #727272;
      }

      a {
        margin-top: 10px;
        text-decoration: underline;
      }
    }

    .challenge {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex: 25%;

      &:last-child {
        margin-right: 0;
      }

      p {
        color: #727272;
      }

      .title {
        min-height: 60px;
        margin-top: 10px;
        @include source-sans-semi-bold;
      }

      .technologies {
        margin-top: 10px;
      }

      .prize {
        padding-top: 10px;
        min-height: 25px;
        font-size: 20px;
      }

      .hidden {
        visibility: hidden;
      }

      .days-remaining {
        margin-top: 15px;
        font-size: 20px;

        span {
          display: block;
          margin-top: 5px;
          @include source-sans-semi-bold;
          font-size: 12px;
          text-transform: uppercase;
        }
      }

      .stats {
        margin-top: 15px;
        font-size: 18px;

        i {
          margin-right: 5px;
        }

        span {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      a {
        margin-top: 20px;
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }
}
