@import '../partials/combined';


$url_participant: url(/images/member-program/svg/Member-06.svg);
$url_education: url(/images/member-program/svg/Education-06.svg);
$url_peer: url(/images/member-program/svg/Show-Your-Skills-06.svg);
$url_challenger: url(/images/member-program/svg/Challenger-06.svg);
$url_highperformer: url(/images/member-program/svg/High-Performer-06.svg);


.member-program {
}

.member-program-content {
  @include padding-reset;
  .panel-body {
    height: 377px;
    overflow: hidden;
    .program-logo {
      text-align: center;
      img {
        height: 80px;
      }
    }
  }

  .display-image {
    height: 260px;
    background-color: $white;
    float: left;
    width: 20%;
    margin: 20px;
    display: none;
  }
  .description {
    text-align: justify;
  }
  .signup {
    color: $white;
    margin-top: 20px;
  }
  *[rel="badges"] {
    *[rel="badge"] {
      div[rel="image"] {
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
      }
      div[rel="name"] {
        margin-left: 5px;
        line-height: 37px;
      }
      &.participant div[rel="image"] {
        background-image: $url_participant;
      }
      &.education div[rel="image"] {
        background-image: $url_education;
      }
      &.peer div[rel="image"] {
        background-image: $url_peer;
      }
      &.challenge div[rel="image"] {
        background-image: $url_challenger;
      }
      &.high-performer div[rel="image"] {
        background-image: $url_highperformer;
      }
    }
    *[rel="badge-status"] {
      line-height: 37px;
      *[rel="image"] {
        width: 20px;
        height: 20px;
        margin-top: 8px;
      }
      &.pending *[rel="image"] {
        background: $checkbox no-repeat 0 0;
      }
      &.completed *[rel="image"] {
        background: $checkbox no-repeat 0 -20px;
      }
    }
  }
  .nextstep {
    color: $white;
    margin-top: 20px;
  }
}