
@import '../partials/combined';

.my-challenges {
  min-height: 50px;
  display: flex;
  flex-direction: column;

  header {
    position: relative;
    margin-bottom: 35px;

    p.noChallenges {
      text-align: center;
      margin-top: 10px;
      font-size: 18px;
    }

    p.viewChallenges {
      position: absolute;
      top: 3px;
      right: 10px;

      a {
        text-decoration: underline;
      }
    }
  }

  section.challenges {
    display: flex;
    flex-flow: row wrap;
    /* The negative margin here removes the leftmost tiles'
       margin, since we can't use .tile:first-child here */
    margin-left: -20px;
  }

  .spotlightChallenges {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
