@import '../partials/combined';

$url_8: url(../images/ico-track-develop.png);
$url_9: url(../images/ico-track-design.png);
$url_10: url(../images/sort-arrows.png);

.my-challenges {
  min-height: 50px;
  display: flex;
  flex-direction: column;

  header {
    position: relative;
    margin-bottom: 15px;

    h1 {
      text-align: center;
    }

    p {
      position: absolute;
      top: 0;
      right: 0;

      a {
        text-decoration: underline;
      }
    }
  }

  section.challenges {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: -20px;

    .tile {
      background-color: $medium-gray;
      width: 23%;
      margin-left: 20px;
      margin-bottom: 20px;
      min-height: 175px;

      .challenge-summary {
        padding: 10px;
        .title {
          font-weight: bold;
          min-height: 50px;
          @include ellipsis;
          margin-bottom: 10px;
        }
        .community {
        }
      }
      .challenge-details {
        padding: 10px;
        display: flex;
        flex-direction: column;
        .registration-date {
          label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
          }
        }
        .submission-date {
          label {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: bold;
          }
        }
        .time-left {
          margin-top: 10px;
          font-weight: bold;
        }
        .reg-sub-summary {
          margin-top: 10px;
          .registrants {
            margin-right: 10px;
            .value {
              margin-left: 5px;
            }
          }
          .submissions {
            .value {
              margin-left: 5px;
            }
          }
        }
        .phase-msg {
          margin-top: 10px;
          text-transform: capitalize;
        }
        .challenge-complete-msg {
          margin-top: 10px;
        }
        .challenge-cancelled-msg {
          margin-top: 10px;
        }
        .challenge-stalled-msg {
          margin-top: 10px;
        }
        .member-status-msg {
          margin-top: 10px;
          align-self: center;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
