@import '../partials/combined';

.my-dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  hr {
    @include horizontal-rule;
    margin-bottom: 35px;
  }

  .section-loading {
    width: 100%;
    height: 50px;
    background: $loading no-repeat center center;
  }

  .section-title {
    font-size: 22px;
    color: #4f4f4f;
    text-align: center;
  }

  .section-links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .link {
      border-radius: 5px;
      padding: 10px;
      background-color: $dark-gray;
      margin: 10px;

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }

}
