@import '../partials/combined';

.my-dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  hr {
    @include horizontal-rule;
    margin-bottom: 35px;
  }

  .widget-loading {
    width: 100%;
    height: 50px;
    background: $loading no-repeat center center;
  }
}
