@import '../partials/combined';

.member-profile-header {
  border-bottom: 1px solid $white-gray;
  margin-bottom: 20px;
}
@media only screen and(min-width: 768px) {
  .member-profile-header {
    padding: 15px 0;
  }
}
.member-profile {
  .profile {
    border-bottom: 1px solid $white-gray;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    .profile-left {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .profile-image {
        width: 130px;
        text-align: center;
        height: 130px;
        border: 5px solid $white;
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: 72px;
        overflow: hidden;
      }
      .profile-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .handle {
          color: $white;
          text-align: center;
          font-weight: bold;
        }
        .edit-profile {
          text-align: center;
        }
        .doj {
          text-align: center;
          margin-top: 10px;
        }
      }
    }
    .profile-right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;


      .money-in-bank {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        //Instead of the line below you could use @includebox-sizing($bs)
        box-sizing: border-box;
        div[rel="value"] {
          font-size: 20px;
        }
        div[rel="label"] {
          margin-top: 15px;
        }
      }
      .challenges-registered {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        //Instead of the line below you could use @includebox-sizing($bs)
        box-sizing: border-box;
      }
      .open-challenges {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        //Instead of the line below you could use @includebox-sizing($bs)
        box-sizing: border-box;
        div[rel="value"] {
          font-size: 20px;
        }
        div[rel="label"] {
          margin-top: 15px;
        }
      }
      .review-opportunities {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        //Instead of the line below you could use @includebox-sizing($bs)
        box-sizing: border-box;
        div[rel="value"] {
          font-size: 20px;
        }
        div[rel="label"] {
          margin-top: 15px;
        }
      }
      
    }
  }
  .rating-summary {
    clear: both;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .track-rating {
      width: 100px;
      height: 82px;
      text-align: center;
      padding-top: 16px;
      //Instead of the line below you could use @includebox-sizing($bs)
      box-sizing: border-box;
      div[rel="value"] {
        font-size: 20px;
      }
      div[rel="label"] {
        margin-top: 15px;
      }
    }
  }
}