@import '../partials/combined';

.srms {
  min-height: 50px;
  display: flex;
  flex-direction: column;

  header {
    position: relative;
    margin-bottom: 35px;

    p.viewSRMs {
      position: absolute;
      top: 3px;
      right: 10px;

      a {
        text-decoration: underline;
      }
    }
  }

  section.srm-tiles {
    display: flex;
    flex-flow: row wrap;
    /* The negative margin here removes the leftmost tiles'
       margin, since we can't use .tile:first-child here */
    margin-left: -20px;
    
    srm-tile.tile-view {
      width: 23%;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }
}
