input(ng-hide="vm.isSocialRegistration", ng-model="vm.password", ng-model-options="{allowInvalid: true}", ng-focus="(vm.passwordFocus = true) && (vm.placeholder = '')", ng-blur="blur($event)", name="password", placeholder="{{vm.placeholder}}", type="{{toggleInputType()}}", ng-minlength="8", ng-maxlength="64", has-letter, has-symbol, has-number, required)

label(ng-show="vm.passwordFocus || registerForm.password.$dirty") #[input(type="checkbox", ng-model="vm.showPassword", ng-change="checksomething()")] Show Password
