input(focus-on="refocus", ng-hide="vm.isSocialRegistration", ng-model="vm.password", ng-model-options="{allowInvalid: true}", ng-focus="onFocus($event)", ng-blur="onBlur($event)", name="password", placeholder="{{vm.placeholder}}", type="password", ng-minlength="8", ng-maxlength="64", has-letter, has-symbol, has-number, required)

label(ng-show="vm.passwordFocus || registerForm.password.$dirty", ng-click="labelClicked()") #[input(name="togglePassword", type="checkbox", ng-model="refocus", ng-change="toggleInputType()")] Show Password
