.hide-password
  div(ng-transclude)

  label(ng-show="vm.passwordFocus || registerForm.password.$dirty", ng-click="broadcastOnClick()") #[input(type="checkbox", ng-model="vm.showPassword")] Show Password
