@import '../partials/combined';

.my-challenges-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .section-loading {
    width: 100%;
    height: 50px;
    background: $loading no-repeat center center;
  }

  .section-title {
    font-size: 22px;
    color: #4f4f4f;
    text-align: center;
  }

  .my-challenges {
    min-height: 50px;
    display: flex;
    flex-direction: column;

    .nav {
      @include module-full-width;
      background: white;
      height: 100px;
      padding-left: 60px;
      padding-right: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      .arrow {
        width: 15px;
      }
      .breadcrumbs {
        font-family: 'Sofia Pro';
        font-weight: 200;
        font-size: 14px;
        line-height: 16px;
        .dashboard {
          display: block;
          color: black;
          text-align: center;
          text-transform: uppercase;

          a {
            text-decoration: none;
          }
        }
        .my-challenges {
          display: block;
          color: $accent-color;
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }

    section.noChallenges {
      text-align: center;
      margin-top: 10px;
      font-size: 18px;
    }

    .content {
      margin-left: 10px;
      margin-right: 10px;
      section.challenges {
        background: white;
        align-self: center;
        margin-top: 15px;
        padding-bottom: 15px;
        padding-top: 10px 20px 0px 20px;
        display: flex;
        flex-flow: column wrap;
        position: relative;
        width: 100%;

        .top {
          /*position: relative;*/
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-top: 35px;
          padding-bottom: 35px;
          border-bottom: 1px solid #F0F0F0;

          .filters {
            position: initial;
            /*bottom: 0;
            left: 55px;*/
            margin-left: 55px;
            align-self: flex-start;
            text-transform: uppercase;
            color: #A3A3AE;
            a {
              text-decoration: none;

              &.disabled {
                color: $black;
                cursor: default;
              }
            }
          }

          .challenge-view-toggle {
            position: initial;
            /*bottom: 0;
            right: 55px;*/
            margin-right: 55px;
            align-self: flex-end;
            button {
              margin-right: 17px;
              padding: 0;
              border: 0;
              outline: 0;
              background-color: $white;
              @include sofia-pro-light;
              font-size: 11px;
              line-height: 16px;
              text-transform: uppercase;
              color: #A3A3AE;
              cursor: pointer;

              &.disabled {
                color: $black;
                cursor: default;
              }

              &:before {
                content: '';
                display: inline-block;
                margin-bottom: 2px;
                margin-right: 4px;
                vertical-align: middle;
                @include background-image-size(16px, 16px);
              }

              &.tile:before {
                background: url(/images/ico-grid.svg);
              }
              &.list:before {
                background: url(/images/ico-list.svg);
              }

            }
          }
        }

        .data {
          display: flex;
          flex-flow: row wrap;
          padding: 15px 0px;
          margin-left: 55px;

          &.list-view {
            flex-flow: column wrap;
            width: 100%;
          }
        }

        .bottom {
          border-top: 1px solid #F0F0F0;
          padding: 35px 55px 15px 55px;
        }

        challenge-tile {
          &.tile-view {
            margin-bottom: 20px;
            @media only screen and (max-width: 767px) {
              display: inline-block;
              margin-left: 15px;

              &:first-child {
                margin-left: 0;
              }
            }
            @media only screen and (min-width: 768px) {
              &:nth-child(2n + 1) {
                margin-right: 15px;
              }
            }
            @media only screen and (min-width: 870px) {
              margin-right: 15px;

              &:nth-child(3n) {
                margin-right: 0;
              }
            }
            @media only screen and (min-width: 1155px) {
              &:nth-child(3n) {
                margin-right: 15px;
              }
              &:nth-child(4n) {
                margin-right: 0;
              }
            }
          }
          &.list-view {
            width: 100%;
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {
  .my-challenges-container {
    .my-challenges {
      .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;

        .breadcrumbs {
          font-size: 28px;
          line-height: 34px;
          display: flex;
          flex-direction: row;
          .dashboard {
            display: block;
            color: black;
            text-align: center;
            text-transform: uppercase;
          }
          .my-challenges {
            display: block;
            color: $accent-color;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media (min-width: 870px) {
  .my-challenges-container {
    .my-challenges {
      section.challenges {
        .data {
          max-width: 840px;
        }
      }
    }
  }
}
@media (min-width: 1155px) {
  .my-challenges-container {
    .my-challenges {
      section.challenges {
        .data {
          max-width: 1125px;
        }
      }
    }
  }
}
