.tile-view(ng-show="view === 'tile'")
  p.place(ng-class="{ 'first-place': challenge.wonFirst }", ng-show="challenge.highestPlacement") {{challenge.highestPlacement}}#[span {{challenge.highestPlacement | ordinal:true}}] Place
    p.place(ng-show="challenge.userStatus === 'NOT_FINISHED'") Didn't Finish
    p.place(ng-show="challenge.userStatus === 'PASSED_SCREENING'") Passed Screening
    p.place(ng-show="!challenge.highestPlacement && challenge.userStatus === 'PASSED_REVIEW'") Passed Review
    p.place(ng-show="challenge.userStatus === 'COMPLETED'") COMPLETED

  .challenge-score(ng-hide="challenge.userStatus !== 'PASSED_REVIEW'")
    p.score {{challenge.userDetails.submissionReviewScore/100 | percentage}}

    p Review Score

.list-view(ng-show="view === 'list'")
  .place-date
    p.place(ng-class="{ 'first-place': challenge.wonFirst }", ng-show="challenge.highestPlacement") {{challenge.highestPlacement}}#[span {{challenge.highestPlacement | ordinal:true}}] Place
    p.place(ng-show="challenge.userStatus === 'NOT_FINISHED'") Didn't Finish
    p.place(ng-show="challenge.userStatus === 'PASSED_SCREENING'") Passed Screening
    p.place(ng-show="!challenge.highestPlacement && challenge.userStatus === 'PASSED_REVIEW'") Passed Review
    p.place(ng-show="challenge.userStatus === 'COMPLETED'") Completed
    p.date-completed {{challenge.submissionEndDate | date : 'MMMM yyyy'}}

  .winner-ribbon(ng-show="challenge.wonFirst")

  .challenge-score(ng-class="{hidden: challenge.userStatus !== 'PASSED_REVIEW'}")
    p.score {{challenge.userDetails.submissionReviewScore/100 | percentage}}

    p Review Score