.login-container
  h1 Login

  p(ng-show="vm.passwordReset", ng-class="{'login-notice': vm.passwordReset}") Your password has been reset. You may now login.

  p(ng-show="vm.userDoesntExist", ng-class="{'login-error': vm.userDoesntExist}") This user does not exist.

  p(ng-show="vm.wrongPassword", ng-class="{'login-error': vm.wrongPassword}") That password doesn't match the one we have on file. Please try again.

  form(name="vm.loginForm")
    input(name="username", ng-model="vm.username", required)

    input(name="password", type="password", ng-model="vm.password", required)

    button(type="submit", ng-click="vm.doLogin()") Login


  p Don't have an account? 
    a(ui-sref="register") Join Now.

  <br>

  a(ui-sref="resetPasswordLink") Forgot Password?
