.login-container
  h1 Login
  form(name="vm.loginForm", role="form", ng-submit="vm.loginForm.$valid && vm.doLogin()", novalidate)
    .form-errors

      p.login-error(ng-if="vm.loginForm.username.$error.username-exists") This user does not exist.

      p.login-error(ng-if="vm.wrongPassword") That password doesn't match the one we have on file. Please try again.

      p.login-error(ng-if="vm.socialLoginError === 401") User with that profile is not registered.

      div(ng-if="vm.loginForm.$submitted")
        p.login-error(ng-if="vm.loginForm.username.$error.required") Please enter your username or email.

    input(ng-model="vm.username", ng-model-options="{debounce: {'default': 500}}", name="username", placeholder="Username or Email", type="text", required, username-exists)

    input(ng-model="vm.password", name="password", placeholder="Password", type="password", required)

    button(type="submit", ng-disabled="vm.loginForm.$invalid", ng-class="{'enabled-button': vm.loginForm.$valid}") Login

  section.social
    p log in with another account

    .social-icons
      i.fa.fa-github-square(ng-click="vm.socialLogin('github')")
      i.fa.fa-facebook-square(ng-click="vm.socialLogin('facebook')")
      i.fa.fa-google-plus-square(ng-click="vm.socialLogin('google-oauth2')")
      i.fa.fa-twitter-square(ng-click="vm.socialLogin('twitter')")

  a.forgot-password(ui-sref="resetPasswordLink") Forgot Password?

  p.redirect Don't have an account? 
    a(ui-sref="register") Join Now.

