.login-container
  header
    a.logo-link(href="/")
      img(src="/images/logo_mobile.svg", alt="Topcoder Logo")
    .arrow
  h1 LOG IN TO TOPCODER

  form(name="vm.loginForm", role="form", ng-submit="vm.loginForm.$valid && vm.login()", novalidate)
    .form-errors
      p.form-error(ng-hide="vm.usernameExists") We couldn't find a member with that {{vm.emailOrUsername || "username"}}. Please check that you entered it correctly.

      p.form-error(ng-show="vm.wrongPassword") That password is incorrect. Please check that you entered the right one.

      p.form-error(ng-show="vm.socialLoginError === 401") User with that profile is not registered.

    div.validation-bar(ng-class="{'error-bar': !vm.usernameExists}")
      input(ng-model="vm.username", name="username", placeholder="Username or Email", type="text", required)

    toggle-password

    p.problem-signin
      a.forgot-password(ui-sref="resetPassword") Forgot your password?

    button.tc-btn.tc-btn-l(type="submit", ng-disabled="vm.loginForm.$invalid") Log In

  section.social
    p ------------ Or Log in With ------------

    .social-icons
      .network.github
        .ico(ng-click="vm.socialLogin('github')")
        p Github
      .network.google-plus
        .ico(ng-click="vm.socialLogin('google-oauth2')")
        p Google
      .network.facebook
        .ico(ng-click="vm.socialLogin('facebook')")
        p Facebook
      .network.twitter
        .ico(ng-click="vm.socialLogin('twitter')")
        p Twitter

.join-topcoder
  span Not a member yet?

  a.tc-btn.tc-btn-ghost-secondary.tc-btn-s(ui-sref="register(vm.$stateParams)") Join now

