.community-view
  .header-community
    header
      h1 Members

  .members-container
    .search-container
      form(name="searchForm", role="form", ng-submit="ctrl.search()", novalidate)
        input(ng-model="ctrl.keywords", name="keywords", placeholder="find people", type="text", required)
        input(type="submit" name="search-btn" value="").search-ico

    .default-show-container(ng-show="ctrl.notSearch")
      .platform-stats-container
        .stat
          p.statVal {{ctrl.platformStats.memberCount | number : 0}}
          p.statLabel ACTIVE MEMBER
        .stat
          p.statVal {{ctrl.platformStats.activeMembersCount | number : 0}}
          p.statLabel COMPETING TODAY
        .stat
          p.statVal {{ctrl.platformStats.prizePurse | currency:undefined:0}}
          p.statLabel AVAILABLE PRIZE
        .stat
          p.statVal {{ctrl.platformStats.activeContestsCount | number : 0}}
          p.statLabel ACTIVE CHALLENGES
      .members-of-month-container
        h2 Members of the Month
          small {{ctrl.currentMonth}}
        .members-wrapper
          .user-tile(ng-repeat="item in ctrl.memberLeaderboard")
            .avatar-wrapper: img(ng-src="{{item.avatar}}")
            .user-name {{item.name}}
            .user-tag(class="{{item.class}}") {{item.contestType}}
            p.user-desc {{item.description}}
            a(ng-href="//www.{{ctrl.domain}}/community/member-programs/topcoder-member-of-the-month/", target="_blank").user-more Read the story
        p.member-congratulation Congratulations to all the members of the month!

      .reviewboard-container 
        h2 Review Boards
        .content-wrapper
          .col
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=23", target="_blank") Conceptualization
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=6", target="_blank") Specification  
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=7", target="_blank") Architecture
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=1", target="_blank") Component Design
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=2", target="_blank") Component Development
          .col
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=14", target="_blank") Assembly    
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=38", target="_blank") First2Finish
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=39", target="_blank") Code    
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=13", target="_blank") Test Suites
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=36", target="_blank") Report
          .col
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=19", target="_blank") UI prototype    
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=24", target="_blank") RIA Build    
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=35", target="_blank") Content Creation
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=26", target="_blank") Test Scenarios
            .link: a(ng-href="//www.{{ctrl.domain}}/tc?module=ReviewBoard&pt=9", target="_blank") Bug Hunt


      .copilots-container
        h2 Copilots
        .copilots-wrapper
          .user-tile(ng-repeat="item in ctrl.copilots")
            .avatar-wrapper: img(ng-src="{{item.avatar}}")
            .user-name {{item.name}}
            .user-country {{item.country}}
        .btn-wrapper
          a(ng-href="//community.{{ctrl.domain}}/tc?module=ViewCopilotPool&size=20&view=0&sort=12", target="_blank").blue-btn View all copilots


    .search-result-container(ng-hide="ctrl.notSearch")
      h2 Search Result For:
        span "{{ctrl.keywords}}"
        .showing-controll-wrapper
          ul
            li
              input(type="radio" ng-model="ctrl.showing" value="grid" name="showing")#member-showing-grid
              label(for="member-showing-grid").grid-lbl grid
            li
              input(type="radio" ng-model="ctrl.showing" value="list" name="showing")#member-showing-list
              label(for="member-showing-list").list-lbl list
      .results-wrapper(ng-class="{'show-grid': ctrl.showing=='grid'}")
        .user-tile(ng-repeat="item in ctrl.searchResult")
          .avatar-wrapper: img(ng-src="{{item.avatar}}")
          .text-content
            .user-name {{item.name}}
            .user-country {{item.country}}
          a.user-more View Profile
      .btn-wrapper
        a.gray-btn Load More


