header(ng-hide="vm.loading")
  h1.section-title #[span iOS]: Show Your Skills

.section-loading(ng-show="vm.loading")

section.ios(ng-hide="vm.loading")
  .unregistered(ng-hide="vm.registered")
    img(src="/images/learn-and-improve.png", srcset="/images/learn-and-improve2x.png 2x")

    .join-program
      h3 #[span iOS]: Show Your Skills

      h4 Take the first steps to stand out in the Community

      p Experienced and proven iOS developers are in high-demand. Prove your skills by earning these iOS topcoder badges and gain exclusive access to iOS challenges and prize accelerators, special previews into content and releases, and special community-related events and info.

      .info-links
        a(ng-click="vm.registerUser()") Participate

        a(ng-href="https://ios.{{DOMAIN}}", target="_blank") Learn More

  .registered(ng-show="vm.registered")
    .badge-and-challenges
      .registered-badge
        .flex-wrapper
          p iOS DEVELOPER

          .badge-timeline
            img(src="/images/member-program/svg/Member-06.svg", alt="Development Challenge Icon")

          a(href="http://ios.{{vm.domain}}", title="topcoder iOS Member Program") View Challenges

      ios-card(ng-repeat="challenge in vm.challenges | orderBy:reviewType:true| orderBy:registrationEndDate:true", challenge="challenge", view="'tile'")
