.page-state-header
  header
    .page-info
      h1 {{pageTitle | track}}

      div(ng-transclude)

    .info
      .item
        .value
          p(ng-bind="vm.activeChallenges")
        .title
          p Active Challenges
      .item(ng-if="!hideMoney")
        .value
          p.number(ng-bind="vm.moneyEarned | currency:'$':0")
        .title
          p Won in Prizes
      .badgeItem(ng-if="vm.dashboardAchievement")
        .dashboardBadge     
              img( width=200 alt='{{vm.dashboardBadgeName}}' height=200 src=require("../../../assets/images/badge.svg"))