.page-state-header
  header
    .page-info
      h1 {{pageTitle}}

      div(ng-transclude)

    .info
      .pic
        a(ui-sref="profile.about({userHandle: vm.profile.handle})")
          img.profile-circle(ng-if="vm.profile.photoURL", ng-src="{{vm.profile.photoURL}}")

          img.profile-circle(ng-if="!vm.profile.photoURL", src="/images/ico-user-default.svg")

      .user-stats(id="metrics", ng-hide="vm.loading")
        a.handle(style="color:{{vm.handleColor}};", ui-sref="profile.about({userHandle: vm.profile.handle})") {{vm.profile.handle}}

        .money-earned(ng-hide="hideMoney")
          p.number(ng-bind="vm.moneyEarned | currency:'$':0")

          p Earned

        .back-link(ng-if="showBackLink && vm.previousStateLabel")
          a(ng-click="vm.backHandler()") Back to {{vm.previousStateLabel}}

