.page-state-header
  header
    .page-info
      h1 {{pageTitle | track}}

      div(ng-transclude)

    .info
      .item
        .value
          p(ng-bind="vm.activeChallenges")
        .title
          p Active Challenges
      .item(ng-if="!hideMoney")
        .value
          p.number(ng-bind="vm.moneyEarned | currency:'$':0")
        .title
          p Won in Prizes
      .item(ng-if="vm.dashboardBadge")
        .badge(ng-class="(vm.dashboardBadge.specificClass || vm.dashboardBadge.groupClass) + ' ' + (vm.dashboardBadge.type) + 'Badge'")
