.notification
  .collapsed(ng-show="!vm.expanded")
    .live(ng-show="config.live") LIVE
    .customTag(ng-show="config.customTag" ng-style="{'background': config.customTag.background, color: config.customTag.color}") {{config.customTag.text}}
    .header {{config.header}}:&nbsp;
    .details {{config.details}}
    i.expand.fa.fa-plus(ng-click="vm.toggle()", ng-if="!config.isEmpty")
  .expanded(ng-show="vm.expanded")
    .notification-bg-desktop(ng-style="{'background-image': 'url('+vm.loadImage(config.backgroundImageDesktop)+')'}")
    .notification-bg-tablet(ng-style="{'background-image': 'url('+vm.loadImage(config.backgroundImageTablet)+')'}")
    .notification-bg-mobile(ng-style="{'background-image': 'url('+vm.loadImage(config.backgroundImageMobile)+')'}")
    .left
      .header {{config.headerExpand}}
      .details {{config.detailsExpand}}
      a.action(ng-show="config.redirectText && config.redirectTo", href="{{config.redirectTo}}") {{config.redirectText}}
    .right(ng-if="config.videoCode")
      .btn-play(ng-hide="vm.loadVideo")
        i.fa.fa-play-circle-o(ng-click="vm.loadVideo=true;")
        div Play Video
      iframe(ng-if="vm.loadVideo" ng-src="{{vm.videoUrl(config.videoCode)}}", allowfullscreen, frameborder="0", width="100%" height="{{config.videoHeight || config.height||vm.defaultHeight}}")
      .live(ng-show="config.liveExpand") LIVE
    i.collapse.fa.fa-remove(ng-click="vm.toggle()")
