.notification
  .collapsed(ng-show="!vm.expanded")
    .live(ng-show="config.live") LIVE
    .customTag(ng-show="config.customTag" ng-style="{'background': config.customTag.background, color: config.customTag.color}") {{config.customTag.text}}
    .header {{config.header}}:&nbsp;
    .details {{config.details}}
    i.expand.fa.fa-plus(ng-click="vm.toggle()")
  .expanded(ng-show="vm.expanded", ng-style="{'background-image': 'url('+vm.loadImage(config.backgroundImage)+')'}")
    .mask
    .left(ng-style="{'height': (config.height || vm.defaultHeight) + 'px'}")
      .header {{config.header}}
      .details {{config.details | characters:110}}
      a.action(ng-show="config.redirectText && config.redirectTo", href="{{config.redirectTo}}") {{config.redirectText}}
    .right(ng-if="config.videoCode", ng-style="{'height': (config.height || vm.defaultHeight) + 'px'}")
      .btn-play(ng-hide="vm.loadVideo")
        i.fa.fa-play-circle-o(ng-click="vm.loadVideo=true;")
        div Play Video
      iframe(ng-if="vm.loadVideo" ng-src="{{vm.videoUrl(config.videoCode)}}", allowfullscreen, frameborder="0", width="100%" height="{{config.height||vm.defaultHeight}}")
      .live(ng-show="config.liveExpand") LIVE
    i.collapse.fa.fa-remove(ng-click="vm.toggle()")
