.profile-subtrack-container(ng-cloak, ng-show="profileVm.status.stats === 'ready'")

  .nav
    a(ui-sref="profile.about({userHandle: profileVm.profile.handle})")
      img.arrow(ng-src="{{vm.ASSET_PREFIX}}/images/ico-arrow-big-left.svg")

    .breadcrumbs
      .handle
        img.profile-circle(fallback-src="{{vm.ASSET_PREFIX}}/images/avatarPlaceholder.png", ng-src="{{profileVm.profile.photoURL}}")
        a(ui-sref="profile.about({userHandle: profileVm.profile.handle})")
          | {{vm.userHandle}}
        |  /
      .track {{vm.track | track}}
      .subtrack // {{vm.subTrack | track}}

    .right
      i(class="fa fa-th", ng-click="vm.showNav()")

  include ./develop/develop.jade
  include ./design/design.jade
  include ./data/data.jade
  include ./copilot/copilot.jade
