.profile-subtrack-container(ng-cloak, ng-show="profileVm.status.stats === 'ready'")

  .nav
    img.arrow(src="/images/ico-arrow-big-left.svg")

    .breadcrumbs
      .handle {{vm.userHandle}} //
      .track {{vm.track}}
      .subtrack // {{vm.subTrack}}

    .right

  hr

  include ./develop/develop.jade
  include ./design/design.jade
  include ./copilot/copilot.jade
