.profile-subtrack-container(ng-cloak, ng-show="profileVm.status.stats === 'ready'")

  .breadcrumbs
    .handle {{vm.userHandle}} // {{vm.track}} // {{vm.subTrack}}

  hr

  include ./develop/develop.jade
  include ./design/design.jade
  include ./copilot/copilot.jade
