@import 'tc-includes';
@import 'reset';
@import 'tc-buttons';
@import 'tc-typography';
@import 'tc-forms';
@import 'tc-spinners';
@import 'tc-lists';

html {
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
}
