// TOPCODER FORMS AND FIELDS SECTION
// ----------------------------------------------------------------------
// Topcoder Inputs

//Empty state
input,
textarea,
.tc-input,
toggle-password,
toggle-password-with-tips  {
  height: 38px;
  font-size: 15px;
  @include merriweather-sans-regular;
  line-height: 20px;
  color: $gray-darkest;
  padding-left: 10px;
  margin-bottom: 10px;
  outline: none;
  background: $white;
  border: 1px solid $gray-dark;
  box-shadow: inset 0px 0px 2px 0px rgba(183, 183, 183, 0.2);
  border-radius: 2px;
  cursor: auto;

  &:hover {
    border: 1px solid #A3A3AE;
    box-shadow: inset 0px 0px 2px 0px #B7B7B7;
  }

  &:focus,
  &.focus {
    border: 1px solid #0096FF;
    outline: none;
    box-shadow: inset 0px 0px 2px 1px rgba(133,203,255,0.4);
  }

  transition: .15s all;
}

// Style the placeholders
input {
    @include placeholder {
    color: $accent-gray;
    font-size: 12px;
    @include font-with-weight;
    text-transform: uppercase;
    transition: opacity .15s;
    opacity: 1;
  }
}

input:focus {
  @include placeholder {
    opacity: 0;
    transition: opacity .15s;
  }
}


textarea {
  padding: 10px;
  line-height: 24px;

  @include placeholder {
    color: $accent-gray;
    font-weight: 300;
  }

  &:focus {
    @include placeholder {
      opacity: 0;
      transition: opacity .15s;
    }
  }
}



// Compound fields, reset the input element and style the parent container to resemble input
.tc-input,
toggle-password,
toggle-password-with-tips {
  // Reset the input styles
  input {
    height: 20px;
    border: none;
    background: none;
    box-shadow: none;
    padding: none;

    &:hover,
    &:focus,
    &.focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }

  label {
    display: inline-block;
    text-transform: uppercase;
    @include sofia-pro-medium;
    font-size: 10px;
    line-height: 10px;
    color: $accent-gray;
    height: 20px;
    width: 60px;
    padding: 0;

    input[type='checkbox'] {
      height: 14px;
      width: 14px;
    }
  }
}


angucomplete-alt {
  width: 100%;
  margin-top: 6px;
}



// Custom Inputs
//

.input-sticky-placeholder-container {
  position: relative;

  span.placeholder-text {
    position: absolute;
    top: 14px;
    right: 10px;
    @include sofia-pro-light;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: $accent-gray;
  }
}
