.skill-picker-container
  h1 Welcome to Topcoder!

  p.instruction Pick your tracks and select relevant skills. This helps to get you into the community and find appropriate competitions.

  .track-picker
    h1 Tell us who you are

    .mobile
      .track-button(ng-click="vm.selectTrack('design')")
        .track-checkbox
          input(type="checkbox", ng-checked="vm.tracks.design")

          .checkbox-toggle(ng-class="{ 'checked-track': vm.tracks.design }") #[span] Design

      .track-button(ng-click="vm.selectTrack('develop')")
        .track-checkbox
          input(type="checkbox", ng-checked="vm.tracks.develop")

          .checkbox-toggle(ng-class="{ 'checked-track': vm.tracks.develop }") #[span] Development

      .track-button(ng-click="vm.selectTrack('data_science')")
        .track-checkbox
          input(type="checkbox", ng-checked="vm.tracks.data_science")

          .checkbox-toggle(ng-class="{ 'checked-track': vm.tracks.data_science }") #[span] Data Science

      p.reminder(ng-show="!vm.tracks.design && !vm.tracks.develop && !vm.tracks.data_science") Please pick at least one track, you can always change it later.

      p.reminder(ng-show="vm.tracks.design || vm.tracks.develop || vm.tracks.data_science") Select your skills

      .skills-container
        .skills-section(ng-show="vm.tracks.design")
          p Design

          .track-skills
            .track-skill(ng-repeat="skill in vm.skills.design", ng-click="vm.toggleSkill('design', skill)", ng-class="{'skill-selected': vm.selectedSkills.design[skill]}") {{skill}}

        .skills-section(ng-show="vm.tracks.develop")
          p Development

          .track-skills
            .track-skill(ng-repeat="skill in vm.skills.develop", ng-click="vm.toggleSkill('develop', skill)", ng-class="{'skill-selected': vm.selectedSkills.develop[skill]}") {{skill}}

        .skills-section(ng-show="vm.tracks.data_science")
          p Data Science

          .track-skills
            .track-skill(ng-repeat="skill in vm.skills.data_science", ng-click="vm.toggleSkill('data_science', skill)", ng-class="{'skill-selected': vm.selectedSkills.data_science[skill]}") {{skill}}










    .desktop
      .track-buttons
        .track-button(ng-click="vm.selectTrack('design')")
          .track-checkbox
            input(type="checkbox", id="checkbox-design-mobile", ng-checked="vm.tracks.design")

            label(for="checkbox-design-mobile", ng-class="{ 'checked-track': vm.tracks.design }") #[span] Design

            //- span.subscript [{{vm.selectedSkills.design.numSkills}}]

          .dropdown
            i.fa(ng-class="{'fa-caret-down': vm.dropdown.design}")

        .track-button(ng-click="vm.selectTrack('develop')")
          .track-checkbox
            input(type="checkbox", id="checkbox-develop-mobile", ng-checked="vm.tracks.develop")

            label(for="checkbox-develop-mobile", ng-class="{ 'checked-track': vm.tracks.develop }") #[span] Development

            //- span.subscript [{{vm.selectedSkills.develop.numSkills}}]

          .dropdown
            i.fa(ng-class="{'fa-caret-down': vm.dropdown.develop}")

        .track-button(ng-click="vm.selectTrack('data_science')")
          .track-checkbox
            input(type="checkbox", id="checkbox-data-science-mobile", ng-checked="vm.tracks.data_science")

            label(for="checkbox-data-science-mobile", ng-class="{ 'checked-track': vm.tracks.data_science }") #[span] Data Science

            //- span.subscript [{{vm.selectedSkills.data_science.numSkills}}]

          .dropdown
            i.fa(ng-class="{'fa-caret-down': vm.dropdown.data_science}")

      .skills-tab
        .choose-prompt(ng-show="false") Please pick at least one track, you can always change it later.

        .track-skills
          .track-skill(ng-hide="false", ng-repeat="skill in vm.skills.data_science", ng-click="vm.toggleSkill('data_science', skill)", ng-class="{'skill-selected': vm.selectedSkills.data_science[skill]}") {{skill}}


    button(type="button", ng-click="vm.submitSkills()", ng-class="{'enabled-button': vm.tracks.design || vm.tracks.develop || vm.tracks.data_science}") Done
