.skill-picker-container
  h1 Welcome to Topcoder!

  p Pick your tracks and select relevant skills. This helps to get you into the community and find appropriate competitions.

  .track-picker
    h1 Tell us what you do

    .select-tracks.mobile
      .track-section
        .track-button(ng-class="{'button-expanded': vm.dropdown.design}")
          .track-checkbox
            input(type="checkbox", id="checkbox-design-mobile", ng-checked="vm.tracks.design")

            label(for="checkbox-design-mobile", ng-click="vm.tracks.design = !vm.tracks.design", ng-class="{ 'checked-track': vm.tracks.design }") #[span] Design

            span.subscript [{{vm.selectedSkills.design.numSkills || 0}}]

          .dropdown-mobile(ng-click="vm.dropdown.design = !vm.dropdown.design")
            i.fa(ng-class="{'fa-caret-down': !vm.dropdown.design, 'fa-caret-up': vm.dropdown.design}")

        .track-skills(ng-show="vm.dropdown.design")
          .track-skill(ng-repeat="skill in vm.skills.design", ng-click="vm.toggleSkill('design', skill)", ng-class="{'skill-selected': vm.selectedSkills.design[skill]}") {{skill}}


      .track-button(ng-class="{'button-expanded': vm.dropdown.develop}")
        .track-checkbox
          input(type="checkbox", id="checkbox-develop-mobile", ng-checked="vm.tracks.develop")

          label(for="checkbox-develop-mobile", ng-click="vm.tracks.develop = !vm.tracks.develop", ng-class="{ 'checked-track': vm.tracks.develop }") #[span] Development

          span.subscript [{{vm.selectedSkills.develop.numSkills || 0}}]

        .dropdown-mobile(ng-click="vm.dropdown.develop = !vm.dropdown.develop")
          i.fa(ng-class="{'fa-caret-down': !vm.dropdown.develop, 'fa-caret-up': vm.dropdown.develop}")

      .track-skills(ng-show="vm.dropdown.develop")
        .track-skill(ng-repeat="skill in vm.skills.develop", ng-click="vm.toggleSkill('develop', skill)", ng-class="{'skill-selected': vm.selectedSkills.develop[skill]}") {{skill}}

      .track-button(ng-class="{'button-expanded': vm.dropdown.data_science}")
        .track-checkbox
          input(type="checkbox", id="checkbox-data-science-mobile", ng-checked="vm.tracks.data_science")

          label(for="checkbox-data-science-mobile", ng-click="vm.tracks.data_science = !vm.tracks.data_science", ng-class="{ 'checked-track': vm.tracks.data_science }") #[span] Data Science

          span.subscript [{{vm.selectedSkills.data_science.numSkills || 0}}]

        .dropdown-mobile(ng-click="vm.dropdown.data_science = !vm.dropdown.data_science")
          i.fa(ng-class="{'fa-caret-down': !vm.dropdown.data_science, 'fa-caret-up': vm.dropdown.data_science}")

      .track-skills(ng-show="vm.dropdown.data_science")
        .track-skill(ng-repeat="skill in vm.skills.data_science", ng-click="vm.toggleSkill('data_science', skill)", ng-class="{'skill-selected': vm.selectedSkills.data_science[skill]}") {{skill}}

    p Please pick at least one track, you can always change it later.

    button(type="button", ng-class="{'enabled-button': vm.tracks.design || vm.tracks.develop || vm.tracks.data_science}") Done
