.skill-picker-container
  h1 Welcome to Topcoder!

  p.instruction Hi {{vm.username}}! Your account is now active. To Help other members get to know you, select the tracks in which you're interested, and specify some of your skills. You can edit this information later on your Profile.

  
  .skills-container
    .title skills
    .description Languages, environments, frameworks, libraries, platforms, tools, and any other technologies that you know well. Please select from some popular skills. You can add others later on you Profile.

    .skills-section(ng-show="vm.tracks.design")
      .track-title select design skills

      .skills
        .skill(ng-repeat="tag in vm.featuredSkills | filter:{categories: 'DESIGN'} | orderBy:'priority':true", 
          ng-class="{'selected-skill': vm.mySkills.indexOf(tag.id.toString()) > -1}")
          a(ng-click="vm.toggleSkill(tag.id.toString())")
            .icon 
              i.fa.fa-github
            .name {{tag.name}}
          

    .skills-section(ng-show="vm.tracks.develop")
      .track-title select development skills

      .skills
        .skill(ng-repeat="tag in vm.featuredSkills | filter:{categories: 'DEVELOP'} | orderBy:'priority':true", 
          ng-class="{'selected-skill': vm.mySkills.indexOf(tag.id.toString()) > -1}")
          a(ng-click="vm.toggleSkill(tag.id.toString())")
            .icon 
              i.fa.fa-github
            .name {{tag.name}}

    .skills-section(ng-show="vm.tracks.dataScience")
      .track-title select data science skills

      .skills
        .skill(ng-repeat="tag in vm.featuredSkills | filter:{categories: 'DATA_SCIENCE'} | orderBy:'priority':true", 
          ng-class="{'selected-skill': vm.mySkills.indexOf(tag.id.toString()) > -1}")
          a(ng-click="vm.toggleSkill(tag.id.toString())")
            .icon 
              i.fa.fa-github
            .name {{tag.name}}


  button.button-l(type="button", ng-click="vm.submitSkills()", ng-class="{'enabled-button': vm.tracks.design || vm.tracks.develop || vm.tracks.data_science}") Done
