.lightbox-container
  .left-nav
    img(src="/images/ico-arrow-big-left.svg", ng-click="incrementIndex(-1)")

  .selector
    .title {{challenge.name}}


    img(ng-src="{{selectedImage}}")


    .info
      | {{selectedIndex + 1}} of {{challenge.userDetails.submissions.length}}

    .selections
      img.selection(
        ng-repeat="submission in challenge.userDetails.submissions",
        ng-src="{{submission.submissionImage}}",
        ng-click="updateSelected(submission.submissionImage, $index)",
        ng-class="{'current': submission.submissionImage == selectedImage}"
      )

  .right-nav
    img(src="/images/ico-arrow-big-right.svg", ng-click="incrementIndex(1)")

//  img(ng-src="http://studio.{{DOMAIN}}/studio.jpg?module=DownloadSubmission&sbmid={{challenge.thumbnailId}}&sbt=full", fallback-src="/images/ico-picture.svg")
