.onoffswitch
  input.onoffswitch-checkbox(type='checkbox', name='onoffswitch', checked='', ng-model="model", id="{{uniqueId}}-onoffswitch")
  label.onoffswitch-label(for='{{uniqueId}}-onoffswitch')
    span.onoffswitch-inner
    span.onoffswitch-switch