.track(ng-repeat="track in ['DESIGN', 'DEVELOP', 'DATA_SCIENCE']")
  hr(class="{{!$index  && 'first'}}")

  .content
    .track-details
      .icon(ng-class="{'disabled': !tracks[track]}")
        img(ng-if="track == 'DATA_SCIENCE' && tracks[track]", src="/images/ico-track-data.svg")
        img(ng-if="track == 'DATA_SCIENCE' && !tracks[track]", src="/images/ico-track-data-grey.svg")
        img(ng-if="track == 'DEVELOP' && tracks[track]", src="/images/ico-track-develop.svg")
        img(ng-if="track == 'DEVELOP' && !tracks[track]", src="/images/ico-track-develop-grey.svg")
        img(ng-if="track == 'DESIGN' && tracks[track]", src="/images/ico-track-design.svg")
        img(ng-if="track == 'DESIGN' && !tracks[track]", src="/images/ico-track-design-grey.svg")

      .text
        span.title(class="{{!tracks[track] && 'disabled'}}") {{track | track}}
        .description
          span(ng-if="track == 'DESIGN'") Website, mobile, and product design; UI and UX
          span(ng-if="track == 'DEVELOP'") Software architecture, component assembly, application developent, and bug hunting
          span(ng-if="track == 'DATA_SCIENCE'") Algorithms and data structures, statistical analysis

    .onoffswitch
      input.onoffswitch-checkbox(type='checkbox', name='onoffswitch', checked='', ng-model="tracks[track]", id="{{track}}-onoffswitch")
      label.onoffswitch-label(for='{{track}}-onoffswitch')
        span.onoffswitch-inner
        span.onoffswitch-switch

hr.bottom
