.header-dashboard(ui-view="header-dashboard")

.my-dashboard-container
  .subtrack-stats(id="stats", ui-view="subtrack-stats")

  .challenges(id="challenges", ui-view="my-challenges")

  .srms(id="srms", ui-view="srms", ng-show="dashboard.showSRMs")

  .programs(id="community", ui-view="programs")

  .community-updates(ui-view="community-updates")
