.header-dashboard(ui-view="header-dashboard")

.my-dashboard-container
  .subtrack-stats(id="stats", ui-view="subtrack-stats")

  .challenges(id="challenges", ui-view="my-challenges")

  .tco.tco17
    .tc-banner-placeholder.cognitive
      .container
        .img
        .description Learn about Cognitive technologies and get hands on experience as a member of the Topcoder Cognitive Community.
        a(href="https://cognitive.topcoder.com").cta.tc-btn-white.tc-btn-radius Learn More

  .tco.tco17
    .tc-banner-placeholder.black.bg-image
      .container
        .title 2017 Topcoder Open
        .subtitle October 21-24, 2017 </br>Buffalo, NY, USA
        .description The Ultimate Programming and Design Tournament - The Final Stage
        a(href="http://tco17.topcoder.com/").cta.tc-btn-white.tc-btn-radius Learn More
    
  .srms(id="srms", ui-view="srms", ng-show="dashboard.showSRMs")

  .programs(id="community", ui-view="programs")

  .community-updates(ui-view="community-updates")

