.my-dashboard-container.member-profile-header
  .welcome-back(ui-view="header")
.my-dashboard-container.widgets
  .row
    .my-dashboard-widget.my-challenges(ui-view="my-challenges")
  .row
    .my-dashboard-widget.srm-gadget(ui-view="srms")

    .ios-program(ui-view="programs")
    .my-dashboard-widget.blog-post(ui-view="community-updates")
