//- .header-dashboard(ui-view="header-dashboard")

.my-dashboard-container
  .subtrack-stats(id="stats", ui-view="subtrack-stats")

  //- .my-challenges(id="challenges", ui-view="my-challenges")

  //- .srms(id="srms", ui-view="srms")

  //- .programs(id="community", ui-view="programs")

  //- .community-updates(ui-view="community-updates")
