.header-dashboard(ui-view="header-dashboard")

.my-dashboard-container
  //- .subtrack-stats(ui-view="subtrack-stats")

  .my-challenges(ui-view="my-challenges")

  .srms(ui-view="srms")

  .programs(ui-view="programs")

  .community-updates(ui-view="community-updates")
