.my-dashboard-container
  .header-dashboard(ui-view="header-dashboard")

  .my-challenges(ui-view="my-challenges")

  .srms(ui-view="srms")

  .programs(ui-view="programs")

  .community-updates(ui-view="community-updates")
