.container(ng-show="loaded")
  .back-link
    .arrow
    p #[a.back(href="https://www.{{domain}}/challenge-details/{{challengeId}}/?type=develop") Back to Challenge]

  h1(ng-bind="challenge.challengeName")

  p.help-center Remember to uphold honesty and fair judging principles as described in the&#32;
    #[a(href="http://help.topcoder.com") help center].

  hgroup
    h2 Your Reviews ({{completed}} of 5 completed)

    h4 All Reviews Due: {{reviewsDue | localTime}}

  table.peer-reviews
    thead
      tr
        th Reviews
        th Status
        th Submission

    tbody
      tr(ng-repeat="review in reviews | orderBy: 'id'", ng-class-even="'even-rows'")
        td Review {{$index + 1}}

        td(ng-if="review.committed === 1")
          a.status(ui-sref="completed({challengeId: challengeId, reviewId: review.id})") {{review.committed | reviewStatus}}
        td(ng-if="review.committed === 0")
          a.status(ui-sref="edit({challengeId: challengeId, reviewId: review.id})") {{review.committed | reviewStatus}}

        td
          a(ng-href="https://software.{{domain}}{{submissionDownloadPath}}{{review.uploadId}}")
            span.glyphicon.glyphicon-download-alt

  button.start-review(type="button", ng-click="getNextReview()") Start another review
