@import 'topcoder-includes';
@import '../partials/combined';

.skill-picker-container {
  @include module-l;
  margin: 0 auto;
  padding: 0 10px;
  @media only screen and (min-width: 768px) {
    width: 768px;
    padding: 0 80px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  hr {
    color: #F6F6F6;
  }

  h1 {
    margin: 20px;
    font-size: 28px;
    @include sofia-pro-bold;
    text-transform: uppercase;
  }
  .instruction {
    margin-bottom: 25px;
    font-size: 18px;
    @include sofia-pro-light;
    color: #A3A3AE;
  }

  .tracks-container {
    width: 100%;
    >.title {
      @include sofia-pro-regular;
      text-transform: uppercase;
      font-size: 18px;
      padding-bottom: 10px;
    }
    >.description {
      @include source-sans-regular;
      color: #A3A3AE;
      font-size: 13px;
      line-height: 18px;
      // border-bottom: 1px solid #A3A3AE;
    }
    .tracks {
      margin-top: 10px;
      .track {
      }
    }
  }

  .skills-container {
    .title {
      @include sofia-pro-regular;
      text-transform: uppercase;
      font-size: 18px;
      padding-bottom: 10px;
    }
    .description {
      @include source-sans-italic;
      color: #A3A3AE;
      font-size: 13px;
      line-height: 20px;
      border-bottom: 1px solid #A3A3AE;
      padding-bottom: 5px;
    }

    .skills-section {

      .track-title {
        margin-top: 25px;
        margin-bottom: 5px;
        text-align: center;
        @include sofia-pro-regular;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: 14px;
      }

      .skills {
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 30px;
        border-bottom: 2px #F0F0F0 solid;
        .skill {
          margin: 15px 10px 10px 10px;
          @media only screen and (min-width: 768px) {
            background-color: $white;
            border: none;
            width: 100px;
          }
          .icon {
            display: none;
            @media only screen and (min-width: 768px) {
              display: block;
              background-color: #FBFBFB;
              border: 1px solid #F0F0F0;
              width: 100px;
              height: 100px;
              padding: 20px;
              margin-bottom: 5px;
            }
          }
          .name {
            background-color: #FBFBFB;
            border: 1px solid #F0F0F0;
            text-align: center;
            @media only screen and (min-width: 768px) {
              background-color: $white;
              border: none;
            }
            @include source-sans-regular;
            font-size: 14px;
            padding: 5px;
            color: $black;
            height: 28px;
          }
        }
        .selected-skill {
          .name {
            background-color: #F2FAFF;
            border: 1px solid #85CCFF;
          }
          @media only screen and (min-width: 768px) {
            .icon {
              background-color: #F2FAFF;
              border: 1px solid #85CCFF;
            }
            .name {
              background-color: $white;
              border: none;
            }
          }

        }
      }
    }
  }

  p {
    font-size: 15px;
    padding: 5px 0px;
  }
  .done-button{
    margin: 30px;
  }
}
