header
  h1.section-title Single Round Matches

  //- a.viewSRMs(ui-sref="my-srms") View All Past SRMs

.section-loading(ng-show="vm.loading")

section(ng-hide="vm.loading")
  .srm-tiles
    srm-tile(ng-repeat="srm in vm.srms", srm="srm", view="'tile'", ng-class="'tile-view'")

    .srm-links-card
      .flex-wrapper
        h2 Show us you can #[span code!]

        a(href="https://community.{{DOMAIN}}/tc?module=ProblemArchive") Problem Archives

        a(href="https://community.{{DOMAIN}}/wiki/display/tc/Algorithm+Problem+Set+Analysis") Match Editorials

.srms-links(ng-hide="vm.loading")
  p Want to compete right now? Try your skills in the #[a(ng-href="https://arena.{{DOMAIN}}/") Topcoder ARENA]!
