header
  h1.section-title Competitive Programming


.section-loading(ng-show="vm.loading")

section(ng-hide="vm.loading")
  .srm-tiles
    srm-tile(ng-repeat="srm in vm.srms", srm="srm", view="'tile'", ng-class="'tile-view'")

    .srm-links-card
      .flex-wrapper
        h2 Practice on past problems

        a.tc-btn.tc-btn-s.tc-btn-wide.tc-btn-ghost(ng-href="https://community.{{DOMAIN}}/tc?module=ProblemArchive") Problem Archives

        a.tc-btn.tc-btn-s.tc-btn-wide.tc-btn-ghost(ng-href="https://community.{{DOMAIN}}/wiki/display/tc/Algorithm+Problem+Set+Analysis") Match Editorials

        a.tc-btn.tc-btn-s.tc-btn-wide.tc-btn-ghost(ng-href="https://www.{{DOMAIN}}/community/getting-started/") Learn More

.srms-links(ng-hide="vm.loading")
  a.tc-btn.tc-btn-s(ui-sref="my-srms") View Past SRMs

  a.tc-btn.tc-btn-s(ng-href="https://arena.{{DOMAIN}}") Launch Arena
