header
  h1.section-title SRMs

  p.viewSRMs()
    a(ui-sref="goToNewSRMsPageWhenBuilt") View All Past SRMs

.section-loading(ng-show="vm.loading")

section.srms(ng-hide="vm.loading")
  srm-tile.srm-tile(ng-repeat="srm in vm.srms", srm="srm", domain="vm.domain")

.section-links
  .link
    a(href="https://community.{{vm.domain}}/tc?module=ProblemArchive") Problem Archives

  .link
    a(href="https://apps.{{vm.domain}}/wiki/display/tc/Algorithm+Problem+Set+Analysis") Match Editorials

  .link
    a(href="") Launch Topcoder Arena

hr
