header
  h1.section-title SRMs

  p.viewSRMs()
    a(ui-sref="goToNewSRMsPageWhenBuilt") View All Past SRMs

.section-loading(ng-show="vm.loading")

section.srm-tiles(ng-hide="vm.loading")
  srm-tile.srm-tile(ng-repeat="srm in vm.srms", srm="srm")

.section-links
  .link
    a(href="https://community.{{DOMAIN}}/tc?module=ProblemArchive") Problem Archives

  .link
    a(href="https://community.{{DOMAIN}}/longcontest/?module=Static&d1=match_editorials&d2=archive") Match Editorials

  .link
    a(href="https://arena.{{DOMAIN}}/") Launch Topcoder Arena
