@import '../partials/combined';
.profile-about-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .activity {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    font-family: 'Lucida Grande';
    text-transform: uppercase;
  }

  .categories {
    @include module-l;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .track {
      margin-top: 22.4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      .name {
        span {
          text-align: left;
          float: left;
          margin-left: 55px;
        }
        width: 300px;
        background-position: 40px 2px;
        background-size: 21px;
        margin: auto;
        font-family: 'Sofia Pro';
        font-weight: 200;
        font-size: 19.6px;
        line-height: 24px;
        margin-bottom: 10.6px;
      }
      .subtrack {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
        height: 52px;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        .name {
          flex-basis: 150px;
          font-family: 'Sofia Pro';
          font-size: 14px;
          line-height: 18px;
          font-weight: 300;
          text-transform: uppercase;
        }
        .ranking {
          margin: auto;
          .number {
            text-align: center;
            font-family: 'Sofia Pro';
            font-size: 13.4px;
            line-height: 16px;
            font-weight: 600;
          }
          .tag {
            text-transform: uppercase;
            margin: 10px auto 0px auto;
            font-family: 'Sofia Pro';
            font-size: 8.4px;
            line-height: 10px;
            color: #7f7f7f;
            font-weight: normal;
          }
        }
        .arrow {
          font-family: 'Sofia Pro';
          font-weight: 200;
          color: #cccccc;
          font-size: 18px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
      .icon {
        width: 80px;
        height: 80px;
        margin: auto;
      }

    }
    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      .action-text {
        margin-top: 32px;
        font-family: 'Sofia Pro';
        font-size: 18px;
        line-height: 24px;
        font-weight: 200;
      }
      .tracks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        margin-top: 20px;
        .track {

        }
      }
      .description {
        margin-top: 50px;
        font-family: 'Source Sans Pro';
        font-size: 15px;
        line-height: 22px;
        width: 60%;
      }
      button.link-button {
        @include button-l;
        margin-top: 20px;
      }
      padding-bottom: 40px;
    }
  }

  .skills {
    @include module-l;
    width: 100%;
    align-self: center;
    padding-bottom: 30px;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 25px;
      margin: auto;
    }
    .more {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      @include button-l;
    }
    .list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
      margin-top: 22px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 130px;
        .skill-icon {
          margin: auto;
          padding: 10px;
          border: 1px solid #f0f0f0;
          height: 80px;
          width: 80px;
          img, i {
            font-size: 50px;
          }
        }
        .name {
          font-family: 'Sofia Pro';
          font-weight: 300;
          text-align: center;
          margin-top: 10px;
        }
      }
    }
    .empty-state {
      width: 100%;
      padding: 30px;
      padding-top: 5px;
      .action-text {
        text-transform: uppercase;
        margin-top: 32px;
        font-family: 'Sofia Pro';
        font-weight: 200;
        font-size: 18px;
        line-height: 24px;
      }
      .description {
        font-family: 'Source Sans Pro';
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
      }
      button.link-button {
        @include button-l;
        margin-top: 30px;
      }
      .list {
        .skill {
          width: 130px;
        }
        padding: 10px;
        margin: 20px auto;
      }
    }
  }
  .external-links {
    @include module-l;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      .action-text {
        text-transform: uppercase;
        margin-top: 32px;
        font-family: 'Sofia Pro';
        font-size: 18px;
        line-height: 24px;
        font-weight: 200;
      }
      .description {
        margin-top: 50px;
        font-family: 'Source Sans Pro';
        font-size: 15px;
        line-height: 22px;
        width: 60%;
      }
      button.link-button {
        @include button-l;
        margin-top: 20px;
      }
      .external-account-container {
        display: flex;
        flex-direction: row;
        margin: 20px;
      }
      padding-bottom: 40px;
    }
  }
}
@media (min-width: 768px) {

.profile-about-container {
  margin-top: 80px;

 .activity {
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;
    font-family: 'Sofia Pro';
    text-transform: uppercase;
  }
    
  .categories {
    .activity {
      font-size: 28px;
      line-height: 34px;
      font-weight: bold;
      font-family: 'Sofia Pro';
      text-transform: uppercase;
    }

    .track {
      width: 100%;
      margin-top: 22.4px;
      cursor: pointer;

      .name {
        background-size: 30px;
        background-position: 16px 4px;
        font-weight: 200;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 34px;
      }
      .subtrack {
        align-items: center;
        width: 75%;
        height: 75px;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        .name {
          font-size: 20px;
          line-height: 24px;
          margin-top: 35px;
        }
        .ranking {
          margin: auto;
          .number {
            font-size: 18px;
            line-height: 23px;
          }
          .tag {
            margin: 7px auto 0px auto;
            font-size: 18px;
            line-height: 23px;
            color: #7f7f7f;
          }
        }
        .arrow {
          color: #cccccc;
          height: 15px;
          margin-right: 10px;
        }
      }
      .icon {
        width: 80px;
        height: 80px;
        margin: auto;
      }

    }
    .empty-state {
      .action-text {
        font-size: 28px;
        line-height: 34px;
      }
      .description {
        font-family: 'Source Sans Pro';
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
      }
      button.link-button {
        @include button-l;
        margin-top: 30px;
      }
      .list {
        .skill {
          width: 130px;
        }
        padding: 10px;
        margin: 20px auto;
      }
    }

  }
  .skills {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 25px;
      margin: auto;
    }
    .list {
      display: flex;
      flex-direction: row;
      width: 70%;
      overflow-x: auto;
      margin: 40px auto 0 auto;
      .leftButton, .rightButton {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
      }
      .skill {
        width: 150px;
        text-align: center;
        margin: 0 30px;
        i {
          font-size: 30px;
        }
        .name {
          text-align: center;
          margin-top: 10px;
        }
      }
    }
    .empty-state {
      .action-text {
        font-size: 28px;
        line-height: 34px;
      }
      .description {
        font-family: 'Source Sans Pro';
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
      }
      button.link-button {
        @include button-l;
        margin-top: 30px;
      }
      .list {
        .skill {
          width: 130px;
        }
        padding: 10px;
        margin: 20px auto;
      }
    }

  }
  .links {
    h1 {
      font-size: 25px;
      margin: auto;
    }
    .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 30px 40px 0 40px;
      .link {
        background: #dddddd;
        width: 375px;
        height: 200px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          font-weight: bold;
          margin-bottom: 15px;
        }
        ul.properties {
          li.property {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
            .key {
              // placeholder
            }
            .value {
              // placeholder
            }
          }
        }
        .logo {
          padding: 10px;
          align-self: flex-end;
          img {
            width: 50px;
          }
        }
      }
    }
  }
  .external-links {
   .empty-state {
    .action-text {
      font-size: 28px;
      line-height: 34px;
    }
    .description {
      font-family: 'Source Sans Pro';
      font-weight: 300;
      font-size: 22px;
      line-height: 32px;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    button.link-button {
      @include button-l;
      margin-top: 30px;
    }
    .list {
      .skill {
        width: 130px;
      }
      padding: 10px;
      margin: 20px auto;
    }
  } 
  }


}


}
