@import 'topcoder-includes';
@import '../partials/combined';

.about-container {
  display: flex;
  flex-flow: row wrap;
  @include module-l;
  background-color: transparent;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.profile-header-container {
  padding: 30px 34px;
  background: white;
  width: 100%;
  max-height: 640px;
  margin-bottom: 5px;
}

.profile-about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 883px;

  .empty-state {
    a.link-button {
      margin-top: 20px;
    }
  }

  .skills {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin-left: auto;
      margin-bottom: 15px;
      margin-right: auto;

      .skill {
        margin-top: 20px;
        &:hover {
          cursor: default;
        }
        a:hover {
          cursor: default;
        }

        + .skill {
          margin-left: 15px;
        }
        &:nth-child(3n + 1) {
          margin-left: 0px;
        }
      }
    }

    .dimmed {
      width:100%;
      margin-top: -70px;
      height:100px;
      background:rgba(0,0,0,0.6);
      opacity:1;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }

    align-self: center;
    background: white;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 25px;
      margin: auto;
    }

    .empty-state {
      width: 100%;
      padding: 30px;
      padding-top: 5px;
      .action-text {
        text-transform: uppercase;
        margin-top: 32px;
        @include sofia-pro-extra-light;
        font-size: 18px;
        line-height: 24px;
      }
      .description {
        @include source-sans-light;
        font-size: 15px;
        line-height: 22px;
      }
      button.link-button {
        margin-top: 30px;
      }
      .list {
        .skill {
          width: 130px;
        }
        padding: 10px;
        margin: 20px auto;
      }
    }
  }

  .activity {
    font-size: 18px;
    line-height: 21px;
    @include sofia-pro-medium;
    text-transform: uppercase;
  }

  .categories {
    @include module-l;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 15px;
    align-self: center;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .track {
      margin-top: 22.4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      pointer: default;

      &.noclick {
        cursor: default;
      }

      .name {
        margin: auto;
        @include sofia-pro-extra-light;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10.6px;
      }
      img {
        height: 20px;
        width: 20px;
        margin-right: 7px;
        margin-bottom: -2px;
      }
      .subtrack {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 52px;
        border-bottom: 1px solid #f0f0f0;
        &.first {
          border-top: 1px solid #f0f0f0;
        }
        &:hover {
          background-color: #f0f0f0;
        }
        .name {
          margin-left: 15px;
          align-self: center;
          flex-basis: 250px;
          align-text: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          @include sofia-pro-light;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-top: 12px;
          span {
          }
        }
        .ranking {
          margin: auto;
          margin-right: 15px;
          color: $accent-gray;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          @include sofia-pro-medium;
          .number {
            text-align: center;
            font-size: 13.4px;
            line-height: 16px;
            span.square {
              position: absolute;
              margin-left: 5px;
              width: 6px;
              height: 6px;
            }
          }
          .tag {
            text-transform: uppercase;
            margin: 5px auto 0px auto;
            @include sofia-pro-regular;
            font-size: 12px;
            line-height: 10px;
            color: #7f7f7f;
          }
        }
        .arrow {
          @include sofia-pro-extra-light;
          color: $accent-gray;
          height: 12px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
      .icon {
        width: 80px;
        height: 80px;
        margin: auto;
      }

    }
    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      .action-text {
        margin-top: 32px;
        @include sofia-pro-extra-light;
        font-size: 18px;
        line-height: 24px;
      }
      .tracks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        .track {
          .text {
            margin-top: 15px;
            text-transform: uppercase;
          }
        }
      }
      .description {
        margin-top: 50px;
        @include source-sans-regular;
        font-size: 15px;
        line-height: 22px;
        width: 60%;
      }
      button.link-button {
        margin-top: 20px;
      }
      padding-bottom: 40px;
    }
  }

  .external-links {
    @include module-l;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


    .activity {
      margin-bottom: 15px;
    }
    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      .action-text {
        text-transform: uppercase;
        margin-top: 32px;
        @include sofia-pro-extra-light;
        font-size: 18px;
        line-height: 24px;
      }
      .description {
        margin-top: 50px;
        @include source-sans-regular;
        font-size: 15px;
        line-height: 22px;
        width: 60%;
      }
      button.link-button {
        margin-top: 20px;
      }
      .external-account-container {
        display: flex;
        flex-direction: row;
        margin: 20px;
      }
      padding-bottom: 40px;
    }
  }
}

@media (min-width: 900px) {
  .about-container {
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
.about-container {
  padding-top: 30px;
}
.profile-header-container {
  max-width: 348px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.profile-about-container {

  .activity {
    font-size: 24px;
    line-height: 30px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    .list {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      margin: -20px auto 50px auto;
      .skill {
        margin-top: 50px;
        margin-right: 30px;
        &:nth-child(3n + 1) {
          margin-left: 15px;
        }
      }
      .leftButton, .rightButton {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
      }

    }
    .empty-state {
      .action-text {
        font-size: 28px;
        line-height: 34px;
      }
      .description {
        @include source-sans-light;
        font-size: 22px;
        line-height: 32px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
      }
      button.link-button {
        margin-top: 30px;
      }
      .list {
        .skill {
          width: 130px;
        }
        padding: 10px;
        margin: 20px auto;
      }
    }

  }

  .categories {
    margin-top: 1px;
    padding-bottom: 40px;
    padding-top: 0px;
    .activity {
      font-size: 28px;
      line-height: 34px;
      @include sofia-pro-bold;
      text-transform: uppercase;
    }

    .track {
      width: 100%;
      padding-top: 30px;
      .name {
        img {
          height: 30px;
          width: 30px;
          margin-right: 7px;
          margin-bottom: -4px;
        }
        background-size: 30px;
        background-position: 16px 4px;
        font-weight: 200;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
        margin-top: 0px;
        @include sofia-pro-medium;
      }

      .subtrack {
        align-items: center;
        width: 75%;
        height: 60px;
        .name {

          font-size: 18px;
          flex-basis: 350px;
          line-height: 24px;
          margin-top: 17px;
          margin-bottom: 20px;
        }
        .ranking {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .number {
            font-size: 18px;
            line-height: 23px;
          }
          .tag {
            margin-top: 2px;
            font-size: 12px;
            line-height: 14px;
            color: #7f7f7f;
          }
        }
        .arrow {
          color: #cccccc;
          height: 15px;
          margin-right: 10px;
        }
      }
      .icon {
        width: 80px;
        height: 80px;
        margin: auto;
      }

    }
    .empty-state {
      .action-text {
        font-size: 28px;
        line-height: 34px;
      }
      .description {
        @include source-sans-light;
        font-size: 22px;
        line-height: 32px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
      }
      button.link-button {
        margin-top: 30px;
      }
      .list {
        .skill {
          width: 130px;
        }
        padding: 10px;
        margin: 20px auto;
      }
    }

  }

  .external-links {
    margin-top: 1px;
    padding-top: 30px;
    padding-bottom: 40px;
    .activity {
      margin-bottom: 0px;
      text-transform: uppercase;
    }
   .empty-state {
    .action-text {
      font-size: 28px;
      line-height: 34px;
    }
    .description {
      @include source-sans-light;
      font-size: 22px;
      line-height: 32px;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    button.link-button {
      margin-top: 30px;
    }
    .list {
      .skill {
        width: 130px;
      }
      padding: 10px;
      margin: 20px auto;
    }
  }
  }


}


}
