@import '../partials/combined';

.ngdialog.ngdialog-theme-default .ngdialog-content {
  display: flex;
  flex-flow: row wrap;

  .badges {
    width: 100%;
    margin-top: 10px;
    justify-content: center;

    .content {
      max-height: 300px;
      overflow: auto;
      .badgeGroups {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
      }
      .footer-badges {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }
    }
  }
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  @media (max-width: 768px) {
    width: 100%;
    border-radius: 0;
  }
  @media (min-width: 768px) {
    width: 80%;
  }
  @media (min-width: 992px) {
    width: 60%;
  }
  @media (min-width: 1200px) {
    width: 50%;
  }
}