.profile-develop-container {
  display: flex;
  flex-direction: column;
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    .backButton {
      margin-left: 10px;
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
  .stats {
    .graphs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      img {
        width: 700px;
      }
    }
    h2.detailed {
      margin: 50px auto 25px auto;
      text-align: center;
    }
    ul.vertical-stats {
      width: 500px;
      margin: 0 auto;
      li {
        margin: 10px 0;
      }
    }
  }

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 0 0;
    a {
      width: 100px;
      padding: 8px;
      text-align: center;
      &.selected {
        border: 1px solid #dddddd;
      }
    }
  }

  .challenges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
}
