@import '../partials/combined';

.profile-header-container {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left {

    display: flex;

  }

  .right {

    h4 {
      color: gray;
    }
  }

}
