@import '../partials/combined';

.profile-header-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .tracks-links {
    .tracks {
      display: flex;
      justify-content: center;
      .track {
        background: #dddddd;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 15px 5px;
      }
    }



    h4 {
      color: gray;
    }
  }
}

.horizontal-stats {
  display: flex;
  justify-content: center;
  .stat {
    margin: 0px 15px;
    .value {
      text-align: center;
    }
    .name {
      margin-top: 8px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 17px;
    }
  }
}

ul.vertical-stats {
  display: flex;
  flex-direction: column;
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

hr {
  width: 100%;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
}
