@import '../partials/combined';

.profile-header-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .tracks-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    .tracks {
      display: flex;
      justify-content: center;
      .track {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 8px 0 8px;
        .text {
          font-family: 'Sofia Pro';
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          margin-top: 11px;
          text-transform: uppercase;
        }
      }
    }

    hr {
      margin-top: 14px;
      color: #f0f0f0;
    }

    .links {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .link {
        background: #00aeff;
        border-radius: 5px;
        padding: 7px 12px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 14px;
        font-family: 'Sofia Pro';
        line-height: 20px;
      }
    }


  }
}



hr {
  width: 100%;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
}
