.develop-icon {
  background-image: url(../../images/ico-track-develop.svg);
  background-position:0 0;
  background-repeat:no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
}
.design-icon {
  background-image: url(../../images/ico-track-design.svg);
  font-size: 30px;
  background-position:0 0;
  background-repeat:no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
}
.data-icon {
  background-image: url(../../images/ico-track-data.svg);
  background-position:0 0;
  background-repeat:no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
}
.copilot-icon {
  background-image: url(../../images/ico-track-copilot.svg);
  background-position:0 0;
  background-repeat:no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
}
