@import '../partials/combined';

.profile-subtrack-container {
  display: flex;
  flex-direction: column;
  
  .nav {
    @include module-full-width;
    background: white;
    height: 100px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    .arrow {
      width: 15px;
    }
    .right {
      width: 15px;
    }
    .breadcrumbs {
      font-family: 'Sofia Pro';
      font-weight: 200;
      font-size: 14px;
      line-height: 16px;
      .handle {
        display: none;
        a {
          text-decoration: none;
          color: black;
          &:hover {
            font-weight: 300;
          }
        }
      }
      .track {
        display: block;
        color: black;
        text-align: center;
        text-transform: uppercase;
      }
      .subtrack {
        display: block;
        color: $accent-color;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  .top {
    @include module-l;
    background: white;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
  }
  .bottom {
    @include module-l;
    background: white;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  .horizontal-stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .stat {
      margin: 5px 7px;
      background: #f6f6f6;
      height: 85px;
      width: 85px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: 'Sofia Pro';

      .value {
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        &.rating {
          span.square {
            position: absolute;
            margin-left: 4px;
            margin-top: 5px;
            width: 6px;
            height: 6px;
          }
        }
      }
      .name {
        font-weight: 500;
        margin-top: 8px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 9px;
        color: #a3a3ae;
      }
    }
  }

  ul.vertical-stats {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .develop, .design {

    .graphs {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h2.detailed {
      margin: 50px auto 25px auto;
      text-align: center;
      font-family: 'Lucida Grande';
      font-size: 18px;
      line-height: 21px;
      font-weight: bold;
      text-transform: uppercase;
    }
    ul.vertical-stats {
      width: 90%;
      margin: 0 auto;
      li {
        font-family: 'Sofia Pro';
        font-size: 15px;
        line-height: 18px;
        padding: 14px;
        border-bottom: 1px solid #f6f6f6;
        .right {
          color: #00aeff;
        }
        &.first {
          border-top: 1px solid #f6f6f6;
        }
      }
    }

    .tabs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 15px;
      border-bottom: solid 1px #a3a3ae;
      a {
        color: #a3a3ae;
        width: 140px;
        height: 30px;
        padding-top: 6px;
        text-align: center;
        font-family: 'Sofia Pro';
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        &.left {
        }
        &.right {
        }
        &.selected {
          color: black;
          border-bottom: solid 3px #0096ff;
        }
      }
    }

    tc-section,.tc-section {
      padding: 30px;
    }

    .challenges {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .challenge.tile {
        width: 250px;
        padding: 15px;
      }
    }

  }
}
@media (min-width: 768px) {
.profile-subtrack-container {
  
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    .arrow {
      width: 15px;
      display: none;
    }
    .right {
      width: 15px;
    }
    .breadcrumbs {
      margin-left: -30%;
      font-size: 28px;
      line-height: 34px;
      .handle {
        img.profile-circle {
          border-radius: 50%;
          height: 30px;
          margin-bottom: -5px;
          margin-right: 13px;
        }
        display: inline;
      }
      .track {
        display: inline;
      }
      .subtrack {
        display: inline;
      }
    }
  }
  .top {
    margin-top: 60px;
    padding-top: 10px;
  }
  .bottom {
    padding-top: 30px;
  }
  .horizontal-stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .stat {
      margin: 50px 12px;
      height: 140px;
      width: 140px;

      .value {
        font-size: 32px;
        line-height: 50px;
      }
      .name {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }

  ul.vertical-stats {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .develop, .design {

    .graphs {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h2.detailed {
      margin: 50px auto 25px auto;
      font-family: 'Sofia Pro';
      font-size: 28px;
      line-height: 34px;
    }
    ul.vertical-stats {
      margin-top: 50px;
      width: 95%;
      align-content: space-between;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
      li {
        width: 28%;
        font-family: 'Sofia Pro';
        font-size: 15px;
        line-height: 18px;
        padding: 14px;
        border-bottom: 1px solid #f6f6f6;
        .right {
          color: #00aeff;
        }
        &.first {
          border-top: 1px solid #f6f6f6;
        }
      }
    }

    .tabs {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      a {
        font-size: 24px;
        height: 40px;
        width: 170px;
      }
    }

    .challenges {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .challenge.tile {
        width: 250px;
        padding: 15px;
      }
    }

  }
}
}
