hr

.widget
  .widget-heading
    span.section-title Community Updates
  .widget-body
    .posts
      .post(ng-repeat='blog in vm.blogPosts | orderBy : pubDate : true | limitTo : 4')
        .link
          a(href='{{blog.link}}', target='_blank') {{blog.title}}
        .description(ng-bind-html="blog.description")
    .section-links
      .community-blog.link
        a(href="https://www.topcoder-dev.com/blog/") View Topcoder Blog
      .community.link
        a(href="https://community.topcoder-dev.com/") Go to Community
