header
  h1.section-title Community Updates

section
  .posts
    .post(ng-repeat='blog in vm.blogPosts | orderBy : pubDate | limitTo : 4')
      .blog-link
        a(ng-href='{{blog.link}}', target='_blank') {{blog.title}}

      .description(ng-bind-html="blog.description")

  .section-links
    .link
      a(ng-href="https://www.{{DOMAIN}}/blog/") View Topcoder Blog

    .link
      a(ng-href="https://community.{{DOMAIN}}/") Go to Community
