.tab-panel
  
  ul.tab-set
    li.tab-pill(ng-repeat="tab in tabSet.tabs", ng-class="{'active': tab.active}")
      a(ng-click="tabSet.select(tab)")
        .header 
          {{tab.heading}}

  .tab-view(ng-transclude)
