.challenge-name(ng-bind='challenge.challengeName')

.challenge-details
  .time-left(ng-show="challenge.currentPhaseEndDate")
      span(ng-bind='challenge.currentPhaseEndDate | timeDiff')

  .phase-msg(ng-bind="challenge.phaseMsg")

  .reg-sub-summary
    span.registrants
      i.fa.fa-user
      span.value(ng-bind="challenge.numRegistrants")

    span.submissions
      i.fa.fa-cloud-download
      span.value(ng-bind="challenge.numSubmissions")

  .member-status-msg
    .icon
      i.fa.fa-clock-o

    .msg
      span(ng-bind="challenge.memberStatusMsg")
