script(type="text/javascript", src="////cdn.ravenjs.com/3.0.4/raven.min.js").
script(type="text/javascript").
  Raven
    .config('https://d0aa49f90c664d78ad9276563c81a653@app.getsentry.com/79867')
    .install()
