label.tc-label.tc-textarea__label {{labelText}}
  span.tc-textarea__char-count(ng-if="characterCount")
    span.tc-textarea__char-count--current {{value.length || 0}}

    span {{' / ' + characterCountMax}}

textarea(placeholder="{{placeholder}}", ng-model="value", maxlength="{{characterCountMax}}")
