header
  .user
      img(fallback-src="{{vm.defaultPhotoUrl}}", ng-src="{{vm.profile}}")

      .profile
        p {{vm.profile.handle}}

        a(ng-href="http://community.{{vm.domain}}/tc?module=MyHome") Edit Profile

  .user-stats
    .money-earned
      p(ng-bind='vm.moneyEarned || 0 | currency:undefined:0')

      p Money Earned

    .copilot-challenges(ng-show="vm.isCopilot")
      p(ng-bind='vm.copilotChallengesCount || 0')

      p Co-Pilot #[span Challenges]

hr

.ratings
  .track(ng-repeat="track in vm.trackRatings")
    p(ng-bind="track.rating")

    p(ng-bind="track.phaseDesc")

hr
