header
  //- .user
  //-     img(fallback-src="{{vm.defaultPhotoUrl}}", ng-src="https://www.{{vm.domain}}{{vm.profile.photo.photoFile}}")

  //-     .profile
  //-       p {{vm.profile.handle}}

  //-       a(ng-href="http://community.{{vm.domain}}/tc?module=MyHome") Edit Profile

  profile-widget(profile="vm.profile", edit-profile-link="true")
  
  .user-stats
    .money-earned
      p(ng-bind='vm.moneyEarned || 0 | currency:undefined:0')

      p Money Earned

    .copilot-challenges(ng-show="vm.isCopilot")
      p(ng-bind='vm.copilotChallengesCount || 0')

      p Co-Pilot #[span Challenges]

hr

.section-loading(ng-show="vm.loading")

.ratings(ng-hide="vm.loading")
  .track(ng-repeat="r in vm.rankStats")
    p(ng-bind="r.rank")

    p {{r.track}}:
    p {{r.subTrack}}

hr
