header
  h1 Dashboard

  .user-stats
    .copilot-challenges(ng-show="dashboard.isCopilot")
      p.number(ng-bind='vm.numCopilotActiveContests')

      p Active Challenges

    .money-earned
      p.number(ng-bind='vm.moneyEarned || 0 | currency:undefined:0')

      p Won in prizes

