react-component.listings(name="ChallengeFiltersExample" props="reactProps" watch-depth="reference")

script.
  (function() {
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.async = true;
    s.src = '//api.usersnap.com/load/'+
            '3e7c8f0c-6cf6-41b6-9f2c-e8e4e60dfc59.js';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  })();
