// Header container
.header-wrapper(ng-class="{'autocomplete': main.searchTerm.length > 0}")
  // Main header element
  header.top-header
    // Header content visible on small screens
    .show-small.mobile-heading
      span.tc-text-logo(ng-if="main.menuVisible") [ topcoder ]
      button.btn-open-menu(type="button", ng-if="!main.menuVisible", ng-click="main.menuVisible = true") Menu
      button.btn-close-menu(type="button", ng-if="main.menuVisible", ng-click="main.menuVisible = false")
      // User link (profile or join)
      a(ui-sref="profile.about({userHandle: vm.userHandle})", ng-switch="vm.isAuth" class="user-link" data-ng-if="!main.menuVisible")
        img(ng-switch-when="true", class="user-avatar", ng-src="{{vm.profile.photoURL}}") 
        span(ng-switch-when="false" class="btn-link") JOIN
        
    // main menu 
    ul.main-menu
      // search container
      li.menu-item.search-wrapper
        .menu-item-header.show-large #[button.btn-expand-search.search-icon(type="button")]
        .submenu
          input(type="text" placeholder="find people or competitions" ng-model="main.searchTerm")
          // Suggestion list container
          ul.suggestion-list(ng-if="main.searchTerm.length > 0")
            li(ng-repeat="suggestion in main.suggestions | filter:main.searchTerm | limitTo:5") 
              a(href="javascript:;" class="menu-link") {{suggestion}}
          
      // user menu
      li.menu-item.link-group.user-menu(ng-switch="vm.isAuth", ng-class="{'anonymous-menu': !vm.isAuth}")
        // links for logged in user
        div(ng-switch-when="true")
          .menu-item-header
            img(class="user-avatar", ng-src="{{vm.profile.photoURL}}") 
            span.username {{vm.userHandle}}
          a.btn-link.btn-edit-profile.show-small(ui-sref="settings.profile") EDIT
          ul.submenu
            li.submenu-item #[a.menu-link(ui-sref="dashboard") DASHBOARD]
            li.submenu-item #[a.menu-link(ui-sref="profile.about({userHandle: vm.userHandle})") MY PROFILE]
            li.submenu-item #[a.menu-link(href="{{main.constants.COMMUNITY_URL}}/PactsMemberServlet?module=PaymentHistory&full_list=false") PAYMENTS]
            li.submenu-item #[a.menu-link(ui-sref="settings.profile") SETTINGS]
            li.submenu-item #[a.menu-link(ng-click="vm.logout(); main.menuVisible = vm.isAuth = false") LOG OUT]
        // links for anonymous user
        .menu-item-header(ng-switch-when="false")
          a.btn-link(ui-sref="register") REGISTER
          a.btn-link.secondary-link(ui-sref="login") LOGIN
          
      // 'COMPETE' link group
      li.menu-item.link-group
        .menu-item-header COMPETE
        ul.submenu
          //li.submenu-item #[a.menu-link(href="javascript:;") START HERE]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/challenges/design/active/") DESIGN CHALLENGES]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/challenges/develop/active") DEVELOPMENT CHALLENGES]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/challenges/data/active") DATA SCIENCE CHALLENGES]
          li.submenu-item #[a.menu-link(ng-href="{{main.constants.ARENA_URL}}" target="_blank") COMPETITIVE PROGRAMMING (ARENA)]
            
      // 'LEARN' link group
      li.menu-item.link-group
        .menu-item-header LEARN
        ul.submenu
          //li.submenu-item #[a.menu-link(href="javascript:;") START HERE]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/community/design/") DESIGN]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/community/development/").active DEVELOPMENT]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/community/data-science/") DATA SCIENCE]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/community/data-science/") COMPETITIVE PROGRAMMING]
          //li.submenu-item #[a.menu-link(href="javascript:;") TUTORIALS]
          //li.submenu-item #[a.menu-link(href="javascript:;") EDITORIALS]
          
      // 'COMMUNITY' link group
      li.menu-item.link-group
        .menu-item-header COMMUNITY
        ul.submenu
          //li.submenu-item #[a.menu-link(href="javascript:;") HOME]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/community/members/") MEMBERS]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/community/member-programs/") PROGRAMS]
          li.submenu-item #[a.menu-link(href="{{main.constants.FORUMS_APP_URL}}" target="_blank") FORUMS]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/community/statistics/") STATISTICS]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/community/events/") EVENTS]
          li.submenu-item #[a.menu-link(ng-click="$event.stopPropagation();" href="/blog/") BLOG]
