@import 'topcoder-includes';
@import '../partials/combined';

.community-updates {
  display: flex;
  flex-direction: column;
  color: $gray-darkest;

  header {
    margin-top: 6px;
    padding-top: 30px;
    padding-bottom: 24px;
    background-color: $white;
    @media only screen and (min-width: 1132px) {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 30px;
    }
  }

  .posts {
    padding: 0 10px 6px;
    @media only screen and (min-width: 570px) {
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
      width: 550px;
    }
    @media only screen and (min-width: 850px) {
      width: 830px;
    }
    @media only screen and (min-width: 1132px) {
      width: 1110px;
    }

    .post {
      @include module-s;
      display: flex;
      flex-direction: column;
      border: 1px solid #F0F0F0;
      @media only screen and (min-width: 570px) {
        width: 270px;
        // height: 386px;

        &:nth-child(2n + 1) {
          margin-right: 10px;
        }
      }
      @media only screen and (min-width: 850px) {
        margin-right: 10px;

        &:nth-child(3) {
          margin-right: 0;
        }
      }
      @media only screen and (min-width: 1132px) {
        margin-top: 0;

        &:nth-child(3) {
          margin-right: 10px;
        }
        &:last-child {
          margin-right: 0;
        }
      }

      .blog-link {
        min-height: 76px;
        padding: 20px 10px 12px;
        @include sofia-pro-medium;
        font-size: 16px;
        line-height: 22px;
        background-color: #F2FAFF;
        @media only screen and (min-width: 570px) {
          padding: 20px 20px 12px;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      .description {
        padding: 20px 10px;
        @include source-sans-regular;
        font-size: 13px;
        line-height: 18px;
        @media only screen and (min-width: 570px) {
          padding: 20px 20px;
        }

        a {
          display: block;
          margin-top: 25px;
          color: $primary;
          text-decoration: none;
          @media only screen and (min-width: 1132px) {
            margin-top: 0;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .blog-links {
    @include module-links;
  }
}
