@import '../partials/combined';

.header-dashboard {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      @include sofia-pro-bold;
      font-size: 32px;
      line-height: 38px;
      color: #3D3D3D;
      text-transform: uppercase;
    }

    .user-stats {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      font-size: 14px;

      .money-earned, .copilot-challenges {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50px;

        .number {
          @include sofia-pro-bold;
          font-size: 22px;
          line-height: 28px;
          color: #3D3D3D;
        }

        p:not(.number) {
          @include sofia-pro-regular;
          font-size: 12px;
          line-height: 14px;
          color: #A3A3AE;
        }
      }

      .money-earned {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
      }

      .copilot-challenges {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
