@import '../partials/combined';

.my-challenges {
  min-height: 50px;
  display: flex;
  flex-direction: column;

  > header {
    position: relative;
    margin-bottom: 35px;

    p.noChallenges {
      text-align: center;
      margin-top: 10px;
      font-size: 18px;
    }

    p.viewChallenges {
      position: absolute;
      top: 3px;
      right: 10px;

      a {
        text-decoration: underline;
      }
    }

    p.viewDashboard {
      position: absolute;
      top: 3px;
      left: 10px;

      a {
        text-decoration: underline;
      }
    }

    p.filters {
      position: absolute;
      top: 3px;
      right: 10px;

      a {
        text-decoration: underline;
      }
    }
  }

  .section-loading {
    min-height: 500px;
  }

  section {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #FCFCFC;

    .challenges {
      width: 100%;
      @include horizontal-scroll;
      @media only screen and (min-width: 1125px) {
        display: flex;
        flex-flow: row wrap;
        width: 1125px;
      }

      challenge-tile {
        display: inline-block;
        @media only screen and (min-width: 1125px) {
          display: block;
        }

        &.tile-view {
          margin-left: 15px;
          margin-bottom: 15px;
          @media only screen and (min-width: 1125px) {
            &:nth-child(4n + 1) {
              margin-left: 0;
            }
          }

          &:last-child {
            margin-right: 15px;
            @media only screen and (min-width: 1125px) {
              margin-right: 0;
            }
          }
        }

        &.list-view {
          width: 100%;
        }
      }
    }
  }

  .spotlightChallenges {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
