@import 'topcoder-includes';
@import '../partials/combined';

.my-challenges {
  header {
    position: relative;
  }

  .section-title {
    margin-bottom: 30px;
  }

  .challenge-view-toggle {
    position: absolute;
    bottom: 0;
    right: 55px;
    @media only screen and (max-width: 767px) {
      display: none;
    }

    button {
      margin-right: 17px;
      padding: 0;
      border: 0;
      outline: 0;
      background-color: $white;
      @include sofia-pro-light;
      font-size: 11px;
      line-height: 16px;
      text-transform: uppercase;
      color: #A3A3AE;
      cursor: pointer;

      &.disabled {
        color: $black;
        cursor: default;

        &.tile:before {
          background: url(/images/grid-on.svg);
        }
        &.list:before {
          background: url(/images/list-on.svg);
        }
      }

      &:before {
        content: '';
        display: inline-block;
        margin-bottom: 2px;
        margin-right: 4px;
        vertical-align: middle;
        @include background-image-size(12px, 12px);
      }

      &.tile:before {
        background: url(/images/grid-off.svg);
      }
      &.list:before {
        background: url(/images/list-off.svg);
      }
    }
  }

  .section-loading {
    min-height: 500px;
  }

  .noChallenges {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $gray-darkest;
    padding-left: 20px;
    padding-right: 20px;

    // TODO remove once we are sure we don't need tracks in empty state
    .tracks {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 260px;
      @media only screen and (min-width: 450px) {
        min-width: 350px;
      }

      .track {
        div:first-child {
          margin: 0 auto 10px;
          @include background-image-size(44px, 44px);
        }

        &:last-child {
          display: none;
          @media only screen and (min-width: 450px) {
            display: block;
          }
        }

        p {
          @include sofia-pro-medium;
          font-size: 12px;
          text-transform: uppercase;
        }
      }
      .develop-icon-outline {
        @include develop-icon-outline;
      }
      .design-icon-outline {
        @include design-icon-outline;
      }
      .data-science-icon-outline {
        @include data-icon-outline;
      }
      .copilot-icon-outline {
        @include copilot-icon-outline;
      }
    }

    .info-links {
      text-align: center;
      display: flex;
      flex-direction: column;

      a {
        text-transform: uppercase;
        @include sofia-pro-medium;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        &.find-challenges {
          color: $white;
        }

        &.learn-more {
          font-size: 12px;
          line-height: 12px;
          color: $gray-lighter;
        }
      }
    }
  }

  .hasChallenges {
    padding: 20px 15px 5px 15px;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    background-color: #FCFCFC;

    &.list-view-active {
      padding-top: 0;
      border: 0;
      background-color: $white;

      .section-titles {
        display: flex;
        max-width: 1122px;
        margin: 0 auto;
        border: 1px solid $white;
        padding-left: 5px;

        div {
          display: inline-block;
          flex: 2;
          align-self: flex-end;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 15px;
          @include sofia-pro-regular;
          color: #7F7F7F;
          font-size: 12px;
          text-transform: uppercase;
          @media only screen and (min-width: 1000px) {
            padding-left: 30px;
          }
        }

        .challenge-title, .phase-title {
          border-right: 1px solid $white;
        }

        .regs-subs-title {
          flex: 1;
        }
      }
    }

    .challenges {
      @include horizontal-scroll;

      &.tile-view, &.list-view {
        @media only screen and (min-width: 768px) {
          display: flex;
          margin: 0 auto;
          overflow: visible;
          white-space: normal;
        }
      }

      &.tile-view {
        @media only screen and (min-width: 768px) {
          flex-flow: row wrap;
          width: 555px;
        }
        @media only screen and (min-width: 870px) {
          width: 840px;
        }
        @media only screen and (min-width: 1155px) {
          width: 1125px;
        }
      }

      &.list-view {
        flex-flow: column nowrap;
        align-items: center;
        max-width: 1122px;
      }
    }

    challenge-tile {
      &.tile-view {
        display: inline;
        margin-bottom: 15px;
        @media only screen and (max-width: 767px) {
          display: inline-block;
          margin-left: 15px;

          &:first-child {
            margin-left: 0;
          }
        }
        @media only screen and (min-width: 768px) {
          &:nth-child(2n + 1) {
            margin-right: 15px;
          }
        }
        @media only screen and (min-width: 870px) {
          margin-right: 15px;

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
        @media only screen and (min-width: 1155px) {
          &:nth-child(3n) {
            margin-right: 15px;
          }
          &:nth-child(4n) {
            margin-right: 0;
          }
        }
      }

      &.list-view {
        width: 100%;
      }
    }
  }

  .my-challenges-links {
    @include module-links;
    text-transform: uppercase;
    flex-direction: row;
    padding: 15px 0;

    a:not(:first-child) {
      margin-left: 30px;
    }
  }
}

@media (min-width: 768px) {
  .my-challenges {
    .my-challenges-links {
      a:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
}
