@import '../partials/combined';

.my-challenges {
  min-height: 50px;
  display: flex;
  flex-direction: column;

  > header {
    position: relative;
    margin-bottom: 35px;

    p.noChallenges {
      text-align: center;
      margin-top: 10px;
      font-size: 18px;
    }

    p.viewChallenges {
      position: absolute;
      top: 3px;
      right: 10px;

      a {
        text-decoration: underline;
      }
    }

    p.viewDashboard {
      position: absolute;
      top: 3px;
      left: 10px;

      a {
        text-decoration: underline;
      }
    }

    p.filters {
      position: absolute;
      top: 3px;
      right: 10px;

      a {
        text-decoration: underline;
      }
    }
  }

  .section-loading {
    min-height: 500px;
  }

  section.challenges {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px 15px;
    background-color: #FCFCFC;

    @media only screen and (max-width: 400px) {
      display: block;
      width: 320px;
      margin-left: 0;
      padding: 15px;
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }

    challenge-tile {
      display: flex;
      flex-flow: row wrap;
      width: 270px;


      @media only screen and (max-width: 400px) {
        display: inline-block;
        flex-flow: none;
      }

      &.tile-view {
        margin-left: 15px;
        margin-bottom: 15px;

        &:nth-child(4n + 1) {
          margin-left: -15px;
        }

        @media only screen and (max-width: 400px) {
          margin-bottom: 0;
          margin-left: 0;
          margin-right: 10px;
        }
      }

      &.list-view {
        width: 100%;
      }
    }
  }

  .spotlightChallenges {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
