@import 'topcoder/tc-includes';

.my-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .subtrack-stats {
    width: 100%;
    max-width: 1242px;
    background-color: $white;
  }

  .challenges, .srms, .programs, .ttl, .community-updates {
    @include module-l;
    margin-top: 1px;
    width: 100%;

    header {
      .section-title {
        padding-top: 30px;
      }
    }
  }

  .ttl {
    .tc-banner-placeholder {
      background: url(../../images/team-live-bg.png) repeat;
      .image {
        img {
          width: auto;
        }
      }
    }
  }


  .challenges, .srms, .programs, .ttl, .community-updates {
    padding-top: 0px;
  }

  .section-title {
    @include sofia-pro-medium;
    font-size: 24px;
    line-height: 29px;
    color: $gray-darkest;
    text-align: center;
    text-transform: uppercase;
  }
}
