@import 'tc-includes';

.my-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .subtrack-stats {
    width: 100%;
    max-width: 1242px;
    background-color: $white;
  }

  .challenges, .srms, .programs, .community-updates {
    @include module-l;
    margin-top: 1px;
    width: 100%;

    header {
      .section-title {
        padding-top: 30px;
      }
    }
  }

  .challenges, .srms, .programs, .community-updates {
    @media only screen and (min-width: 900px) {
      padding-top: 0px;
    }
  }

  .section-title {
    @include sofia-pro-medium;
    font-size: 24px;
    line-height: 29px;
    color: $gray-darkest;
    text-align: center;
    text-transform: uppercase;
  }
}
