@import '../partials/combined';

.my-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  @media only screen and (min-width: 1262px) {
    padding-left: 0;
    padding-right: 0;
  }

  .subtrack-stats, .my-challenges, .srms, .programs, .community-updates {
    @include module-l;
    width: 100%;
  }

  .programs {
    @media only screen and (max-width: 450px) {
      padding-top: 10px;
    }
  }

  .section-title {
    @include sofia-pro-bold;
    font-size: 22px;
    color: #3D3D3D;
    text-align: center;
    text-transform: uppercase;
    @media only screen and (min-width: 450) {
      font-size: 28px;
    }
  }

  .section-links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .link {
      border-radius: 5px;
      padding: 10px;
      background-color: $dark-gray;
      margin: 10px;

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}
