@import 'topcoder/tc-includes';

.notifications{
  max-width: 1242px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 1px;
  @include sofia-pro-regular;
  .no-news{
    background-color: $gray-lightest;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 300;
    color: $accent-gray;
    text-align: center;
  }
  .banners{
    background-color: $black;
    margin-top: -1px;
  }
  .banner-row{
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  .banner{
    display: block;
    height: 360px;
    flex: 1;
    background-size: 100% 100%;
    margin-right: 2px;
    &, &:hover, &:focus{
      color: $white;
    }
    &:last-child{
      margin-right: 0;
    }
    &.tco18{
      background: url(../../images/banner-tco18-stage-3.jpg) center/cover;
      background-position: center top;
    }
    &.happy-holi{
      background: url(../../images/happy-holi.png) center/cover;
      background-position: center top;
    }
    &.watson{
      background: url(../../images/banner-watson.jpg) center/cover;
      padding-left: 64px;
      font-size: 32px;
      img{
        width: 152px;
        display: block;
        margin-top: 64px;
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 2px;
      &:last-child{
        margin-bottom: 0;
      }
      &.tco18{
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: #333333;
      }
    }
  }
}
