@import 'topcoder-includes';
@import '../partials/combined';

.programs {
  padding-top: 30px;

  .section-loading {
    min-height: 200px;
  }

  h1.section-title {
    margin-bottom: 30px;

    span {
      text-transform: none;
    }
  }

  .unregistered {

    .title {
      text-transform: none;
    }

    .info-links {

      text-align: center;
      display: flex;
      flex-direction: column;

      a {
        text-transform: uppercase;
        @include sofia-pro-medium;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        &.participate {
          color: $white;
        }

        &.learn-more {
          font-size: 12px;
          line-height: 12px;
          color: $gray-lighter;
        }
      }
    }
  }

  .registered {
    padding: 20px 15px 5px 15px;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    background-color: $gray-lightest;

    .badge-and-challenges {
      @include horizontal-scroll;
      display: flex;
      flex-direction: row;
      @media only screen and (min-width: 768px) {
        flex-wrapper: wrap;
        margin: 0 auto;
        overflow: visible;
        white-space: normal;
        width: 555px;
      }
      @media only screen and (min-width: 870px) {
        width: 840px;
      }
      @media only screen and (min-width: 1155px) {
        width: 1125px;
      }
    }

    .registered-badge {
      display: inline;
      height: 370px;
      min-width: 270px;
      border: 1px solid #DCDCDC;
      border-radius: 4px;
      background-color: $white;
      @media only screen and (max-width: 767px) {
        display: inline-block;
      }

      .flex-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      p {
        margin-top: 60px;
        margin-bottom: 37px;
        @include sofia-pro-light;
        font-size: 20px;
        color: $gray-darkest;
      }

      .badge-timeline {
        width: 120px;
      }

      a {
        display: block;
        margin-top: 37px;
        text-decoration: none;
      }
    }

    ios-card {
      display: inline;
      margin-bottom: 15px;
      @media only screen and (max-width: 767px) {
        display: inline-block;
        margin-left: 15px;

        &:first-child {
          margin-left: 0;
        }
      }
      @media only screen and (min-width: 768px) {
        &:nth-child(2n) {
          margin-left: 15px;
        }
      }
      @media only screen and (min-width: 870px) {
        margin-left: 15px;

        &:nth-child(4n) {
          margin-left: 0;
        }
      }
      @media only screen and (min-width: 1155px) {
        &:nth-child(4n) {
          margin-left: 15px;
        }
      }
    }
  }
}
