@import '../partials/combined';

.programs {
  padding-top: 30px;

  .section-loading {
    min-height: 200px;
  }

  h1.section-title {
    margin-bottom: 30px;

    span {
      text-transform: none;
    }
  }

  .unregistered {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    margin: 0 auto;
    @media only screen and (min-width: 800px) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 750px;
    }
    @media only screen and (min-width: 900px) {
      padding-left: 90px;
      padding-right: 90px;
      max-width: none;
    }

    img {
      width: 300px;
      @media only screen and (min-width: 800px) {
        order: 2;
      }
      @media only screen and (min-width: 1030px) {
        width: 335px;
      }
      @media only screen and (min-width: 1100px) {
        width: 400px;
      }
      @media only screen and (min-width: 1200px) {
        width: 508px;
      }
    }
  }

  .join-program {
    max-width: 451px;
    padding: 0 20px 40px;
    @media only screen and (min-width: 800px) {
      order: 1;
      padding: 0;
      margin-bottom: 30px;
    }

    h3 {
      margin-top: 30px;
      @include sofia-pro-light;
      font-size: 23px;
      text-transform: uppercase;
      color: $primary-text;
      @media only screen and (min-width: 900px) {
        margin-top: 0;
      }
      @media only screen and (min-width: 1000px) {
        font-size: 40px;
      }

      span { text-transform: none; }
    }

    h4 {
      margin-top: 10px;
      @include source-sans-light;
      font-size: 18px;
      line-height: 24px;
      color: #A3A3AE;
      @media only screen and (min-width: 1000px) {
        font-size: 22px;
        margin-top: 6px;
      }
    }

    p {
      margin-top: 20px;
      @include source-sans-regular;
      font-size: 13px;
      line-height: 26px;
      @media only screen and (min-width: 1000px) {
        font-size: 16px;
        margin-top: 60px;
      }
    }

    a {
      display: block;
      margin-top: 30px;
      font-size: 13px;
      color: $primary-color;
      text-decoration: none;
      text-transform: uppercase;
      @media only screen and (min-width: 1000px) {
        font-size: 16px;
      }
    }
  }

  .registered {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #FCFCFC;

    .badge-and-challenges {
      width: 100%;
      @include horizontal-scroll;
      @media only screen and (min-width: 1125px) {
        display: flex;
        flex-flow: row wrap;
        width: 1125px;
        overflow: visible;
      }
    }

    .registered-badge {
      display: inline-block;
      height: 370px;
      width: 270px;
      margin-left: 15px;
      margin-right: 15px;
      border: 1px solid #DCDCDC;
      border-radius: 4px;
      background-color: $white;
      @media only screen and (min-width: 1125px) {
        display: block;
        margin-left: 0;
      }

      .flex-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      p {
        margin-top: 60px;
        margin-bottom: 37px;
        @include sofia-pro-light;
        font-size: 20px;
        color: $primary-text;
      }

      .badge-timeline {
        width: 120px;
      }

      a {
        display: block;
        margin-top: 37px;
        @include button-m-wide;
        text-decoration: none;
      }
    }

    ios-card {
      display: inline-block;
      margin-right: 15px;
      @media only screen and (min-width: 1125px) {
        display: block;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .ios-links {
    @include module-links;

    p {
      @include source-sans-regular;
      font-size: 14px;
      line-height: 20px;
      color: $primary-text;
      @media only screen and (min-width: 900px) {
        font-size: 16px;
      }

      a {
        color: $primary-color;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
