@import '../partials/combined';

.subtrack-stats {
  .ratings {
    .tracks {
      @media only screen and (max-width: 767px) {
        @include horizontal-scroll;
      }
      @media only screen and (min-width: 768px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }

      .track {
        @media only screen and (max-width: 767px) {
          position: relative;
          display: inline-block;
          margin-right: 65px;
          padding: 20px 0;

          &:first-child {
            margin-left: 20px;
          }

          &:last-child {
            margin-right: 20px;
          }

          .flex-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        @media only screen and (min-width: 768px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 30px;
          padding: 30px 20px;
          cursor: pointer;

          &:hover {
            background-color: #F5FAE5;

            .subtrack {
              color: #99CC00;
              border-bottom-color: #99CC00;
            }

            p:last-child {
              color: #5E9EF1;
            }
          }
        }

        &:not(:first-child):before {
          content: '';
          display: block;
          position: absolute;
          top: 32px;
          left: -30px;
          @include forward-slash(1px, 60px, 0, 2px, 30deg);
          background-color: #D1D3D4;
        }

        p {
          @include sofia-pro-regular;
          font-size: 12px;
          color: #A3A3AE;

          &:last-child {
            text-transform: uppercase;
          }
        }

        .subtrack {
          padding-bottom: 7px;
          border-bottom: 1px solid #D1D3D4;
        }

        .rating {
          position: relative;
          margin-top: 17px;
          margin-bottom: 7px;
          font-size: 32px;
          color: $primary-text;
          @media only screen and (max-width: 767px) {
            margin-top: 10px;
          }

          span {
            position: absolute;
            top: 5px;
            right: -10px;
            width: 6px;
            height: 6px;
            background-color: #5E9EF1;
          }
        }
      }
    }
  }
}
