@import 'topcoder/tc-includes';

.subtrack-stats {
  .ratings {
    .tracks {
      @include horizontal-scroll;
      @media only screen and (min-width: 768px) {
        display: none;
      }
    }

    .slide {

      &:not(:first-child) {
        .track:before {
          content: '';
          display: block;
          position: absolute;
          top: 32px;
          left: -30px;
          @include forward-slash(1px, 60px, 0, 2px, 30deg);
          background-color: #D1D3D4;
          @media only screen and (min-width: 768px) {
            top: 42px;
            left: -18px;
          }
        }
      }
    }

    .track {
      position: relative;
      display: inline-block;
      margin-right: 65px;
      padding: 20px 0;
      @media only screen and (min-width: 768px) {
        width: 130px;
        margin-right: 35px;
        padding: 30px 20px;
        cursor: pointer;

        &:hover {
          background-color: $gray-lightest;

          .subtrack {
            color: $gray-darkest;
            border-bottom-color: $gray-darkest;
          }

          p:last-child {
            color: $gray-darkest;
          }
        }
      }

      &:first-child {
        margin-left: 20px;
      }

      &:last-child {
        margin-right: 20px;
      }

      .flex-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      p {
        @include sofia-pro-regular;
        font-size: 12px;
        color: $accent-gray;

        &:last-child {
          text-transform: uppercase;
        }
      }

      .subtrack {
        padding-bottom: 7px;
        border-bottom: 1px solid #D1D3D4;
        width: 90px;
        @include ellipsis;
        text-align: center;
      }

      .rating {
        position: relative;
        margin-top: 17px;
        margin-bottom: 7px;
        font-size: 32px;
        @media only screen and (max-width: 767px) {
          margin-top: 10px;
        }

        span {
          position: absolute;
          top: 5px;
          right: -10px;
          width: 6px;
          height: 6px;
          background-color: #5E9EF1;
        }
      }
    }
  }
}

#chart-tooltip {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: 1000;
  display: none;
}

#chart-tooltip.distribution {
  width: 4px;
  height: 4px;
}

.tooltip-target {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: block;
  top: -4px;
  left: -4px;
}

#chart-tooltip.distribution .tooltip-target {
  top: -2px;
  left: -2px;
  width: 4px;
  height: 4px;
}

.Tooltip .tooltip-container {
  position: relative;
  opacity: 1;
  top: 10px !important;
  left: -150px !important;
  width: 320px;
  height: 115px;
}

.Tooltip .tooltip-container .tooltip-pointer {
  left: 150px !important;
  top: -5.5px !important;
  bottom: auto !important;
}

.Tooltip .tooltip-container.tooltip-hide {
  visibility: visible;
  opacity: 1;
}

#chart-tooltip .tooltip-rating {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-radius: 50%;
  float: left;
  text-align: center;
  padding-top: 23px;
}

#chart-tooltip .tooltip-challenge {
  height: 100%;
  width: calc(100% - 100px);
  float: left;
}

#chart-tooltip .tooltip-challenge .challenge-date {
  font-weight: normal;
  margin-top: 13px;
  font-size: 12px;
}