.my-srms-container

  .page-header
    page-state-header(handle="{{vm.handle}}", page-title="My SRMs", hide-money="true", show-back-link="true", default-state="dashboard")

  .content
    section.my-srms
      .top
        .filters
          a(ng-click="vm.statusFilter !== 'future' && vm.changeFilter('future')", ng-class="{disabled: vm.statusFilter == 'future'}") Upcoming
          span &nbsp; | &nbsp;
          a(ng-click="vm.statusFilter !== 'past' && vm.changeFilter('past')", ng-class="{disabled: vm.statusFilter == 'past'}") Past

        .viewOptions
          button.tile(ng-click="vm.changeView('tile')", ng-class="{ disabled: vm.view === 'tile' }") Grid
          button.list(ng-click="vm.changeView('list')", ng-class="{ disabled: vm.view === 'list' }") List

      .no-srms(ng-if="!vm.srms.length && vm.loading === 'ready'")
        empty-state-placeholder(state-name="my-srms-past", show="vm.statusFilter === 'past'", theme="offwhite")
        empty-state-placeholder(state-name="my-srms-upcoming", show="vm.statusFilter === 'future'", theme="offwhite")

      .has-srms(ng-show="vm.srms.length")
        .data(ng-class="vm.view + '-view'")
          srm-tile.srm-tile(
            ng-repeat="srm in vm.srms | orderBy:vm.orderBy:vm.reverseOrder", 
            srm="srm", view="vm.view", ng-class="vm.view + '-view'", show-results="vm.statusFilter === 'past'", user-id="vm.userId")

        tc-endless-paginator(state="vm.loading", page-params="vm.pageParams")
