.my-srms-container
  .nav
    .breadcrumbs
      .dashboard
        a(ui-sref="dashboard") Dashboard
      .my-srms // My SRMs

  .section-loading(ng-show="vm.loading")

  .content
    section.srms(ng-hide="vm.loading")
      .top
        .filters
          a(ng-click="vm.viewUpcomingSRMs()", ng-class="{disabled: vm.listType == 'future'}") Upcoming
          span &nbsp; | &nbsp;
          a(ng-click="vm.viewPastSRMs()", ng-class="{disabled: vm.listType == 'past'}") Past

        .viewOptions
          button.tile(ng-click="vm.changeView('tile')", ng-class="{ disabled: vm.view === 'tile' }") Grid
          button.list(ng-click="vm.changeView('list')", ng-class="{ disabled: vm.view === 'list' }") List
      .data(ng-class="vm.view + '-view'")
        srm-tile.srm-tile(ng-repeat="srm in vm.srms", srm="srm", view="vm.view", ng-class="vm.view + '-view'", show-results="vm.listType == 'past'")
      .bottom
          tc-paginator(data="vm.srms", page-params="vm.pageParams")
