.loading(ng-show="vm.loading")
  .section-loading


.ratings(ng-if="vm.showRanks && vm.hasRatings && !vm.loading")
  h1.section-title My Ranks

  .tracks
    .track(ng-repeat="r in vm.rankStats | orderBy: ['track', 'rank']", ui-sref="profile.develop({userHandle: vm.profile.handle, track: r.track, subTrack: r.subTrack})")
      p(ng-bind="r.rank")

      p {{r.track}}:
      p {{r.subTrack}}
