.loading(ng-show="vm.loading")
  .section-loading

.ratings(ng-if="vm.hasRanks && !vm.loading")
  .tracks
    .track(ng-repeat="subtrack in vm.subtrackRanks | orderBy: ['track', 'rank']", ui-sref="profile.develop({userHandle: vm.profile.handle, track: subtrack.track, subTrack: subtrack.subTrack})")
      .flex-wrapper
        p.subtrack {{subtrack.subTrack | underscoreStrip}}

        p.rating {{subtrack.stat | number}}
          span(style="background-color: {{subtrack.stat | ratingColor}}", ng-if="subtrack.track === 'DEVELOP' || subtrack.track === 'DATA_SCIENCE'")

        p {{subtrack.statType}}
