.loading(ng-show="vm.loading")
  .section-loading

.ratings(ng-if="vm.hasRanks && !vm.loading")
  .tracks
    .track(ng-repeat="subtrack in vm.subtrackRanks | orderBy: ['track', 'rank']", ui-sref="profile.subtrack({userHandle: vm.handle, track: subtrack.track, subTrack: subtrack.subTrack})")
      .flex-wrapper
        p.subtrack {{subtrack.subTrack | underscoreStrip}}

        p.rating(ng-if="subtrack.track !== 'DESIGN'", style="color: {{subtrack.stat | ratingColor}}") {{subtrack.stat | number}}
          span(style="background-color: {{subtrack.stat | ratingColor}}", ng-if="subtrack.track === 'DEVELOP' || subtrack.track === 'DATA_SCIENCE'")

        p.rating(ng-if="subtrack.track === 'DESIGN'", style="color: #21B2F1") {{subtrack.stat | number}}

        p {{subtrack.statType}}

  ul(rn-carousel, rn-carousel-controls)
    li(ng-repeat="subtracks in vm.subtrackRanksCollection")
      .track(ng-repeat="subtrack in subtracks", ui-sref="profile.subtrack({userHandle: vm.handle, track: subtrack.track, subTrack: subtrack.subTrack})")
        .flex-wrapper
          p.subtrack {{subtrack.subTrack | underscoreStrip}}

          p.rating(ng-if="subtrack.track !== 'DESIGN'", style="color: {{subtrack.stat | ratingColor}}") {{subtrack.stat | number}}
            span(style="background-color: {{subtrack.stat | ratingColor}}", ng-if="subtrack.track === 'DEVELOP' || subtrack.track === 'DATA_SCIENCE'")

          p.rating(ng-if="subtrack.track === 'DESIGN'", style="color: #21B2F1") {{subtrack.stat | number}}

          p {{subtrack.statType}}
