.loading(ng-show="vm.loading")
  .section-loading

.ratings(ng-if="vm.hasRanks && !vm.loading")
  .tracks
    .track(ng-repeat="subtrack in vm.subtrackRanks", ui-sref="profile.subtrack({userHandle: vm.handle, track: subtrack.track, subTrack: subtrack.subTrack})")
      .flex-wrapper
        p.subtrack {{subtrack.subTrack | underscoreStrip}} 

        p.rating(ng-if="subtrack.track !== 'DESIGN'", style="color: {{subtrack.stat | ratingColor}}") {{subtrack.stat | number}}
          span(style="background-color: {{subtrack.stat | ratingColor}}", ng-if="subtrack.track === 'DEVELOP' || subtrack.track === 'DATA_SCIENCE'")

        p.rating(ng-if="subtrack.track === 'DESIGN'", style="color: #21B2F1") {{subtrack.stat | number}}

        p {{subtrack.statType}}

  responsive-carousel(data="vm.subtrackRanks", handle="{{vm.handle}}")
    .track(ui-sref="profile.subtrack({userHandle: handle, track: item.track, subTrack: item.subTrack})")
      .flex-wrapper
        p.subtrack {{item.subTrack | underscoreStrip}}

        p.rating(ng-if="item.track !== 'DESIGN'", style="color: {{item.stat | ratingColor}}") {{item.stat | number}}
          span(style="background-color: {{item.stat | ratingColor}}", ng-if="item.track === 'DEVELOP' || item.track === 'DATA_SCIENCE'")

        p.rating(ng-if="item.track === 'DESIGN'", style="color: #21B2F1") {{item.stat | number}}

        p {{item.statType}}
