doctype html
html
  head(profile="http://www.w3.org/2005/10/profile")
    base(href="/")

    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

    // favicon
    link(rel="shortcut icon", type="image/png", href="images/favicon.ico")

    // build:css styles/vendor.css
    //- bower:css
    link(rel='stylesheet', href='../bower_components/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='../bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.css')
    link(rel='stylesheet', href='../bower_components/devicon/devicon.min.css')
    link(rel='stylesheet', href='../bower_components/angular-dropdowns/dist/angular-dropdowns.css')
    //- endbower
    // endbuild

    // build:css styles/app.css
    //- inject:css
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/topcoder.css")
    link(rel="stylesheet", href="assets/css/profile/header.css")
    link(rel="stylesheet", href="assets/css/profile/develop.css")
    link(rel="stylesheet", href="assets/css/profile/about.css")
    link(rel="stylesheet", href="assets/css/peer-review/reviewStatus.css")
    link(rel="stylesheet", href="assets/css/peer-review/readOnlyScorecard.css")
    link(rel="stylesheet", href="assets/css/peer-review/peer-review.css")
    link(rel="stylesheet", href="assets/css/peer-review/edit.css")
    link(rel="stylesheet", href="assets/css/peer-review/completed.css")
    link(rel="stylesheet", href="assets/css/member-dashboard/srms.css")
    link(rel="stylesheet", href="assets/css/member-dashboard/programs.css")
    link(rel="stylesheet", href="assets/css/member-dashboard/my-dashboard.css")
    link(rel="stylesheet", href="assets/css/member-dashboard/my-challenges.css")
    link(rel="stylesheet", href="assets/css/member-dashboard/header-dashboard.css")
    link(rel="stylesheet", href="assets/css/member-dashboard/community-updates.css")
    link(rel="stylesheet", href="assets/css/layout/header.css")
    link(rel="stylesheet", href="assets/css/layout/footer.css")
    link(rel="stylesheet", href="assets/css/directives/srm-tile.css")
    link(rel="stylesheet", href="assets/css/directives/profile-widget/profile-widget.css")
    link(rel="stylesheet", href="assets/css/directives/challenge-tiles.css")
    link(rel="stylesheet", href="assets/css/account/reset-password.css")
    link(rel="stylesheet", href="assets/css/account/register.css")
    link(rel="stylesheet", href="assets/css/account/login.css")
    link(rel="stylesheet", href="assets/css/account/account.css")
    //- endinject
    // endbuild

  body(ng-app="topcoder", ng-controller="TopcoderController as main", ng-class="{'account-background': $state.current.data.onAccountPage}", ng-strict-di)

    //- include ./layout/header/header.jade
    #header(ui-view="header")

    notifications-bar.demoChanges(class="notifications", closeIcon="fa fa-times-circle")

    //- include ./layout/header/sidebar.jade
    div(ui-view="sidebar")

    .view-container(ng-class="{slided: main.sidebarActive}")
      div(ui-view="container")

    //- include ./layout/footer/footer.jade
    div(ui-view="footer")

    // build:js js/vendor.js
    //- bower:js
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='../bower_components/angular-cookies/angular-cookies.js')
    script(src='../bower_components/a0-angular-storage/dist/angular-storage.js')
    script(src='../bower_components/angular-jwt/dist/angular-jwt.js')
    script(src='../bower_components/moment/moment.js')
    script(src='../bower_components/lodash/lodash.js')
    script(src='../bower_components/restangular/dist/restangular.js')
    script(src='../bower_components/jstzdetect/jstz.min.js')
    script(src='../bower_components/angular-sanitize/angular-sanitize.js')
    script(src='../bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.js')
    script(src='../bower_components/x2js/xml2json.min.js')
    script(src='../bower_components/angular-xml/angular-xml.js')
    script(src='../bower_components/angular-img-fallback/angular.dcb-img-fallback.js')
    script(src='../bower_components/angular-filter/dist/angular-filter.js')
    script(src='../bower_components/angular-dropdowns/dist/angular-dropdowns.js')
    //- endbower
    //- inject:nonBowerScripts
    script(src="/scripts/auth0.js")
    script(src="/scripts/moment-timezone-with-data-2010-2020.js")
    //- endinject
    // endbuild

    // build:js js/app.js
    //- inject:js
    script(src="account/account.module.js")
    script(src="account/account.routes.js")
    script(src="account/login/login.controller.js")
    script(src="account/register/register.controller.js")
    script(src="account/reset-password/reset-password.controller.js")
    script(src="account/validateLogin.directive.js")
    script(src="account/validateRegister.directive.js")
    script(src="blocks/exception/exception.module.js")
    script(src="blocks/exception/exception.js")
    script(src="blocks/exception/exception-handler.provider.js")
    script(src="blocks/logger/logger.module.js")
    script(src="blocks/logger/logger.js")
    script(src="directives/tcui-components.module.js")
    script(src="directives/challenge-tiles/challenge-tile.directive.js")
    script(src="directives/profile-widget/profile-widget.directive.js")
    script(src="directives/skill-tile/skill-tile.directive.js")
    script(src="directives/slideable.directive.js")
    script(src="directives/srm-tile/srm-tile.directive.js")
    script(src="directives/tc-section/tc-section.directive.js")
    script(src="topcoder.module.js")
    script(src="filters/deadline-msg.filter.js")
    script(src="filters/listRoles.filter.js")
    script(src="filters/local-time.filter.js")
    script(src="filters/location.filter.js")
    script(src="filters/ordinal.filter.js")
    script(src="filters/percentage.filter.js")
    script(src="filters/time-diff.filter.js")
    script(src="filters/tracks.filter.js")
    script(src="layout/layout.module.js")
    script(src="layout/header/header.controller.js")
    script(src="my-dashboard/my-dashboard.module.js")
    script(src="my-dashboard/community-updates/community-updates.controller.js")
    script(src="my-dashboard/header-dashboard/header-dashboard.controller.js")
    script(src="my-dashboard/my-challenges/my-challenges.controller.js")
    script(src="my-dashboard/my-dashboard.controller.js")
    script(src="my-dashboard/my-dashboard.routes.js")
    script(src="my-dashboard/programs/programs.controller.js")
    script(src="my-dashboard/srms/srms.controller.js")
    script(src="peer-review/peer-review.module.js")
    script(src="peer-review/completed-review/completed-review.controller.js")
    script(src="peer-review/edit-review/edit-review.controller.js")
    script(src="peer-review/peer-review.routes.js")
    script(src="peer-review/readOnlyScorecard/readOnlyScorecard.controller.js")
    script(src="peer-review/review-status/review-status.controller.js")
    script(src="peer-review/review-status/review-status.filter.js")
    script(src="profile/profile.module.js")
    script(src="profile/about/about.controller.js")
    script(src="profile/develop/develop.controller.js")
    script(src="profile/profile.controller.js")
    script(src="profile/profile.routes.js")
    script(src="sample/sample.controller.js")
    script(src="sample/sample.module.js")
    script(src="sample/sample.routes.js")
    script(src="services/services.module.js")
    script(src="services/api.service.js")
    script(src="services/authtoken.service.js")
    script(src="services/blog.service.js")
    script(src="services/challenge.service.js")
    script(src="services/helpers.service.js")
    script(src="services/memberCert.service.js")
    script(src="services/notification.service.js")
    script(src="services/profile.service.js")
    script(src="services/review.service.js")
    script(src="services/scorecard.service.js")
    script(src="services/srm.service.js")
    script(src="services/tcAuth.service.js")
    script(src="services/user.service.js")
    script(src="topcoder.constants.js")
    script(src="topcoder.controller.js")
    script(src="topcoder.interceptors.js")
    script(src="topcoder.routes.js")
    //- endinject

    // inject:templates.js
    // endinject
    // endbuild

    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');
      __gaTracker('create', 'UA-6340959-1', 'auto');
      __gaTracker('set', 'forceSSL', true);
      __gaTracker('require', 'displayfeatures');
      __gaTracker('send','pageview');
