doctype html
html
  head
    base(href="/")

    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

    // inject:css
    link(rel="stylesheet", href="assets/css/login.css", type="text/css")
    // endinject

  body(ng-app="topcoder-account")
    div(ui-view, ng-class="$state.current.name")

    // bower:js
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/angular-ui-router/release/angular-ui-router.js')
    // endbower

    // inject:js
    // endinject
    script(src="app.js", type="text/javascript")
    script(src="app.routes.js", type="text/javascript")
    script(src="login/login.controller.js", type="text/javascript")
