doctype html
html
  head
    base(href="/")

    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

    // build:css styles/vendor.css
    //- bower:css
    link(rel='stylesheet', href='../bower_components/fontawesome/css/font-awesome.css')
    //- endbower
    // endbuild

    // build:css styles/app.css
    //- inject:css
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/topcoder.css")
    link(rel="stylesheet", href="assets/css/account/account.css")
    link(rel="stylesheet", href="assets/css/account/login.css")
    link(rel="stylesheet", href="assets/css/account/register.css")
    link(rel="stylesheet", href="assets/css/layout/account-header.css")
    link(rel="stylesheet", href="assets/css/layout/footer.css")
    link(rel="stylesheet", href="assets/css/layout/header.css")
    link(rel="stylesheet", href="assets/css/peer-review/completed.css")
    link(rel="stylesheet", href="assets/css/peer-review/edit.css")
    link(rel="stylesheet", href="assets/css/peer-review/peer-review.css")
    link(rel="stylesheet", href="assets/css/peer-review/readOnlyScorecard.css")
    link(rel="stylesheet", href="assets/css/peer-review/reviewStatus.css")
    //- endinject
    // endbuild

  body(ng-app="topcoder", ng-controller="TopcoderController as main", ng-strict-di)

    //- include ./layout/header/header.jade
    #header(ui-view="header")

    //- include ./layout/header/sidebar.jade
    div(ui-view="sidebar")

    .view-container(ng-class="{slided: main.sidebarActive}")
      div(ui-view="container")

    //- include ./layout/footer/footer.jade
    div(ui-view="footer")

    // build:js js/vendor.js
    //- bower:js
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='../bower_components/angular-cookies/angular-cookies.js')
    script(src='../bower_components/angular-jwt/dist/angular-jwt.js')
    script(src='../bower_components/moment/moment.js')
    script(src='../bower_components/lodash/lodash.js')
    script(src='../bower_components/restangular/dist/restangular.js')
    script(src='../bower_components/a0-angular-storage/dist/angular-storage.js')
    script(src='../bower_components/auth0.js/build/auth0.js')
    script(src='../bower_components/auth0-lock/build/auth0-lock.js')
    script(src='../bower_components/auth0-angular/build/auth0-angular.js')
    //- endbower
    //- inject:nonBowerScripts
    script(src="/scripts/auth0-1.6.4.js")
    script(src="/scripts/jstz-1.0.4.js")
    script(src="/scripts/moment-timezone-with-data-2010-2020.js")
    //- endinject
    // endbuild

    // build:js js/app.js
    //- inject:js
    script(src="topcoder.module.js")
    script(src="topcoder.constants.js")
    script(src="topcoder.controller.js")
    script(src="topcoder.interceptors.js")
    script(src="topcoder.routes.js")
    script(src="account/account.module.js")
    script(src="layout/layout.module.js")
    script(src="peer-review/peer-review.module.js")
    script(src="sample/sample.module.js")
    script(src="blocks/logger/logger.module.js")
    script(src="blocks/exception/exception.module.js")
    script(src="account/account.routes.js")
    script(src="account/validateLogin.directive.js")
    script(src="filters/local-time.filter.js")
    script(src="peer-review/peer-review.routes.js")
    script(src="peer-review/slideable.directive.js")
    script(src="sample/sample.controller.js")
    script(src="sample/sample.routes.js")
    script(src="services/api.service.js")
    script(src="services/auth.service.js")
    script(src="services/authtoken.service.js")
    script(src="services/challenge.service.js")
    script(src="services/helpers.service.js")
    script(src="services/profile.service.js")
    script(src="services/review.service.js")
    script(src="services/scorecard.service.js")
    script(src="services/user.service.js")
    script(src="blocks/logger/logger.js")
    script(src="blocks/exception/exception-handler.provider.js")
    script(src="blocks/exception/exception.js")
    script(src="account/register/register.controller.js")
    script(src="account/login/login.controller.js")
    script(src="account/reset-password/reset-password.controller.js")
    script(src="layout/header/header.controller.js")
    script(src="peer-review/completed-review/completed-review.controller.js")
    script(src="peer-review/edit-review/edit-review.controller.js")
    script(src="peer-review/readOnlyScorecard/readOnlyScorecard.controller.js")
    script(src="peer-review/review-status/review-status.controller.js")
    script(src="peer-review/review-status/review-status.filter.js")
    //- endinject

    // inject:templates.js
    // endinject
    // endbuild

    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');
      __gaTracker('create', 'UA-6340959-1', 'auto');
      __gaTracker('set', 'forceSSL', true);
      __gaTracker('require', 'displayfeatures');
      __gaTracker('send','pageview');
