doctype html
html
  head(profile="http://www.w3.org/2005/10/profile")
    base(href="/")

    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="fragment", content="!")

    include ../assets/scripts/google.analytics.jade

    if htmlWebpackPlugin.options.NEW_RELIC_APPLICATION_ID
      include ../assets/scripts/newrelic.analytics.jade

  body(ng-app="topcoder", ng-controller="TopcoderController as main", ng-class="{'menu-visible': main.menuVisible}", ng-strict-di)

    #header(ui-view="header", autoscroll="true")

    .intro-js-container(ng-intro-options="main.introOptions", ng-intro-method="main.startIntro")

    notifications-bar.notifications(closeIcon="fa fa-times-circle")

    toaster-container(toaster-options="{{main.globalToasterConfig}}")

    .fold-wrapper
      .view-container(ui-view="container")
      .fold-pusher

    div(ui-view="footer")
