.profile-header-container(ng-cloak)
  .left
    profile-widget(profile="profileVm.profile", edit-profile-link="profileVm.showEditProfileLink")
  .right
    h4 member for {{profileVm.tenure}} years


ui-view(ng-cloak)
