.profile-header-container
  .left
    profile-widget(handle="vm.profile.handle", tracks="vm.tracks", location="[vm.profile.state, vm.profile.homeCountry]")
  .right
    h4 member for {{vm.tenure}} years

.profile-about-container
  ui-view
