.pager(ng-show="vm.pageParams.totalCount > 0")
  a.prev(ng-click="vm.prevPage()", ng-class="{disabled: !vm.prevPageAvailable}") Previous
  .status
    span Showing &nbsp;
    span.first(ng-bind="vm.pageParams.offset + 1")
    span -
    span.last(ng-bind="vm.pageParams.offset + vm.pageParams.count")
    span &nbsp; of &nbsp;
    span.total(ng-bind="vm.pageParams.totalCount")
  a.next(ng-click="vm.nextPage()", ng-class="{disabled: !vm.nextPageAvailable}") Next