@import 'fonts';

.roboto-thin {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.roboto-thin-italic {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.roboto-light-italic {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
}

.roboto-regular {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.roboto-regular-italic {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.roboto-medium {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.roboto-medium-italic {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 500;
}

.roboto-bold {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.roboto-bold-italic {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 700;
}

.roboto-black {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 900;
}

.roboto-black-italic {
  h3 {
    font-weight: bold;
    margin: 24px 0 12px;
  }
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 900;
}