@import 'partials/combined';
@import 'topcoder-styles';
@include glyphicons-halflings;

body {
  @include merriweather-sans-regular;
  background-color: $ui-page-gray;

  > svg {
    display: none;
  }
}

// TODO move hidden and visible classes to ui kit
.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.fold-wrapper {
  min-height: 100%;
  @media only screen and (min-width : 1025px) {
    margin: 0 auto -270px;
  }
  @media only screen and (max-width : 1024px) {
    margin: 0 auto -200px;
  }
}

.notifications {
  @media screen and (min-device-width: 768px) {
    min-width: 768px;
  }

  .notifications-container {
    position: static;
    z-index: 0;
  }
  .error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}

.view-container {
  padding-bottom: 30px;
  min-height: 480px;
  @media screen and (min-device-width: 768px) {
    min-width: 768px;
  }
}

.notifications {
  .close-click {
    font-size: inherit;
  }
}

// Country dropdown styles
.angucomplete-highlight {
  color: $black;
  font-weight: bold;
}

.angucomplete-dropdown {
  overflow-y: auto;
  max-height: 250px;
}

// Section loading and form styles
.section-loading {
  width: 100%;
  min-height: 50px;
  background: url(/images/ripple.gif) no-repeat center center;
}

.form-errors {
  width: 380px;
}

.form-notice {
  font-size: 13px;
  color: #58595B;
}

.form-error {
  @extend .form-notice;
  color: #ed5d5d;
}

.validation-bar {
  position: relative;

  &:before {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 42px;
    width: 5px;
  }

  &.error-bar:before {
    display: block;
    background-color: #ed5d5d;
  }

  &.success-bar:before {
    display: block;
    background-color: #7ece95;
  }
}
.form-input-error {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #FFCCE1;
  border: 1px solid #FF99C2;
  color: #FF0066;
  @include sofia-pro-italic;
}

// Sidebar form field tips (e.g. username, email, password)
.tips {
  position: absolute;
  width: 320px;
  text-align: left;
  top: 13px;
  @media only screen and (max-width: 915px) {
    position: initial;
    margin-left: 5px;
    width: 300px;
  }

  h3, p {
    margin-bottom: 10px;
  }

  h3 {
    @include source-sans-semi-bold;
    font-size: 18px;
    @media only screen and (max-width: 915px) {
      font-size: 15px;
    }
  }

  h3:before {
    font-family: 'FontAwesome';
    content: '\f053';
    display: inline-block;
    width: 20px;
    @media only screen and (max-width: 915px) {
      display: none;
    }
  }

  p {
    font-size: 14px;
    color: #808285;
    padding-left: 20px;
    line-height: 1.2;
    position: relative;
  }
  p:before {
    font-family: 'FontAwesome';
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
  }
}

.username-tips {
  left: 330px;
}

.email-tips {
  left: 330px;

  p:last-child {
    line-height: 1.5;
  }
}

.password-tips {
  left: 330px;

  p:before {
    content: '\f05d';
    color: #7ece95;
    display: none;
  }

  .has-length-between-range:before,
  .has-letter:before,
  .has-symbol-or-number:before,
  .has-number:before {
    display: block;
  }
}

@media (max-width: 767px) {
  .form-errors {
    width: 100%;
  }
}

// Intro JS
.introjs-overlay {
  background: rgba(239, 239, 239, 0.60);
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.introjs-tooltip {
  max-width: 320px;
  padding: 20px;
}

.introjs-tooltiptext {
  @include source-sans-regular;
  font-size: 14px;
  line-height: 24px;
  color: $gray-darker;
}


.introjs-helperLayer {
  background: $white;
  border: 1px solid #85CCFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 150, 255, 0.20);
  border-radius: 6px;
}

.introjs-helperNumberLayer {
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 22px;
  border: 3px solid $white;
  background: $primary;
  @include sofia-pro-medium;
  font-size: 17px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
}

.introjs-tooltipbuttons {
  width: 280px;
  float: right;
}

// Refactor buttons when button mixins and/or style guide is done
.introjs-button {
  @extend .tc-btn;
  @extend .tc-btn-s;
}

.introjs-skipbutton {
  float: left;
  @extend .tc-btn-ghost;
}


.introjs-disabled {
  @extend .tc-btn-s;
  @extend :disabled;
}

.introjs-prevbutton {
  margin-right: 10px;
}
.introjs-nextbutton {}

.introjs-bullets ul li {
  margin-right: 3px;
}

.introjs-bullets ul li a {
  width: 5px;
  height: 5px;
  border-radius: 0;
  background-color: $gray;

  &.active {
    background-color: $primary;
  }
}
