@import '../partials/combined';

// Default Challenge Tile Stylings
challenge-tile .challenge.tile-view {
  .active-challenge {
    position: relative;
    width: 270px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    background-color: $white;

    &:hover {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
    }

    .challenge-track {
      width: 5px;
      height: 52px;
      position: absolute;
      top: -1px;
      left: -1px;
      border-top-left-radius: 4px;
    }

    header {
      padding: 0 20px;
      height: 52px;
      border-bottom: 1px solid #F0F0F0;

      a {
        display: block;
        width: 210px;
        padding-top: 8px;
        padding-bottom: 2px;
        @include sofia-pro-medium;
        font-size: 14px;
        line-height: 18px;
        color: $primary-text;
        text-decoration: none;
        @include ellipsis;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        @include sofia-pro-light;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
      }
    }

    .challenge-details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .currentPhase {
      margin-top: 40px;
      margin-bottom: 20px;
      @include sofia-pro-light;
      font-size: 20px;
      line-height: 24px;
    }

    .challenge-calendar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75px;
      height: 63px;
      margin-bottom: 20px;
      background-image: url(/images/ico-calendar.svg);

      > p {
        @include sofia-pro-bold;
      }

      .ends-in {
        margin-top: 3px;
        font-size: 10px;
        line-height: 13px;
        text-transform: uppercase;
        color: #7F7F7F;
      }

      .time-remaining {
        margin-top: 5px;
        font-size: 24px;
        color: $primary-text;
      }

      .unit-of-time {
        margin-top: 1px;
        font-size: 10px;
        text-transform: lowercase;
        color: #7F7F7F;
      }
    }

    .stalled-challenge {
      min-height: 83px;
      padding-top: 21px;
    }

    .phase-action {
      min-height: 55px;

      .submit {
        margin-bottom: 25px;
        @include button-m-wide;
      }

      .submitted {
        position: relative;
        height: 30px;
        line-height: 30px;
        margin-bottom: 25px;
        padding-left: 35px;
        padding-right: 20px;
        border: 1px solid #F0F0F0;
        border-radius: 4px;
        background-color: $white;
        @include sofia-pro-regular;
        font-size: 12px;
        text-transform: uppercase;
        color: $primary-text;

        &:before {
          content: '';
          width: 15px;
          height: 15px;
          background: url(/images/ico-checkmark.svg);
          background-size: 15px 15px;
          position: absolute;
          bottom: 6px;
          left: 14px;
        }
      }
    }

    .roles {
      min-height: 36px;
      margin-bottom: 25px;
      color: $primary-text;
      @include source-sans-regular;
      font-size: 13px;
      line-height: 18px;
    }

    .challenge-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 38px;
      width: 100%;
      padding: 0 20px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      background-color: #FCFCFC;

      a {
        text-decoration: none;
      }

      .stats, .registrants, .submissions, .forum {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .registrants, .submissions, .form {
        cursor: pointer;
      }

      .registrants {
        margin-right: 15px;
      }

      p {
        @include sofia-pro-medium;
        font-size: 12px;
        color: $primary-text;
      }

      .forum p {
        @include sofia-pro-regular;
        text-transform: uppercase;
      }
    }

    div[class$="-icon"] {
      margin-right: 3px;
    }

    .registrants-icon {
      @include background-image-size(15px, 16px);
      background-image: url(/images/ico-users.svg);
    }

    .submissions-icon {
      @include background-image-size(22px, 14px);
      background-image: url(/images/ico-submissions.svg);
    }

    .forum-icon {
      @include background-image-size(20px, 17px);
      background-image: url(/images/ico-posts.svg);
    }
  }


  .completed-challenge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 340px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    background-color: $white;

    &:hover {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
    }

    header {
      position: relative;
      padding: 0 20px;

      a {
        display: block;
        width: 210px;
        padding-top: 8px;
        padding-bottom: 2px;
        @include sofia-pro-medium;
        font-size: 14px;
        line-height: 18px;
        color: $primary-text;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .date-completed {
        @include sofia-pro-medium;
        font-size: 12px;
        text-transform: uppercase;
        color: #A3A3AE;
      }

      .winner-ribbon {
        position: absolute;
        bottom: -40px;
        left: -12px;
        @include background-image-size(73px, 26px);
        background: url(/images/ico-winner-ribbon.svg);
      }
    }

    .challenge-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .place {
        margin-bottom: 30px;
        @include sofia-pro-regular;
        font-size: 20px;
        color: $primary-text;

        &.first-place {
          font-weight: bold;
          color: $black;
        }

        span {
          @include superscript;
        }
      }

      .challenge-score {
        width: 84px;
        height: 84px;
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        text-align: center;
        background-color: #F6F6F6;

        .score {
          margin-top: 28px;
          margin-bottom: 5px;
          @include sofia-pro-bold;
          font-size: 18px;
          color: $primary-text;
        }

        p:last-child {
          @include sofia-pro-medium;
          font-size: 9px;
          color: #A3A3AE;
          text-transform: uppercase;
        }
      }
    }
  }
}

challenge-tile .challenge.list-view {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 20px 0;
  padding-left: 5px;
  height: 110px;
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  background-color: $white;

  &:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
  }

  .challenge-track {
    width: 5px;
    height: 110px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    max-width: 470px;
    padding: 0 15px;
    border-right: 1px solid #F0F0F0;
    @media only screen and (min-width: 1000px) {
      padding: 0 30px;
    }

    a {
      display: block;
      @include sofia-pro-medium;
      font-size: 18px;
      color: $primary-text;
      text-decoration: none;
      @include ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }

    .subtrack {
      margin-bottom: 12px;
      @include sofia-pro-regular;
      font-size: 14px;
      text-transform: uppercase;
      color: #B7B7B7;
    }

    .roles {
      max-width: 362px;
      @include source-sans-regular;
      font-size: 13px;
      color: $primary-text;
      @include ellipsis;

      .role {
        color: #B7B7B7;
      }
    }
  }

  .challenge-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 2;
    padding: 0 15px;
    border-right: 1px solid #F0F0F0;
    @media only screen and (min-width: 1000px) {
      padding: 0 30px;
    }

    .challenge-info {
      .currentPhase {
        margin-bottom: 10px;
        @include sofia-pro-light;
        font-size: 18px;
        color: $primary-text;
        text-transform: uppercase;
      }

      .ends-in {
        @include sofia-pro-regular;
        font-size: 14px;
        color: #A3A3AE;
      }
    }

    .phase-action {
      .submit {
        display: inline-block;
        @include button-m;
      }

      .submitted {
        position: relative;
        height: 30px;
        line-height: 30px;
        padding-left: 35px;
        padding-right: 20px;
        border: 1px solid #F0F0F0;
        border-radius: 4px;
        background-color: $white;
        @include sofia-pro-regular;
        font-size: 12px;
        text-transform: uppercase;
        color: $primary-text;

        &:before {
          content: '';
          width: 15px;
          height: 15px;
          background: url(/images/ico-checkmark.svg);
          background-size: 15px 15px;
          position: absolute;
          bottom: 6px;
          left: 14px;
        }
      }
    }
  }

  .challenge-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 15px;
    @media only screen and (min-width: 1000px) {
      padding: 0 30px;
    }

    a {
      width: 35px;
      height: 48px;
      text-align: center;
      text-decoration: none;

      &.registrants, &.submissions, &.forum {
        display: flex;
        flex-direction: column;
      }
    }

    p {
      @include sofia-pro-light;
      font-size: 24px;
      color: $primary-text;
    }

    .forum p {
      @include sofia-pro-regular;
      font-size: 10px;
      color: #A3A3AE;
      text-transform: uppercase;
    }

    .registrants-icon, .submissions-icon {
      margin: 5px auto 0;
    }

    .registrants-icon {
      @include background-image-size(14px, 19px);
      background-image: url(/images/ico-users.svg);
    }

    .submissions-icon {
      @include background-image-size(24px, 17px);
      background-image: url(/images/ico-submissions.svg);
    }

    .forum-icon {
      margin: 3px auto 2px;
      @include background-image-size(30px, 27px);
      background-image: url(/images/ico-posts.svg);
    }
  }
}

// Dynamic colors based on track
.DESIGN {
  .challenge-track { background-color: $accent-color; }

  &.tile-view {
    header .subtrack-color { color: $accent-color; }
  }
}
.DEVELOP {
  .challenge-track { background-color: $success-color; }

  &.tile-view {
    header .subtrack-color { color: $success-color; }
  }
}
.DATA_SCIENCE {
  .challenge-track { background-color: #F39426; }

  &.tile-view {
    header .subtrack-color { color: #F39426; }
  }
}
.COPILOT {
  .challenge-track { background-color: #7F7F7F; }

  &.tile-view {
    header .subtrack-color { color: #7F7F7F; }
  }
}
