@import 'topcoder-includes';
@import '../partials/combined';

.challenge-links.tile-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  padding: 0 20px;
  a {
    text-decoration: none;
    p {
      @include font-with-weight('Sofia Pro', 500);
      color: $accent-gray;
      align-self: flex-start;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
    }
  }
  .stats,
  .registrants,
  .submissions,
  .forum {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .registrants,
  .submissions,
  .form {
    cursor: pointer;
  }
  .registrants {
    margin-right: 15px;
  }
  div[class$='-icon'] {
    margin-right: 3px;
  }
  .registrants-icon {
    @include background-image-size(15px, 16px);
    background-image: url(/images/ico-users.svg);
  }
  .submissions-icon {
    @include background-image-size(22px, 14px);
    background-image: url(/images/ico-submissions.svg);
  }
  .forum-icon {
    @include background-image-size(20px, 17px);
    background-image: url(/images/ico-posts.svg);
  }
}

.challenge-links.list-view {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  @media only screen and (min-width: 1000px) {
    padding: 0 30px;
  }
  a {
    display: flex;
    height: 48px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    &.registrants,
    &.submissions,
    &.forum {
      display: flex;
      flex-direction: column;
    }
    .icon {
      order: 2;
    }
    p {
      @include font-with-weight('Sofia Pro', 500);
      color: $accent-gray;
      order: 1;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
    }
  }
  .registrants-icon,
  .submissions-icon {
    margin: 5px auto 0;
  }
  .registrants-icon {
    @include background-image-size(14px, 19px);
    background-image: url(/images/ico-users.svg);
  }
  .submissions-icon {
    @include background-image-size(24px, 17px);
    background-image: url(/images/ico-submissions.svg);
  }
  .forum-icon {
    @include background-image-size(30px, 27px);
    background-image: url(/images/ico-posts.svg);
    margin: 3px auto 2px;
  }
}
