@import 'topcoder/tc-includes';


// Default Challenge Tile Stylings
challenge-tile .challenge.tile-view {
  display: flex;
  flex-direction: column;
  height: 350px;
  header {
    border-bottom: 1px solid #f0f0f0;
    border-left: 2px solid $develop;
    border-radius: 3px 0 0 0;
    display: flex;

    min-height: 91px;
    a.name {
      @include font-with-weight('Sofia Pro', 500);
      @include link;
      color: $gray-darkest;
      display: block;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      padding: 15px 20px 0 20px;
      text-transform: uppercase;
    }
    p.subtrack-color {
      @include font-with-weight('Sofia Pro', 500);
      font-size: 12px;
      line-height: 14px;
      margin-top: 5px;
      padding: 0 20px;
      text-transform: uppercase;
    }
  }
  // challenge details section
  .challenge-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // roles bar is common for both active and completed
  .roles {
    @include font-with-weight('Merriweather Sans');
    background-color: $gray-lighter;
    border: none;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 12px;
    line-height: 17px;
    min-height: 36px;
    padding: 0 20px;
    span {
      @include ellipsis;
      padding: 0;
      span:first-child {
        color: $accent-gray;
        white-space: nowrap;
      }
    }
  }
  .active-challenge {
    background-color: $white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    width: 270px;
    position: relative;
    .challenge-details {
      .currentPhase {
        @include font-with-weight('Sofia Pro', 300);
        color: $gray-darkest;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
      }
      .challenge-calendar {
        background-image: url(/images/ico-calendar.svg);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 63px;
        width: 75px;
        margin-bottom: 20px;
        > p {
          @include font-with-weight('Sofia Pro', 700);
        }
        .ends-in {
          color: #7f7f7f;
          font-size: 10px;
          line-height: 13px;
          margin-top: 3px;
          text-transform: uppercase;
        }
        .time-remaining {
          color: $gray-darkest;
          font-size: 24px;
          margin-top: 5px;
        }
        .unit-of-time {
          color: #7f7f7f;
          font-size: 10px;
          margin-top: 1px;
          text-transform: lowercase;
        }
      }
      .stalled-challenge {
        @include font-with-weight('Sofia Pro', 500);
        color: $accent-gray;
        font-size: 12px;
        line-height: 18px;
        min-height: 83px;
        padding: 21px 20px 0 20px;
        text-align: center;
        text-transform: uppercase;
      }
      .phase-action {
        min-height: 55px;
        .submit {
          display: inline-block;
          margin-bottom: 25px;
        }
        .submitted {
          @include font-with-weight;
          background-color: $white;
          border: 1px solid #f0f0f0;
          border-radius: 4px;
          color: $gray-darkest;
          height: 30px;
          font-size: 12px;
          line-height: 30px;
          margin-bottom: 25px;
          padding-left: 35px;
          padding-right: 20px;
          position: relative;
          text-transform: uppercase;
          &:before {
            background: url(/images/ico-checkmark.svg);
            background-size: 15px 15px;
            bottom: 6px;
            content: '';
            height: 15px;
            width: 15px;
            left: 14px;
            position: absolute;
          }
        }
      }
    }
  }
  .completed-challenge {
    background-color: $white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    position: relative;
    header {
      position: relative;
      .date-completed {
        @include font-with-weight('Sofia Pro', 500);
        color: $accent-gray;
        font-size: 12px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
      }
      .winner-ribbon {
        @include background-image-size(73px, 26px);
        background: url(/images/ico-winner-ribbon.svg);
        bottom: -40px;
        left: -2px;
        position: absolute;
        z-index: 1;
      }
    }
    .challenge-details {
      align-items: center;
      justify-content: space-between;
      &.DATA_SCIENCE {
        flex: 2;
        justify-content: center;
      }
      .marathon-score {
        margin-bottom: 70px;
        text-align: center;
        .score {
          @include font-with-weight;
          color: #3d3d3d;
          font-size: 32px;
          line-height: 38px;
          margin-bottom: 5px;
          margin-top: 28px;
        }
        p:last-child {
          @include font-with-weight;
          color: #a3a3ae;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
        }
      }
    }
  }
  .past-design-details {
    img {
      height: 200px;
    }
  }
}

challenge-tile .challenge.list-view {
  background-color: $white;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: row;
  height: 110px;
  margin-bottom: 10px;
  padding: 20px 0;
  padding-left: 5px;
  position: relative;
  // common styles for active and completed
  .challenge-track {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    height: 110px;
    width: 5px;
    left: -1px;
    position: absolute;
    top: -1px;
  }
  header {
    border-right: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
    @media only screen and (min-width: 1000px) {
      padding: 0 30px;
    }
    a.name {
      @include font-with-weight('Sofia Pro', 500);
      @include ellipsis;
      @include link;
      color: $gray-darkest;
      display: block;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }
    p.subtrack-color {
      @include font-with-weight('Sofia Pro', 500);
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 12px;
      text-transform: uppercase;
    }
    .roles {
      @include font-with-weight('Merriweather Sans');
      @include ellipsis;
      color: $gray-darkest;
      font-size: 13px;
      line-height: 18px;
      color: $gray-darkest;
      @include ellipsis;


      span:first-child {
        color: $accent-gray;
        white-space: nowrap;
      }
    }
  }
  .challenge-details {
    border-right: 1px solid #f0f0f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    @media only screen and (min-width: 1000px) {
      padding: 0 10px 0 30px;
    }
    .challenge-info {
      .currentPhase {
        @include font-with-weight('Sofia Pro', 300);
        color: $gray-darkest;
        font-size: 18px;
      }
      .ends-in {
        @include font-with-weight;
        color: #a3a3ae;
        font-size: 14px;
      }
    }
    .marathon-score {
      text-align: center;
      .score {
        @include font-with-weight;
        color: #3d3d3d;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 5px;
      }
      p:last-child {
        @include sofia-pro-regular;
        color: #a3a3ae;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
      }
    }
    .phase-action {
      .submit {
        display: inline-block;
      }
      .submitted {
        @include sofia-pro-regular;
        background-color: $white;
        border: 1px solid #f0f0f0;
        border-radius: 4px;
        color: $gray-darkest;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
        padding-left: 35px;
        padding-right: 20px;
        position: relative;
        text-transform: uppercase;
        &:before {
          background: url(/images/ico-checkmark.svg);
          background-size: 15px 15px;
          bottom: 6px;
          content: '';
          height: 15px;
          width: 15px;
          left: 14px;
          position: absolute;
        }
      }
    }
  }
  // specific styles for active challenges in list view
  .active-challenge {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    display: flex;
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    justify-content: space-between;
    height: 320px;
    width: 100%;
    width: 270px;
    position: relative;
    header {
      flex: 1;
      max-width: 470px;
    }
    .challenge-details {
      flex: 2;
    }
  }
  // specific styles for completed challenges in list view
  .completed-challenge {
    display: flex;
    flex-direction: row;
    width: 100%;
    header {
      flex: 2;
    }
    .challenge-details {
      flex: 1;
    }
  }
}

p.currentPhase {
  margin: 10px auto !important;
}


// Dynamic colors based on track
.DESIGN {
  .challenge-track {
    background-color: $design;
  }
  header .subtrack-color {
    color: $design;
  }
}

.DEVELOP {
  .challenge-track {
    background-color: $develop;
  }
  header .subtrack-color {
    color: $develop;
  }
}
.DATA_SCIENCE {
  .challenge-track {
    background-color: $data_science;
  }
  header .subtrack-color {
    color: $data_science;
  }
}
.COPILOT {
  .challenge-track {
    background-color: $copilot;
  }
  header .subtrack-color {
    color: $copilot;
  }
}


///// FIXES

challenge-tile .challenge.tile-view .active-challenge {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 340px;
  width: 270px;
  position: relative;
}

challenge-tile .challenge.tile-view header {
  border-bottom: 1px solid #f0f0f0;
  border-left: 2px solid #05c14f;
  border-radius: 3px 0 0 0;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-between;
  width: 270px;
}

challenge-tile .challenge.tile-view header a.name {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  line-height: 16px;
  padding: 10px 15px 0;
  text-transform: uppercase;
}

challenge-tile .challenge.tile-view .challenge-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

challenge-tile .challenge.tile-view .roles {
  background-color: #fbfbfb;
  border: none;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: flex-start;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin: 0 auto;
  min-height: 36px;
  padding: 0 20px;
}

challenge-tile .challenge.tile-view header p.subtrack-color {
  font-size: 10px;
  line-height: 14px;
  margin-top: 3px;
  padding: 0 15px;
  text-transform: uppercase;
}

@media only screen and (min-width: 1155px) {
  .challenges .hasChallenges challenge-tile.tile-view:nth-child(3n) {
    margin-right: 15px;
  }
}
