@import '../partials/combined';

// Default Challenge Tile Stylings
.challenge.tile {
  background-color: $medium-gray;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  .challenge-name {
    a {
      font-weight: bold;
      color: #4f4f4f;
      display: block;
      text-decoration: none;
      @include ellipsis;
      margin-bottom: 15px;
    }
  }

  .challenge-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img, .role {
      margin-right: 10px;
    }

    img {
      width: 25px;
      height: 25px;
    }


    a {
      color: $dark-gray;
      line-height: 25px;
    }
  }
  .roles {
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 40px;
    color: $dark-gray;
    font-size: 14px;
  }

  .challenge-status {
    color: $dark-gray;

    .days-remaining {
      margin-top: 15px;
      font-size: 20px;

      span {
        display: block;
        margin-top: 5px;
        @include source-sans-semi-bold;
        font-size: 14px;
        text-transform: uppercase;
      }
    }

    .stats {
      margin-top: 15px;
      min-height: 23px;
      font-size: 22px;
      color: #4f4f4f;

      .registrants, .submissions {
        display: inline-block;
        margin-right: 10px;
      }

      i {
        margin-right: 5px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    .phase-status {
      display: flex;
      flex-direction: row;
      margin-top: 35px;

      i {
        color: #7ece95;
        margin-right: 5px;
      }
    }
  }
}


.challenge.list {
  width: 100%;
  border-bottom: 1px solid $medium-gray;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .challenge-name {
    margin: 10px 0px;
    a {
      font-weight: bold;
      color: #4f4f4f;
      text-decoration: none;
      @include ellipsis;
    }
  }

  .challenge-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;

    img, .role {
      margin-right: 10px;
    }

    img {
      width: 25px;
      height: 25px;
    }


    a {
      color: $dark-gray;
      line-height: 25px;
    }
  }

  .challenge-links {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      width: 25px;
      height: 25px;
    }

    a {
      color: $dark-gray;
      line-height: 25px;
    }
  }

  .roles {
    margin: 10px 0px;
    color: $dark-gray;
    font-size: 14px;
  }

  .days-remaining {
    font-size: 20px;
    color: $dark-gray;
    margin: 10px 0px;

    span {
      display: block;
      @include source-sans-semi-bold;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .stats {
    font-size: 22px;
    color: #4f4f4f;
    margin: 10px 0px;

    .registrants, .submissions {
      display: inline-block;
      margin-right: 10px;
    }

    i {
      margin-right: 5px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .phase-status {
    display: flex;
    flex-direction: row;
    color: $dark-gray;
    margin: 10px 0px;

    i {
      color: #7ece95;
      margin-right: 5px;
    }
  }

}

// Stylings for Spotlight Challenges
.spotlight {

  .placeholder {
    font-size: 22px;
    color: $dark-gray;
    text-align: center;
    min-height: 90px;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  .challenge-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}