@import '../partials/combined';

// Default Challenge Tile Stylings
.challenge.tile-view {
  position: relative;
  width: 270px;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  background-color: $white;

  .challenge-track {
    width: 5px;
    height: 52px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-top-left-radius: 4px;
  }

  header {
    padding: 0 20px;
    height: 52px;
    border-bottom: 1px solid #F0F0F0;

    a {
      display: block;
      width: 210px;
      padding-top: 8px;
      padding-bottom: 5px;
      @include sofia-pro-medium;
      font-size: 14px;
      line-height: 18px;
      color: #3D3D3D;
      text-decoration: none;
      @include ellipsis;
    }

    p {
      @include sofia-pro-light;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
    }
  }

  // .thumbnail {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   margin: 20px 0;
  //   img {
  //   }
  // }

  .challenge-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .currentPhase {
    margin-top: 40px;
    margin-bottom: 20px;
    @include sofia-pro-light;
    font-size: 20px;
    line-height: 24px;
  }

  .challenge-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    height: 63px;
    margin-bottom: 20px;
    background-image: url(/images/svgs/ico-calendar.svg);

    > p {
      @include sofia-pro-bold;
    }

    .starts-in {
      margin-top: 3px;
      font-size: 10px;
      line-height: 13px;
      text-transform: uppercase;
      color: #7F7F7F;
    }

    .time-remaining {
      margin-top: 5px;
      font-size: 24px;
      color: #3D3D3D;
    }

    .unit-of-time {
      margin-top: 1px;
      font-size: 10px;
      text-transform: lowercase;
      color: #7F7F7F;
    }
  }

  .phase-action {
    margin-bottom: 25px;
    @include button-m-wide;
  }

  .roles {
    min-height: 36px;
    margin-bottom: 25px;
    color: #3D3D3D;
    @include source-sans;
    font-size: 13px;
    line-height: 18px;
  }

  .challenge-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    width: 100%;
    padding: 0 20px;
    background-color: #FCFCFC;

    a {
      text-decoration: none;
    }

    .stats, .registrants, .submissions, .forum {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .registrants, .submissions, .form {
      cursor: pointer;
    }

    .registrants {
      margin-right: 15px;
    }

    p {
      @include sofia-pro-bold;
      font-size: 11px;
      color: #3D3D3D;
    }

    .forum p {
      @include sofia-pro-regular;
      text-transform: uppercase;
    }
  }

  div[class$="-icon"] {
    margin-right: 3px;
  }

  .registrants-icon {
    width: 15px;
    height: 16px;
    background-image: url(/images/svgs/ico-users.svg);
    background-size: 15px 16px;
  }

  .submissions-icon {
    width: 22px;
    height: 14px;
    background-image: url(/images/svgs/ico-submissions.svg);
  }

  .forum-icon {
    width: 20px;
    height: 17px;
    background-image: url(/images/svgs/ico-posts.svg);
  }
}



/* ///////////////////////// */
.challenge.list-view {
  width: 100%;
  border-bottom: 1px solid $medium-gray;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .challenge-name {
    flex: 3;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 10px 0px;
    a {
      font-weight: bold;
      color: #4f4f4f;
      text-decoration: none;
      @include ellipsis;
    }
  }

  .challenge-links {
    flex: 1;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    img {
      width: 25px;
      height: 25px;
    }

    a {
      color: $dark-gray;
      line-height: 25px;
    }
  }

  .roles {
    flex: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    color: $dark-gray;
    font-size: 14px;
  }

  .days-remaining {
    flex: 1;
    font-size: 20px;
    color: $dark-gray;
    margin: 10px 0px;

    span {
      display: block;
      @include source-sans-semi-bold;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .completion-date {
    flex: 1;
  }

  .stats {
    flex: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 22px;
    color: #4f4f4f;
    margin: 10px 0px;

    .registrants, .submissions {
      display: inline-block;
      margin-right: 10px;
    }

    i {
      margin-right: 5px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .phase-status {
    flex: 1;
    display: flex;
    flex-direction: row;
    color: $dark-gray;
    margin: 10px 0px;

    i {
      color: #7ece95;
      margin-right: 5px;
    }
  }
}

// Dynamic colors based on track
.DESIGN {
  .challenge-track { background-color: $accent-color; }
  header p { color: $accent-color; }
}
.DEVELOP {
  .challenge-track { background-color: $success-color; }
  header p { color: $success-color; }
}
.DATA_SCIENCE {
  .challenge-track { background-color: #F39426; }
  header p { color: #F39426; }
}
.COPILOT {
  .challenge-track { background-color: #7F7F7F; }
  header p { color: #7F7F7F; }
}
