@import 'topcoder-includes';
@import '../partials/combined';

// styling for tile view
design-challenge-user-place {
  .tile-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    .place {
      @include sofia-pro-regular;
      color: $gray-darkest;
      font-size: 20px;
      margin-bottom: 8px;
      margin-top: 8px;
      text-transform: uppercase;
      &.first-place {
        color: $black;
        font-weight: bold;
      }
      span {
        @include superscript;
        text-transform: lowercase;
      }
    }
    .thumbnail {
      height: 200px;
      overflow: hidden;
      position: relative;
      width: 268px;
      img {
        height: auto;
        overflow: hidden;
        width: 100%;
      }
      .thumbnail-gallery {
        background-color: rgba(0, 0, 0, .4);
        bottom: 0;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        height: 32px;
        left: 0;
        position: absolute;
        width: 270px;

        align-items: center;
        .gallery-icon {
          @include background-image-size(21px, 17px);
          background: url(/images/ico-gallery.svg);
          margin-left: 10px;
        }
        .num-images {
          @include sofia-pro-regular;
          color: $gray-lighter;
          font-size: 10px;
          margin-left: 8px;
          text-transform: uppercase;
        }
      }
    }
  }
}

// styling for list view
design-challenge-user-place {
  width: 100%;
  .list-view {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    .place-date {
      display: flex;
      flex-direction: column;
      .place {
        @include sofia-pro-light;
        color: $gray-darkest;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        &.first-place {
          color: $black;
          font-weight: bold;
        }
        span {
          @include superscript;
          text-transform: lowercase;
        }
      }
      .date-completed {
        @include sofia-pro-regular;
        color: #A3A3AE;
        font-size: 14px;
        line-height: 18px;
        margin-top: 9px;
        text-transform: uppercase;
      }
    }
    .winner-ribbon {
      @include background-image-size(73px, 26px);
      background: url(/images/ico-winner-ribbon.svg);
      z-index: 1;

      align-self: flex-start;
    }
    .thumbnail {
      height: 84px;
      overflow: hidden;
      position: relative;
      width: 84px;
      img {
        height: auto;
        overflow: hidden;
        width: 100%;
      }
      .thumbnail-gallery {
        background-color: rgba(0, 0, 0, .4);
        bottom: 0;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        height: 32px;
        left: 0;
        position: absolute;
        width: 84px;

        align-items: center;
        .gallery-icon {
          @include background-image-size(21px, 17px);
          background: url(/images/ico-gallery.svg);
          margin-left: 10px;
        }
        .num-images {
          @include sofia-pro-regular;
          color: $gray-lighter;
          font-size: 10px;
          margin-left: 8px;
          text-transform: uppercase;
        }
      }
    }
  }
}
