@import 'topcoder/tc-includes';

.distribution-graph-directive {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  .compare {
    margin-top: 100px;
    margin-bottom: 15px;
  }

}

.graph-title {
  width: 960px;
  padding-left: 45px;
  text-align: left;
  margin: auto;
  font-size: 28px;
  line-height: 35px;
  color: #47474F;  
  
  .text {
	float: left; 
  }
  
  .button-group {
    float: right;
    display: block;
	button.tc-btn.tc-btn-s {
	  background: #fff;
	  color: #47474f;
	  border: 1px solid #c3c3c8;
	  height: 30px;
	  box-sizing: border-box;
	  &.active {
		background: #dcdce0;
        -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,1);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,1);
        box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,1);
		border: none;
	  }
	  &:first-child {
	    border-top-left-radius: 2px;
	    border-bottom-left-radius: 2px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	  }
	  &:last-child {
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	  }
	}	
  }
}

.graph-viewer {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .distribution-graph {

    display: flex;
    flex-direction: row;
    justify-content: center;

    .axis path,
    .axis line {
      fill: none;
      stroke: none;
      shape-rendering: crispEdges;
    }


    .grid .tick {
      stroke: white;
      opacity: 0.7;
    }

    .grid path {
      stroke-width: 0;
    }

    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }

    rect.bar:hover {
      //fill: black;
    }

    line.my-rating {
      pointer-effects: none;
    }

    text.label {
      text-anchor: middle;
      font-family: sans-serif;
      font-size: 12px;
      fill: white;
      pointer-events: none;
    }

    text.countryLabel {
      text-anchor: middle;
      font-family: sans-serif;
      font-size: 12px;
      fill: black;
      pointer-events: none;
    }

  }
  .info-port {
    margin-left: 2px;
    margin-top: 20px;
    background: white;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .coders, .rating {
      width: 130px;
      height: 130px;
      background: #199ae2;
      -moz-border-radius: 65px;
      -webkit-border-radius: 65px;
      border-radius: 65px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .num {
        color: white;
        font-family: 'Roboto';
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 2px;
      }
      .label {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 200;
        color: white;
      }
      margin-bottom: 20px;
    }

  }
}
@media (min-width: 768px) {
.graph-viewer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  .distribution-graph {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .axis path,
    .axis line {
      fill: none;
      stroke: none;
      shape-rendering: crispEdges;
    }


    .grid .tick {
      stroke: white;
      opacity: 0.7;
    }

    .grid path {
      stroke-width: 0;
    }

    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }

    rect.bar:hover {
      //fill: black;
    }

    line.my-rating {
      pointer-effects: none;
    }

    text.label {
      text-anchor: middle;
      font-family: sans-serif;
      font-size: 12px;
      fill: white;
      pointer-events: none;
    }

    text.countryLabel {
      text-anchor: middle;
      font-family: sans-serif;
      font-size: 12px;
      fill: black;
      pointer-events: none;
    }

  }
  .info-port {
    margin-left: 0px;
    background: #f6f6f6;
    height: 400px;
    width: 300px;
    .coders, .rating {
      width: 130px;
      height: 130px;
      background: #09affe;
      -moz-border-radius: 65px;
      -webkit-border-radius: 65px;
      border-radius: 65px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .num {
        color: white;
        font-family: 'Roboto';
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 2px;
      }
      .label {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 200;
        color: white;
      }
      margin-bottom: 20px;
    }

  }
}
}
