.graph-viewer {
  width: 900px;
  display: flex;
  flex-direction: row;
  .distribution-graph {

    .axis path,
    .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }

    rect:hover {
      fill: black;
    }

    text.label {
      text-anchor: middle;
      font-family: sans-serif;
      font-size: 12px;
      fill: white;
      pointer-events: none;
    }

    text.countryLabel {
      text-anchor: middle;
      font-family: sans-serif;
      font-size: 12px;
      fill: black;
      pointer-events: none;
    }

    #tooltip {
      position: absolute;
      height: 18px;
      padding: 5px;
      background-color: white;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      pointer-effects: none;
    }

    #tooltip p {
      font-family: sans-serif;
      font-size: 12px;
      text-align: center;
    }

    #tooltip.hidden {
      display: none;
    }
  }
  .info-port {
    border-left: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
