.graph-viewer {
  display: flex;
  flex-direction: row;
  .distribution-graph {

    .axis path,
    .axis line {
      fill: none;
      stroke: none;
      shape-rendering: crispEdges;
    }


    .grid .tick {
      stroke: white;
      opacity: 0.7;
    }

    .grid path {
      stroke-width: 0;
    }

    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }

    rect.bar:hover {
      //fill: black;
    }

    line.my-rating {
      pointer-effects: none;
    }

    text.label {
      text-anchor: middle;
      font-family: sans-serif;
      font-size: 12px;
      fill: white;
      pointer-events: none;
    }

    text.countryLabel {
      text-anchor: middle;
      font-family: sans-serif;
      font-size: 12px;
      fill: black;
      pointer-events: none;
    }

  }
  .info-port {
    margin-left: 2px;
    margin-top: 10px;
    background: #eeeeee;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    .coders, .rating {
      width: 130px;
      height: 130px;
      background: #09affe;
      -moz-border-radius: 65px;
      -webkit-border-radius: 65px;
      border-radius: 65px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .num {
        color: white;
        font-size: 25px;
        font-weight: bold;
      }
      .label {
        color: white;
      }
      margin-bottom: 20px;
    }

    .compare {
      
    }
  }
}
