@import 'tc-includes';

.empty-state-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $gray-darkest;
  padding: 20px 10px 20px 10px;
  @media only screen and (min-width: 768px) {
    padding: 30px 20px 30px 20px;
  }

  .title {
    @include sofia-pro-medium;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
  }

  .content {
    margin-top: 20px;
    @media only screen and (min-width: 768px) {
      margin-top: 30px;
    }
  }

  .description {
    max-width: 650px;
    margin-top: 20px;
    @include merriweather-sans-regular;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    @media only screen and (min-width: 768px) {
      margin-top: 30px;
    }
    @media only screen and (min-width: 900px) {
      max-width: 856px;
    }
  }

  .help-links {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @media only screen and (min-width: 768px) {
      margin-top: 30px;
    }

    .help-link {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    a {
      text-transform: uppercase;
      display: block;
      @include sofia-pro-medium;

      &.find-challenges {
      }

      &.learn-more {
        font-size: 12px;
        line-height: 12px;
        color: $accent-gray;
      }
    }
  }
}

// themes

// offwhite
.empty-state-placeholder.offwhite {
  background-image: url('/images/empty-states/pattern-my-challenges.png');
  background-repeat: repeat;
  .title {

  }
}

// sky
.empty-state-placeholder.sky {
  background-image: url('/images/empty-states/pattern-ios-challenges.png');
  background-repeat: repeat;
  .title {
    color: $white;
  }

  .description {
    color: $white;
  }

  .help-links {
    .help-link {
      .learn-more {
        color: $gray-lighter;
      }
    }
  }
}

// black
.empty-state-placeholder.black {
  background-image: url('/images/empty-states/pattern-my-challenges-dashboard.png');
  background-repeat: repeat;
  .title {
    @include sofia-pro-bold;
    color: $white;
  }

  .description {
    color: $white;
  }

  .help-links {
    .help-link {
      .learn-more {
        color: $gray-lighter;
      }
    }
  }
}
