@import '../partials/combined';

external-accounts {
  display: flex;
  flex-flow: row wrap;
}

.external-link-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;

  .external-link-tile {
    border: 1px solid #f0f0f0;
    width: 280px;
    height: 90px;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Sofia Pro';

    &:hover {
      cursor: pointer;
      background-color: #fbfbfb;
      i {
        color: black;
      }
    }

    i {
      color: #7f7f7f;
    }

    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90px;
      height: 90px;
      background-color: #f0f0f0;
      i {
        font-size: 40px;
        margin-top: 15px;
      }
      h2 {
        margin-top: 5px;
        flex-basis: 40px;
        font-weight: normal;
        text-transform: uppercase;
        font-weight: 500;
        color: #a3a3ae;
        font-size: 10px;
      }
    }
    .bottom {
      width: 220px;
      margin-top: 15px;
      .handle {
        font-weight: normal;
        font-family: 'Sofia Pro';
        font-size: 18px;
        height: 20px;
      }
      .title {
        // placeholder
        margin-top: 20px;
        color: #9e9e9e;
        font-size: 14px;
        font-family: 'Sofia Pro';
      }

      .pending {
        p {
          @include sofia-pro-regular;
          font-size: 16px;
          color: $gray-darkest;
          margin-bottom: 15px;
        }
      }

      ul {
        margin-top: 10px;
        height: 40px;
        display: flex;
        flex-direction: row;
        li {
          justify-content: space-between;
          margin: 10px 0 10px 0;
          width: 90px;
          color: #9e9e9e;
          .key {
              font-size: 10px;
              text-transform: capitalize;
          }
          .value {
            font-size: 14px;
              // placeholder
          }
        }
      }
      .logo {
        padding: 10px;
        font-size: 50px;
      }
    }

  }
}
@media (min-width: 768px) {
  .external-link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .external-link-tile {
      border: 1px solid #f0f0f0;
      width: 200px;
      height: 240px;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0px;
      font-family: 'Sofia Pro';
      i {
        color: #7f7f7f;
      }
      &:hover {
        cursor: pointer;
        background-color: #fbfbfb;
        i {
          color: black;
        }
      }

      .top {
        padding-top: 15px;
        background-color: none;
        background: none;
        width: 200px;


        h2 {
          flex-basis: 40px;
          font-weight: normal;
          text-transform: uppercase;
          font-weight: 500;
          color: #a3a3ae;
          font-size: 10px;
        }

      }

      .bottom {
        width: 200px;

        .handle {
         font-weight: normal;
         margin-top: 20px;
         margin-bottom: 20px;
        }
        .title {
          // placeholder
          height: 40px;
        }

        ul {
          margin-left: 10px;
          margin-bottom: 10px;
          height: 40px;
          display: flex;
          flex-direction: row;
          li {
            justify-content: space-between;
            margin: 10px 0 10px 0;
            width: 90px;
            font-size: 90%;
            .key {
                text-transform: capitalize;
            }
            .value {
                // placeholder
            }
          }
        }
        .logo {
          padding: 10px;
          font-size: 50px;
        }
      }
    }
  }
}
