@import '../partials/combined';

.ext-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 20px 15px 0;

  &.connected {


    .status {
      color: $gray-dark;
    }
  }

  &.disabled {

  }

  .external-account-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 1px solid $gray-light;
    margin-top: 12px;
    cursor: pointer;

    &.read-only{
      cursor: default;
      pointer-events: none;
    }

    i {
      font-size: 45px;
      color: #D1D3D4;
    }

    .provider {
      margin-top: 8px;
      @include sofia-pro-medium;
      font-size: 10px;
      line-height: 13px;
      text-align: center;
      text-transform: uppercase;
      color: $system-gray;
    }
  }

  .status {
    font-size: 10px;
    @include sofia-pro-medium;
    margin-top: 10px;
    text-transform: uppercase;
    color: $gray-darkest;
  }
}
