@import 'topcoder/tc-includes';

external-accounts {
  display: flex;
  flex-flow: row wrap;
}

.ext-link-tile_edit-header {
  border-bottom: 1px solid $gray-light;
  display: flex;
  justify-content: flex-end;

  &:hover {
    .show-on-profile_label {
      color: $accent-gray-dark;
    }
  }
}

.ext-link-tile_edit-header_delete {
  border-left: 1px solid $gray-light;
  background-image: url(/images/ico-delete.svg);
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  height: 43px;
  width: 51px;
  cursor: pointer;
}

.ext-link-tile_edit-header_delete--deleting {
  cursor: default;
  opacity: 0.5;
}

.ext-link-tile_edit-header_show-on-profile {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;

  .show-on-profile_label {
    @include sofia-pro-medium;
    font-size: 10px;
    line-height: 13px;
    color: $accent-gray;
    text-transform: uppercase;
    align-self: center;
  }

  // TODO remove this and handle in onoffswitch directive's css
  .onoffswitch {
    margin: 0px;
  }
}

.external-link-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;

  .external-link-tile {
    border: 1px solid $gray-light;
    width: 280px;
    height: 90px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 4px;
    @include sofia-pro-medium;

    i.fa-weblinks  {color: #82A0AA;}
    i.fa-bitbucket {color: #205081;}
    i.fa-dribble {color: #EA4C89;}
    i.fa-linkedin {color: #127CB5;}
    i.fa-twitter {color: #62AADC;}
    i.fa-stack-overflow {color: #E5712A;}
    i.fa-behance {color: #188CFC;}
    i.fa-github {color: #4B3D74;}

    &:hover {
      cursor: pointer;
      background-color: #fbfbfb;
      i {
        color: black;
      }
    }

    i {
      color: #7f7f7f;
    }

    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90px;
      height: 88px;
      background-color: $gray-lightest;
      border-radius: 4px 0 0 4px;
      i {
        font-size: 40px;
        margin-top: 15px;
      }
      h2 {
        margin-top: 5px;
        flex-basis: 40px;
        font-weight: normal;
        text-transform: uppercase;
        font-weight: 500;
        color: #a3a3ae;
        font-size: 10px;
      }
    }
    .bottom {
      width: 220px;
      margin-top: 10px;
      .handle {
        @include sofia-pro-light;
        font-size: 18px;
        height: 20px;
      }
      .title {
        // placeholder
        margin-top: 10px;
        color: #9e9e9e;
        font-size: 12px;
        line-height: 14px;
        @include sofia-pro-medium;
      }

      .pending {
        p {
          @include sofia-pro-regular;
          font-size: 16px;
          color: $gray-darkest;
          margin-bottom: 15px;
          padding: 0 10px;
        }
      }

      ul {
        margin-top: 10px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
          justify-content: space-between;
          margin: 10px 0 10px 0;
          width: 90px;
          color: #9e9e9e;
          .key {
              font-size: 11px;
              text-transform: capitalize;
          }
          .value {
            font-size: 14px;
              // placeholder
          }
        }
      }
      .logo {
        padding: 10px;
        font-size: 50px;
      }

      .link-title {
        @include sofia-pro-medium;
        font-size: 12px;
        line-height: 20px;
        color: $gray-darkest;
        margin-top: 10px;
        height: 40px;
        overflow: hidden;
        padding: 0px 20px;
        text-transform: uppercase;
      }

      .link-url {
        font-size: 12px;
        line-height: 14px;
        word-wrap: break-word;
        display: block;
        overflow: hidden;
        max-height: 14px;
        padding: 0px 20px;
        text-transform: uppercase;
      }
    }

  }
}

@media (min-width: 768px) {
  .external-link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px 60px;

    .external-link-tile {
      border: 1px solid #f0f0f0;
      background-color: $gray-lightest;
      margin-left: 15px;
      margin-top: 30px;
      margin-bottom: 0px;
      // &:nth-child(3n+1) {
      //   margin-left: 0px;
      // }
      width: 218px;
      height: 240px;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0px;
      @include sofia-pro-medium;
      i {
        color: #7f7f7f;
      }
      &:hover {
        cursor: pointer;
        background-color: #fbfbfb;
        i {
          color: black;
        }
      }

      .top {
        padding-top: 15px;
        background-color: none;
        background: none;
        width: auto;
        h2 {
          flex-basis: 40px;
          font-weight: normal;
          text-transform: uppercase;
          font-weight: 500;
          color: #a3a3ae;
          font-size: 12px;
          line-height: 14px;
        }

      }

      .bottom {
        margin-top: 15px;
        width: auto;
        .handle {
         margin-top: 20px;
         margin-bottom: 20px;
        }
        .title {
          // placeholder
          height: 40px;
          margin-top: 15px;
          margin-bottom: 30px;
        }

        ul {
          margin-left: 10px;
          margin-bottom: 10px;
          height: 40px;
          display: flex;
          flex-direction: row;
          li {
            justify-content: space-between;
            margin: 10px 0 10px 0;
            width: 90px;
            @include sofia-pro-medium;
            .value {
              color: $gray-darkest;
              font-size: 18px;
            }
            .key {
              text-transform: uppercase;
              font-size: 12px;
              margin-top: 4px;
              color: $accent-gray;
            }

          }
        }

        .logo {
          padding: 10px;
          font-size: 50px;
        }        

        .link-title {
          margin-top: 15px;
          margin-bottom: 20px;
          height: 60px;
        }

        .link-url {
          max-height: 28px;
        }
      }
    }

    .external-link-tile--editable {
      height: 285px;
    }
  }
}
