.history-graph-container {
  flex-direction: row;
  align-items: flex-start;
  .history-graph {

    display: flex;
    flex-direction: row;
    justify-content: center;

    .axis path,
    .axis line {
      fill: none;
      stroke: none;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    rect {
      fill: #f6f6f6;
    }

    .line {
      fill: none;
      stroke: #c5c5c5;
      stroke-width: 2.3px;
    }

    .grid .tick {
      stroke: white;
      opacity: 0.7;
    }

    .y.axis .tick text {
      font-size: 10px;
    }


  }
  .info-port {
    background: #f6f6f6;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .rating {
      width: 130px;
      height: 130px;
      background: #09affe;
      -moz-border-radius: 65px;
      -webkit-border-radius: 65px;
      border-radius: 65px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .num {
        color: white;
        font-family: 'Sofia Pro';
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 2px;
      }
      .label {
        font-family: 'Sofia Pro';
        font-size: 14px;
        font-weight: 200;
        color: white;
      }
      margin-bottom: 20px;
    }
    .history-info {
      margin-bottom: 20px;
      padding: 0 5px;
      text-align: center;
    }
    .lower {
    }
    .compare {
      color: #00aeff;
      background: #f6f6f6;
      border: 1px solid #00aeff;
      border-radius: 5px;
      font-size: 20px;
      line-height: 24px;
      padding: 8px;
    }
  }
}
