@import 'topcoder-includes';
@import '../partials/combined';

.input-sticky-placeholder-container {
  position: relative;

  span.placeholder-text {
    position: absolute;
    top: 3px;
    right: 10px;
    @include sofia-pro-regular;
    font-size: 10px;
    line-height: 40px;
    text-transform: uppercase;
    color: $accent-gray;
  }
}
