@import 'topcoder-includes';
@import '../partials/combined';

// Default Challenge Tile Stylings
ios-card .challenge.tile-view {
  position: relative;
  width: 270px;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  background-color: $white;

  .challenge-track {
    width: 5px;
    height: 91px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-top-left-radius: 4px;
  }

  header {
    height: 91px;
    border-bottom: 1px solid #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a.name {
      display: block;
      padding: 15px 20px 0px 20px;
      @include sofia-pro-medium;
      font-size: 14px;
      line-height: 20px;
      color: $gray-darkest;
      text-decoration: none;
      @include ellipsis;
      text-transform: uppercase;
    }

    p.subtrack-color {
      padding: 0 20px;
      margin-top: 5px;
      @include sofia-pro-medium;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
    }

    .challenge-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      padding: 0 20px;
      margin-bottom: 10px;

      a {
        text-decoration: none;

        p {
          color: $accent-gray;
          @include sofia-pro-medium;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
        }
      }

      .stats, .registrants, .submissions, .forum {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .registrants, .submissions, .form {
        cursor: pointer;
      }

      .registrants {
        margin-right: 15px;
      }
    }
  }

  .challenge-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    .currentPhase {
      margin-top: 40px;
      @include sofia-pro-light;
      font-size: 18px;
      line-height: 23px;
      text-transform: uppercase;
      color: $gray-darkest;
    }
  }

  .prize-money {
    margin-top: 32px;
    margin-bottom: 10px;
    @include font-with-weight('Sofia Pro', 300);
    font-size: 20px;
    line-height: 24px;
  }

  .technologies {
    height: 36px;
    margin-bottom: 33px;
    padding: 0 20px;
    @include font-with-weight('Merriweather Sans');
    font-size: 13px;
    line-height: 18px;
  }

  .challenge-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    height: 63px;
    margin-top: 16px;
    background-image: url(/images/ico-calendar.svg);

    > p {
      @include sofia-pro-bold;
    }

    .starts-in {
      margin-top: 3px;
      font-size: 10px;
      line-height: 13px;
      text-transform: uppercase;
      color: #7F7F7F;
    }

    .time-remaining {
      margin-top: 5px;
      font-size: 24px;
      color: $gray-darkest;
    }

    .unit-of-time {
      margin-top: 1px;
      font-size: 10px;
      text-transform: lowercase;
      color: #7F7F7F;
    }
  }

  .stalled-challenge {
    margin-top: 31px;
    margin-bottom: 12px;
    height: 36px;
    padding: 0px 20px 0px 20px;
    @include sofia-pro-medium;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: $accent-gray;
  }

  .phase-action {
    margin-bottom: 25px;
  }

  .roles {
    min-height: 36px;
    margin-bottom: 25px;
    color: $gray-darkest;
    @include font-with-weight('Merriweather Sans');
    font-size: 13px;
    line-height: 18px;
  }

  div[class$="-icon"] {
    margin-right: 3px;
  }

  .registrants-icon {
    width: 15px;
    height: 16px;
    background-image: url(/images/ico-users.svg);
    background-size: 15px 16px;
  }

  .submissions-icon {
    width: 22px;
    height: 14px;
    background-image: url(/images/ico-submissions.svg);
  }

  .forum-icon {
    width: 20px;
    height: 17px;
    background-image: url(/images/ico-posts.svg);
  }

  // Dynamic colors based on track
  &.DESIGN {
    .challenge-track { background-color: $design; }
    header p.subtrack-color { color: $design; }
  }
  &.DEVELOP {
    .challenge-track { background-color: $develop; }
    header p.subtrack-color { color: $develop; }
  }
  &.DATA_SCIENCE {
    .challenge-track { background-color: $data_science; }
    header p.subtrack-color { color: $data_science; }
  }
  &.COPILOT {
    .challenge-track { background-color: $copilot; }
    header p.subtrack-color { color: $copilot; }
  }
}


