@media (min-width: 768px) {

.profile-widget-directive {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  img.profile-circle {
    margin-top: 10px;
    width: 180px;
    height: 180px;
  }
  .info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    h1.handle {
      margin: 0;
      font-size: 46px;
      line-height: 56px;
    }

    h3.tenure {
      margin-top: 3px;
    }

    h3.location-challenges {
      margin-top: 36px;
    }

    p.description {
      margin-top: 12px;
      width: 361px;
      text-align: left;
    }

  }
  .tracks-links {
    margin-top: -2.1px;
    .tracks {
      .track {
        img {
          height: 44px;
        }
        .text {
          margin-top: 8px;
        }
      }
    }
    hr {
      margin-bottom: 0;
    }

    .links {
      margin-top: 20px;
    }
  }
}

}
