.profile-widget-directive {
  display: flex;
  flex-direction: row;

  img.profile-circle {
    border-radius: 50%;
    display: inline;
    margin-right: 20px;
    width: 130px;
    height: 130px;
  }

  .info {
    margin-top: 20px;

    h1 {
      font-size: 25px;
      margin-bottom: 5px;
      span.realName {
        font-size: 15px;
      }
    }

    h5 {
      color: gray;
      &.tracks {
        text-transform: uppercase;
      }
      &.location {
        margin-top: 10px;
      }
    }
  }
}
