@import 'topcoder/tc-includes';

.profile-widget-directive {
  display: flex;
  flex-direction: column;
  align-items: center;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1.handle {
      text-align: center;
      font-size: 28px;
      line-height: 34px;
      @include roboto-medium;
    }

    h3.tenure {
      margin-top: 5px;
      font-size: 12px;
      line-height: 14px;
      @include roboto-light;
      color: $accent-gray;
      text-align: center;
      text-transform: uppercase;
    }

    h3.location-challenges {
      margin-top: 20px;
      font-size: 12px;
      line-height: 14px;
      @include roboto-medium;
      text-align: center;
      text-transform: uppercase;
    }

    p.description {
      margin-top: 12px;
      max-width: 600px;
      text-align: left;
    }

  }

  img.profile-circle {
    border-radius: 50%;
    display: inline;
    width: 140px;
    height: 140px;
  }

  h5 {
    color: gray;
    &.tracks {
      text-transform: uppercase;
    }
    &.location {
      margin-top: 10px;
    }
  }

  p.description {
    word-wrap: break-word;
    margin-top: 30px;
    font-size: 15px;
    line-height: 24px;
    //TODO change font to Merriweather Sans Regular
    @include merriweather-sans-regular;
    text-align: left;
    color: $gray-darkest;
  }

  .edit {
    width: 99px;
    margin-top: 30px;
    text-align: center;
    @include roboto-bold;
    // font-size: 12px;
  }

  .tracks-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;


    .tracks {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .track {
        cursor: pointer;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        + .track {
          margin-left: 20px;
        }
        .track-icon {
          background-size: 40px;
          width: 40px;
        }
        .text {
          @include roboto-light;
          color: $accent-gray;
          font-size: $label-small;
          line-height: 12px;
          margin-top: 11px;
          text-transform: uppercase;
          text-align: center;
          // white-space: nowrap;
          word-wrap: break-word;
        }
      }
    }
  }

  .links {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .link {
      @include roboto-regular;
      font-size: 12px;
      line-height: 14px;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
@media only screen and (min-width: 955px) {
  .profile-widget-directive {

  }
}
