.profile-widget-directive {
  display: flex;
  flex-direction: column;
  align-items: center;

  img.profile-circle {
    border-radius: 50%;
    display: inline;
    margin-right: 20px;
    width: 140px;
    height: 140px;
    margin-top: 30px;
  }

  h1.handle {
    margin-top: 30px;
    font-size: 38px;
    font-weight: bold;
  }

  h3.tenure {
    margin-top: 5px;
    font-size: 19px;
    color: #d1d3d4;
    text-transform: uppercase;
  }

  h5 {
    color: gray;
    &.tracks {
      text-transform: uppercase;
    }
    &.location {
      margin-top: 10px;
    }
  }

  h3.location-challenges {
    margin-top: 29px;
    font-size: 19px;
  }

  p.description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    width: 254px;
    text-align: center;
  }
}
