@import '../partials/combined';

.profile-widget-directive {
  display: flex;
  flex-direction: column;
  align-items: center;

  img.profile-circle {
    border-radius: 50%;
    display: inline;
    margin-right: 20px;
    width: 140px;
    height: 140px;
    margin-top: 30px;
  }

  h1.handle {
    margin-top: 10px;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    font-family: 'Sofia Pro';
    font-weight: bold;
  }

  h3.tenure {
    margin-top: 5px;
    font-size: 18px;
    line-height: 23px;
    font-family: 'Sofia Pro';
    font-weight: 300;
    color: #d1d3d4;
    text-align: center;
    text-transform: uppercase;
  }

  h5 {
    color: gray;
    &.tracks {
      text-transform: uppercase;
    }
    &.location {
      margin-top: 10px;
    }
  }

  h3.location-challenges {
    margin-top: 29px;
    font-size: 18px;
    font-family: 'Sofia Pro';
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  p.description {
    word-wrap: break-word;
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Source Sans Pro';
    max-width: 254px;
    text-align: center;
  }

  button.edit {
    @include button-1-m;
    width: 200px;
    margin-top: 10px;
  }

  .tracks-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    .tracks {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      .track {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 0 0 0;
        width: 90px;
        .text {
          font-family: 'Sofia Pro';
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          margin-top: 11px;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }

    hr {
      margin-top: 14px;
      color: #f0f0f0;
    }

    .links {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .link {
        @include button-2-m;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 5px;
        margin-right: 5px;
      }
    }


  }
}
@media (min-width: 768px) {

.profile-widget-directive {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  img.profile-circle {
    margin-top: 10px;
    width: 180px;
    height: 180px;
  }
  .info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    h1.handle {
      margin: 0;
      text-align: left;
      font-size: 46px;
      line-height: 56px;
    }

    h3.tenure {
      margin-top: 3px;
      text-align: left;
    }

    h3.location-challenges {
      margin-top: 36px;
      text-align: left;
    }

    p.description {
      margin-top: 12px;
      max-width: 600px;
      text-align: left;
    }

  }
  .tracks-links {
    margin-top: -2.1px;
    .tracks {
      .track {
        img {
          height: 44px;
        }
        .text {
          margin-top: 8px;
        }
      }
    }
    hr {
      margin-bottom: 0;
    }

    .links {
      margin-top: 20px;
    }
  }
}

}
