@import 'tc-includes';

.tc-carousel {

  ul {
    display: block;
    height: 148px;
    margin: 0 auto;
    @media only screen and (max-width: 767px) {
      display: none;
    }
    &[slide-count="1"] {
      width: 170px;
    }
    &[slide-count="2"] {
      width: 340px;
    }
    &[slide-count="3"] {
      width: 510px;
    }
    &[slide-count="4"] {
      width: 680px;
    }
    &[slide-count="5"] {
      width: 850px;
    }
    &[slide-count="6"] {
      width: 1020px;
    }
    &[slide-count="7"] {
      width: 1190px;
    }

    li {
      div:last-child {
        margin-right: 0;
      }
    }
  }

  .rn-carousel-controls {
    position: relative;
    @media only screen and (max-width: 767px) {
      display: none;
    }

    .rn-carousel-control {
      height: 148px;
      width: 80px;
      line-height: 148px;
      top: -148px;
      background-color: $gray-lightest;
      color: $accent-gray;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .rn-carousel-control-prev {
      left: 0;
    }

    .rn-carousel-control-prev:before {
      content: '';
      display: block;
      width: 20px;
      height: 38px;
      background-image: url('/images/ico-arrow-big-left.svg');
      background-size: 20px 38px;

      :hover {
        opacity: 0;
      }
    }

    .rn-carousel-control-next {
      right: 0;
    }

    .rn-carousel-control.rn-carousel-control-next:before {
      content: '';
      display: block;
      width: 20px;
      height: 38px;
      background-image: url('/images/ico-arrow-big-right.svg');
      background-size: 20px 38px;

      :hover {
        opacity: 0.3;
      }
    }

  }

  .slide {
    display: inline-block;
  }

// .carousel-elem-list {
  .slide {
    &:not(:first-child) {
      .carousel-elem:before {
        content: '';
        display: block;
        position: absolute;
        top: 32px;
        left: -30px;
        @include forward-slash(1px, 60px, 0, 2px, 30deg);
        background-color: $gray-light;
        @media only screen and (min-width: 768px) {
          top: 32px;
          left: -18px;
        }
      }
    }
  }
  .carousel-elem {
    position: relative;
    display: inline-block;
    margin-right: 65px;
    padding: 20px 0;
    @media only screen and (min-width: 768px) {
      width: 130px;
      margin-right: 35px;
      padding: 30px 20px;

      &:hover {
        background-color: $gray-lightest;

        .title {
          color: $gray-darkest;
          border-bottom-color: $gray-darkest;
        }

        p:last-child {
          color: $gray-darkest;
        }
      }
    }

    &:first-child {
      margin-left: 20px;
    }

    &:last-child {
      margin-right: 20px;
    }

    .flex-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      &.no-link {
        cursor: default;
      }
      &.link {
        cursor: pointer;
      }
    }

    p {
      @include sofia-pro-regular;
      font-size: 12px;
      color: $accent-gray;

      &:last-child {
        text-transform: uppercase;
      }
    }

    .title {
      padding-bottom: 7px;
      border-bottom: 1px solid #D1D3D4;
    }

    .value {
      position: relative;
      margin-bottom: 7px;
      font-size: 32px;
      color: $gray-darkest;
      @media only screen and (max-width: 767px) {
        margin-top: 10px;
      }

      span {
        position: absolute;
        top: 5px;
        right: -10px;
        width: 6px;
        height: 6px;
        background-color: #5E9EF1;
      }
    }
  }
// }
}
