@import 'topcoder/tc-includes';

skill-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 106px;
  width: 80px;

  @media (min-width: 768px) {
    width: 100px;
    height: 128px;
  }

  .new {
    .skill-icon {
      background-color: #F2FAFF;
      border: 1px solid #85CCFF;
      box-shadow: 0 0 3px #0096FF;
    }
  }

  a:hover {
    text-decoration: none;
  }

  a.skill-hidden {

    img {
      opacity: .3;
    }

    .hidden-indicator {
      display: block;
    }

    .name {
      text-decoration: line-through;
      color: $accent-gray;
    }
  }

  .skill-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    padding: 10px;
    border: 1px solid $gray-light;
    height: 80px;
    width: 80px;
    @media (min-width: 768px) {
      height: 100px;
      width: 100px;
    }

    .remove-indicator {
      position: absolute;
      display: none;
      top: 34px;
      left: 30px;
      @include background-image-size(40px, 50px);
      background: url(../../images/x-mark-red.svg);
      z-index: 100;
    }

    .hidden-indicator {
      position: absolute;
      display: none;
      top: 32px;
      left: 31px;
      @include background-image-size(36px, 36px);
      background: url(../../images/x-mark-gray.svg);
      z-index: 100;
    }

    img {
      width: 48px;
      height: 48px;
      @media only screen and (min-width: 768px) {
        width: 60px;
        height: 60px;
      }
    }

  }

  .name {
    @include roboto-light;
    margin-top: 8px;
    font-size: 12px;
    color: #3A3C3E;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
}

.settings-container {
  skill-tile {
    a:not(.skill-hidden):hover {
      div.skill-icon {
        background-color: #FEE8EC;
        border: 1px solid #FCBBC5;
        box-shadow: none;

        .remove-indicator {
          display: block;
        }
      }
      img {
        opacity: .3;
      }
    }
  }
}
