@import '../partials/combined';

.srm.tile-view {
  position: relative;
  width: 270px;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  background-color: $white;

  .challenge-track {
    width: 5px;
    height: 52px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-top-left-radius: 4px;
    background-color: #F39426;
  }

  header {
    padding: 0 20px;
    height: 52px;
    border-bottom: 1px solid #F0F0F0;

    a {
      display: block;
      width: 210px;
      @include sofia-pro-medium;
      font-size: 14px;
      line-height: 49px;
      color: #3D3D3D;
      text-decoration: none;
      @include ellipsis;
    }
  }

  .srm-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .starts-in {
    margin-top: 40px;
    margin-bottom: 20px;
    @include sofia-pro-light;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    span {
      @include sofia-pro-bold;
    }
  }

  .srm-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 76px;
    height: 91px;
    background-image: url(/images/svgs/ico-calendar-detailed.svg);

    span {
      display: block;
      @include sofia-pro-bold;
      color: #B7B7B7;

      &.day {
        margin-top: 2px;
        font-size: 24px;
        color: #3D3D3D;
      }
      &.month, &.time-zone {
        letter-spacing: 1.6px;
        font-size: 10px;
      }
      &.month {
        margin-top: 3px;
        margin-left: 3px;
      }
      &.time-zone {
        margin-top: 3px;
        margin-left: 2px;
      }
      &.hour {
        margin-top: 18px;
        margin-left: 3px;
        @include sofia-pro-regular;
        font-size: 12px;
        color: #3D3D3D;
      }
    }
  }

  .srm-action {
    margin-top: 22px;
    margin-bottom: 40px;
    @include button-m-wide;
  }
}

.srm.list-view {
  border-bottom: 1px solid $medium-gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  .srm-name {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    a {
      font-weight: bold;
      color: #4f4f4f;
      display: block;
      text-decoration: none;
      @include ellipsis;
    }
  }


  color: $dark-gray;
  padding-top: 10px;

  .days-remaining {
    flex: 1;
    text-align: center;
    font-size: 20px;

    span {
      display: block;
      @include source-sans-semi-bold;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .division {
    flex: 1;
    text-align: center;
    span {
      display: block;
      @include source-sans-semi-bold;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .rank {
    flex: 1;
    text-align: center;
    span {
      display: block;
      @include source-sans-semi-bold;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .phase-status {
    display: flex;
    flex-direction: row;

    i {
      color: #7ece95;
      margin-right: 5px;
    }
  }
}
