@import 'topcoder/tc-includes';

$tco-color: #F47A20;
$tco-color-dark: #ea690b;

.tco17 {
  margin-bottom: 10px;
}

.tc-banner-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $gray-darkest;
  padding: 20px 10px 20px 10px;
  @media only screen and (min-width: 768px) {
    padding: 30px 20px 30px 20px;
  }

  .image {
    margin-bottom: 15px;

    img {
      width: 186px;
    }
  }

  .title {
    @include sofia-pro-medium;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
  }

  .content {
    margin-top: 20px;
    @media only screen and (min-width: 768px) {
      margin-top: 30px;
    }
  }

  .description {
    max-width: 650px;
    margin-top: 20px;
    @include merriweather-sans-regular;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    @media only screen and (min-width: 768px) {
      margin-top: 30px;
    }
    @media only screen and (min-width: 900px) {
      max-width: 856px;
    }
  }

  .ctas {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @media only screen and (min-width: 768px) {
      margin-top: 30px;
    }

    .cta {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    a {
      text-transform: uppercase;
      display: block;
      @include sofia-pro-medium;

      &.primary-cta {
      }

      &.secondary-cta {
        font-size: 12px;
        line-height: 12px;
        color: $accent-gray;
      }

      &.tco-cta {
        border: 1px solid $tco-color;
        background-color: $tco-color;

        &:focus {
          border: 1px solid $tco-color;
          background-color: $tco-color;
        }

        &:hover {
          background-color: $tco-color-dark;
          border-color: $tco-color-dark;
        }

        &:active {
          background-color: $tco-color-dark;
          border-color: $tco-color-dark;
        }
      }
    }
  }
}

// themes

// black
.tc-banner-placeholder.black {
  margin-bottom: 10px;
  background-color: #222222;
  .title {
    @include sofia-pro-bold;
    color: $white;
  }

  .subtitle {
    @extend .title;
    @include sofia-pro-regular;
  }

  .description {
    color: $white;
  }

  .ctas {
    .cta {
      .learn-more {
        color: $gray-lighter;
      }
    }
  }

  .tc-btn-white {
    background-color: white;
    color: #0096FF;
    padding: 10px 20px;
    margin-top: 5px;
  }

  .tc-btn-radius {
    border-radius: 26px;
  }
}
.tc-banner-placeholder.bg-image {
  background-image: url(../../images/home-hero.jpg);
  background-size: 100%;
  height: 352px;
  background-position: center 40%;
  background-repeat: no-repeat;

  padding-top: 50px;

  .title {
    margin-top: 10px;
    @include sofia-pro-bold;
    color: $white;
  }

  .subtitle {
    margin-top: 20px;
    width: 450px;
    font-size: 20px;
    @extend .title;
    @include sofia-pro-regular;
  }

  .description {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .cta {
    margin-top: 20px;
  }
}


.tc-banner-placeholder.predix {
  background-image: url(../../images/predix-home-hero.jpg);
  background-size: 100%;
  height: 352px;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-color: #222222;
  z-index: 1;

  padding-top: 50px;

  .title {
    margin-top: 10px;
    @include sofia-pro-bold;
    color: $white;
  }

  .subtitle {
    margin-top: 50px;
    width: 450px;
    font-size: 20px;
    @extend .title;
    @include sofia-pro-regular;
  }

  .description {
    margin-top: 20px;
    margin-bottom: 5px;
    color: $white;
  }

  .cta {
    margin-top: 20px;
  }

  .tc-btn-white {
    background-color: white;
    color: #0096FF;
    padding: 10px 20px;
    margin-top: 10px;
  }

  .tc-btn-radius {
    border-radius: 26px;
  }
}

.tc-banner-placeholder.predix::before {
    content: ' ';
    background: url(../../images/predix-home-hero-title.png)
    no-repeat center center;
    width: 950px;
    height: 67px;
    position: relative;
    top: 0;
    left: 15%;
    margin-left: -250px;
}

.tc-banner-placeholder.cognitive {
  background-image: url(../../images/cognitive-home-hero.jpg);
  background-size: cover;
  height: 352px;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-color: #222222;
  z-index: 1;
  flex-direction: row;

  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 37px;
    height: 95%;
    justify-content: space-between;

    .img {
      background-image: url(../../images/cognitive-home-hero-title.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center 100%;
      height: 57px;
      width: 75%;
    }

    .description {
      color: $white;
      margin: 0 30px 0 0;
      font-size: 24px;
      line-height: 29px;
      text-align: left;
      font-weight: 300;
    }

    .cta {
      margin-top: 20px;
    }

    .tc-btn-white {
      background-color: white;
      color: #0096FF;
      padding: 10px 20px;
    }

    .tc-btn-radius {
      border-radius: 26px;
    }
  }
}


