@import 'topcoder-includes';
@import '../partials/combined';

.tc-section {
  min-height: 100px;

  .section-loading {
    width: 100%;
    min-height: 100px;
    background: url(/images/ripple.gif) no-repeat center center;
  }
}
