@import 'topcoder-includes';
@import '../partials/combined';
.tab-panel {
  .tab-set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 16px;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    .tab-pill {
      color: #a3a3ae;
      width: 140px;
      height: 30px;
      // padding-top: 6px;
      text-align: center;
    }

    &.selected {
      color: $gray-darkest;
      padding-bottom: 36px;
      border-bottom: solid 2px $primary;
    }

    .header {
      font-size: 18px;
      line-height: 24px;
      @include sofia-pro-medium;
      text-transform: uppercase;
    }
  }

  .tab-view {

  }
}
