@import 'topcoder-includes';
@import '../partials/combined';

// Toggle password directive
toggle-password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


  input#current-password-input {
    width: 155px;
    margin-bottom: 0;
    padding-left: 0;
    outline: 0;
  }
}
