@import 'topcoder/tc-includes';

// Toggle password with password tips directive
toggle-password-with-tips {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


  input#password-input {
    width: 155px;
    margin-bottom: 0;
    padding-left: 0;
    outline: 0;
  }
}
