@import 'topcoder/tc-includes';

// Toggle password directive
toggle-password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0px;

  input#current-password-input {
    margin-bottom: 0;
    outline: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 64px;
    height: 100%;
    border: none;
  }

  label {
    position: absolute;
    top: 10px;
    right: 0px;
  }
}
