@import '../partials/combined';

track-toggle {
  hr {
    margin-top: 15px;
    width: 100%;
    &.first {
      margin-top: 0px;
    }
  }
  .track {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .track-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 30px;

        .icon {
          &.disabled {
            color: #b7b7b7;
          }
          img {
            height: 32px;
            width: 35px;
          }
          span {
            font-family: 'Sofia Pro';
            font-size: 22px;
          }
        }
      }
    }
    .text {
      margin-left: 25px;
      .title {
        font-size: 22px;
        line-height: 28px;
        @include sofia-pro-regular;
        &.disabled {
          color: #b7b7b7;
        }
      }
      .description {
        font-family: 'Source Sans Pro';
        font-size: 13px;
        color: #b7b7b7;
      }
    }
  }
  @media only screen and (min-width: 760px) {
    hr {
      margin: 20px 0;
      margin-top: 20px;
      &.first {
        margin-top: 0px;
      }
    }
  }
}
.onoffswitch {
  position: relative; width: 45px;
  height: 24px;
  align-self: center;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  margin-right: 30px;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border-radius: 12px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
  font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #0096ff;
  color: #0096ff;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #d1d3d4;
  color: #d1d3d4;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 19px; margin: 2.5px;
  height: 19px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  margin-top: 2.45px;
  right: 20px;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}


