@import 'tc-includes';

track-toggle {
  border-top: 1px solid $gray-light;

  hr {
    margin-top: 15px;
    width: 100%;
    &.first {
      margin-top: 0px;
    }
    &.bottom {
      margin-bottom: 0;
    }
  }

  .track {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 0;
      border-bottom: 1px solid $gray-light;
      width: 100%;
      transition: background-color .15s;

      &.disabled {
        background-color: $gray-lightest;
      }

      .track-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;

        .icon {
          &.disabled {
            color: #b7b7b7;
          }
          img {
            height: 32px;
            width: 32px;
          }
          span {
            @include font-with-weight('Sofia Pro', 500);
            font-size: 16px;
          }
        }
      }
    }
    .text {
      margin-left: 15px;
      .title {
        font-size: 16px;
        line-height: 28px;
        @include sofia-pro-medium;
        text-transform: uppercase;
        transition: .1s color;
        &.disabled {
          color: #b7b7b7;
        }
      }
      .description {
        @include merriweather-sans-regular;
        font-size: 13px;
        margin-top: 4px;
        color: $accent-gray;
      }
    }
  }

  @media only screen and (min-width: 760px) {
    hr {
      margin: 20px 0;
      margin-top: 20px;
      &.first {
        margin-top: 0px;
      }
    }
  }
}

// Switch location
.onoffswitch {
  align-self: center;
  margin-right: 10px;
  margin-left: 30px;
}
