track-toggle {
  hr {
    margin-top: 15px;
    width: 100%;
    &.first {
      margin-top: 0px;
    }
  }
  .track {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .title {
        &.disabled {
          color: #b7b7b7;
        }
        img {
          height: 25px;
          width: 25px;
          margin-bottom: -4px;
          margin-right: 3px;
        }
        span {
          font-family: 'Sofia Pro';
          font-size: 22px;
        }
      }
    }
    .bottom {
      margin-top: 10px;
      .description {
        font-family: 'Source Sans Pro';
        font-size: 13px;
        color: #b7b7b7;
      }
    }
  }
  @media only screen and (min-width: 760px) {
    hr {
      margin: 20px 0;
      margin-top: 20px;
      &.first {
        margin-top: 0px;
      }
    }
  }
}
.onoffswitch {
  position: relative; width: 60px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border-radius: 36px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
  font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #0096ff;
  color: #0096ff;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #d1d3d4;
  color: #d1d3d4;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 19px; margin: 3.5px;
  height: 19px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  margin-top: 3.45px;
  right: 30px;
  border: none;
  border-radius: 36px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}


