.challenge-name
  a(ng-href="https://www.{{domain}}/challenge-details/{{challenge.challengeId}}/?type={{challenge.track}}") {{challenge.challengeName}}

.challenge-details
  .challenge-icons
    .roles-and-track
      img(ng-show="challenge.track === 'DEVELOP'", asset-src="/images/member-program/svg/development-generic.svg")
      img(ng-show="challenge.track === 'DESIGN' || challenge.track === 'Data Science'", asset-src="/images/member-program/svg/design-generic.svg")

      .role(ng-repeat="role in challenge.userDetails.roles") {{role}}

    a(ng-href="http://apps.topcoder.com/forums//?module=Category&categoryID={{challenge.forumId}}")
      i.fa.fa-comment

  .challenge-status
    p.days-remaining {{challenge.registrationEndDate | timeDiff}}
      span Registration Ends

    .stats
      .registrants(ng-show="challenge.numRegistrants > 0")
        i.fa.fa-user
        span {{challenge.numRegistrants}}
      .submissions(ng-show="challenge.numSubmissions > 0")
        i.fa.fa-files-o
        span {{challenge.numSubmissions}}

    .phase-status
      i.fa.fa-check-circle-o

      p {{challenge.memberStatusMsg}}
