.challenge.tile-view(ng-show="view === 'tile'", ng-class="challenge.track")
  .challenge-track

  header
    a(ng-href="https://www.{{DOMAIN}}/challenge-details/{{challenge.challengeId}}/?type={{challenge.track}}") {{challenge.name}}

    p {{subTrack}}

  .challenge-details
    .challenge-icons
      img(ng-show="challenge.track === 'DEVELOP'", src="/images/member-program/svg/development-generic.svg")
      img(ng-show="challenge.track === 'DESIGN' || challenge.track === 'Data Science'", src="/images/member-program/svg/design-generic.svg")

      a(ng-href="http://apps.{{DOMAIN}}/forums//?module=Category&categoryID={{challenge.forumId}}")
        i.fa.fa-comment

    div.thumbnail(ng-if="challenge.track === 'DESIGN'")
      img(ng-src="http://studio.topcoder.com/studio.jpg?module=DownloadSubmission&sbmid={{challenge.thumbnailId}}&sbt=thumb", fallback-src="/images/lock-icon-small.png")

    p.roles Roles: {{challenge.userDetails.roles | listRoles}}

    .challenge-status
      p.days-remaining(ng-show="challenge.status === 'Active'") {{challenge.registrationEndDate | timeDiff}}
        span Registration Ends
      p(ng-show="challenge.status === 'Completed'")
        span Ended {{challenge.submissionEndDate | date: "mediumDate"}}


      .stats
        .registrants(ng-show="challenge.numRegistrants > 0")
          i.fa.fa-user
          a(ng-href="https://www.{{DOMAIN}}/challenge-details/{{challenge.challengeId}}/?type={{challenge.track}}#viewRegistrant") {{challenge.numRegistrants}}
        .submissions(ng-show="challenge.numSubmissions > 0")
          i.fa.fa-files-o
          a(ng-href="https://www.{{DOMAIN}}/challenge-details/{{challenge.challengeId}}/?type={{challenge.track}}#viewRegistrant") {{challenge.numSubmissions}}

      .phase-status(ng-show="challenge.status === 'Active'")
        i.fa.fa-check-circle-o

        p {{challenge.memberStatusMsg}}

.challenge.list-view(ng-show="view=='list'")
  .challenge-icons
    img(ng-show="challenge.track === 'DEVELOP'", src="/images/member-program/svg/development-generic.svg")
    img(ng-show="challenge.track === 'DESIGN' || challenge.track === 'Data Science'", src="/images/member-program/svg/design-generic.svg")

  .challenge-name
    a(ng-href="https://www.{{DOMAIN}}/challenge-details/{{challenge.challengeId}}/?type={{challenge.track}}") {{challenge.name}}
    .phase-status(ng-show="challenge.status === 'Active'")
      i.fa.fa-check-circle-o

      p {{challenge.memberStatusMsg}}

  .roles
    p Roles : {{challenge.userDetails.roles | listRoles}}

  p.days-remaining(ng-show="challenge.status === 'Active'") {{challenge.registrationEndDate | timeDiff}}
    span Registration Ends
  p.completion-date(ng-show="challenge.status === 'Completed'")
    span Ended {{challenge.submissionEndDate | date: "mediumDate"}}

  .stats
    .registrants(ng-show="challenge.numRegistrants > 0")
      i.fa.fa-user
      a(ng-href="https://www.{{DOMAIN}}/challenge-details/{{challenge.challengeId}}/?type={{challenge.track}}#viewRegistrant") {{challenge.numRegistrants}}
    .submissions(ng-show="challenge.numSubmissions > 0")
      i.fa.fa-files-o
      a(ng-href="https://www.{{DOMAIN}}/challenge-details/{{challenge.challengeId}}/?type={{challenge.track}}#viewRegistrant") {{challenge.numSubmissions}}


  .challenge-links
    a(ng-href="http://apps.{{DOMAIN}}/forums//?module=Category&categoryID={{challenge.forumId}}")
      i.fa.fa-comment
