.challenge-name
  a(ng-href="https://www.{{domain}}/challenge-details/{{challenge.challengeId}}/?type={{challenge.track}}") {{challenge.challengeName}}

.challenge-details
  .challenge-icons
    .roles-and-track
      img(ng-show="challenge.track === 'DEVELOP'", asset-src="/images/member-program/svg/development-generic.svg")
      img(ng-show="challenge.track === 'DESIGN' || challenge.track === 'Data Science'", asset-src="/images/member-program/svg/design-generic.svg")

  p.placeholder Spotlight Challenge

  .challenge-status
    .challenge-info
      p.prize {{challenge.totalPrize | currency:undefined:0}}

      p.registrationDate Registration begins 8/08/15

    .stats
      .registrants(ng-show="challenge.numRegistrants > 0")
        i.fa.fa-user
        span {{challenge.numRegistrants}}
      .submissions(ng-show="challenge.numSubmissions > 0")
        i.fa.fa-files-o
        span {{challenge.numSubmissions}}
