.challenge-links(ng-class="view + '-view'")
  a.registrants(ng-href="{{challenge|challengeLinks:'registrants'}}", ng-switch="challenge.subTrack")
    .icon.registrants-icon
    p(ng-switch-when="MARATHON_MATCH") {{challenge.numRegistrants[0]}}
    p(ng-switch-default) {{challenge.numRegistrants}}

  a.submissions(ng-hide="challenge.track === 'DATA_SCIENCE'", ng-href="{{challenge|challengeLinks:'submissions'}}")
    .icon.submissions-icon
    p {{challenge.numSubmissions}}

  a.forum(ng-href="{{challenge|challengeLinks:'forums'}}")
    .icon.forum-icon
    p Posts
