.my-challenges-container
  .my-challenges
    .nav
      .breadcrumbs
        .dashboard
          a(ui-sref="dashboard") Dashboard

        .my-challenges // My Challenges

    .section-loading(ng-show="vm.loading")

    section.noChallenges(ng-if="!vm.userHasChallenges && !vm.loading")
      p(ng-hide="vm.isError") You have not participated in any challenges yet.

      p(ng-show="vm.isError") There was an error fetching challenges. Please try again later.

    .content
      section.challenges(ng-show="vm.userHasChallenges && !vm.loading")
        .top
          .filters
            a(ng-click="vm.viewActiveChallenges()", ng-class="{disabled: vm.statusFilter == 'active'}") Active
            span &nbsp; | &nbsp;
            a(ng-click="vm.viewPastChallenges()", ng-class="{disabled: vm.statusFilter == 'completed'}") Past

          .challenge-view-toggle
            button.tile(ng-click="vm.changeView('tile')", ng-class="{ disabled: vm.view === 'tile' }") Grid

            button.list(ng-click="vm.changeView('list')", ng-class="{ disabled: vm.view === 'list' }") List

        .data(ng-class="vm.view + '-view'")
          challenge-tile(ng-repeat="challenge in vm.myChallenges | orderBy:registrationEndDate:true", challenge="challenge", view="vm.view", ng-class="vm.view + '-view'")

        .bottom
          tc-paginator(data="vm.myChallenges", page-params="vm.pageParams")
