.profile-develop-container(ng-cloak, ng-show="profileVm.status.stats === 'ready'")
  hr
  h1.type {{vm.track}}: {{vm.subTrack}}
  hr

  ul.horizontal-stats
    li.stat
      .value {{vm.typeStats.overallRank}}
      .name RANK

    li.stat
      .value {{vm.typeStats.rating}}
      .name RATING

    li.stat
      .value {{vm.typeStats.challenges}}
      .name PROJECTS

    li.stat
      .value {{vm.typeStats.overallCountryRank}}
      .name COUNTRY RANK

    li.stat
      .value {{vm.typeStats.reliability | percentage}}
      .name RELIABILITY

  .tabs
    a(ng-click="vm.viewing = 'challenges'",
      ng-class="vm.viewing == 'challenges' ? 'selected' : ''"
    ) Challenges

    a(ng-click="vm.viewing = 'stats'",
      ng-class="vm.viewing == 'stats' ? 'selected' : ''"
    ) Stats

  hr

  tc-section(ng-show="vm.viewing == 'challenges'", state="profileVm.status.pastChallenges")
    .challenges
      .challenge.tile(ng-repeat="challenge in vm.pastChallenges = (profileVm.pastChallenges | filter: {'track': vm.track, 'subTrack': vm.subTrack})")
        challenge-tile(challenge="challenge", domain="vm.domain")
      .div(ng-show="!vm.pastChallenges || vm.pastChallenges.length == 0")
        No past challenges available for this user

  .stats(ng-show="vm.viewing == 'stats' && profileVm.status.stats === 'ready'")
    .graphs
      img(src="images/graph.png")

    h2.detailed Detailed Stats

    ul.vertical-stats
      li
        .left Submissions
        .right {{vm.typeStats.detailed.submissions}}

      li
        .left Submission Rate
        .right {{vm.typeStats.detailed.submissionRate | percentage}}

      li
        .left Passed Screening
        .right {{vm.typeStats.detailed.passedScreening}}

      li
        .left Screening Success Rate
        .right {{vm.typeStats.detailed.screeningSuccessRate | percentage}}

      li
        .left Passed Review
        .right {{vm.typeStats.detailed.passedReview}}

      li
        .left Review Success Rate
        .right {{vm.typeStats.detailed.reviewSuccessRate | percentage}}

      li
        .left Maximum Score
        .right {{vm.typeStats.detailed.maxScore}}

      li
        .left Minimum Score
        .right {{vm.typeStats.detailed.minScore}}

      li
        .left Appeals
        .right {{vm.typeStats.detailed.appeals}}

      li
        .left Appeals Success Rate
        .right {{vm.typeStats.detailed.appealSuccessRate | percentage}}

      li
        .left Average Score
        .right {{vm.typeStats.detailed.avgScore}}

      li
        .left Average Placement
        .right {{vm.typeStats.detailed.avgPlacement}}

      li
        .left Wins
        .right {{vm.typeStats.detailed.wins}}

      li
        .left Win Percentage
        .right {{vm.typeStats.detailed.winPercent | percentage}}
