.profile-widget-directive
  a(ui-sref="profile.about({userHandle: profile.handle})")
    img.profile-circle(fallback-img="/images/avatarPlaceholder.png", loading-src="/images/avatarPlaceholder.png", ng-src="{{profile.photoURL}}")

  .info
    h1 {{profile.handle}}

    h3.tracks {{profile.tracks || [] | track | join: ', '}}

    h3.location-challenges {{profile.homeCountryCode | country}} || {{numChallenges}}

    a(ng-show="editProfileLink", ui-sref="settings.profile") Edit Profile

  .tracks-links
    .tracks
      .track(ng-repeat="track in (profile.tracks | track)")
        | {{track}}
    hr
    .links
      a.forums(href="http://forums.{{DOMAIN}}/?module=History&userID={{profile.userId}}")
        i.fa.fa-comment-o
