.profile-widget-directive
  a(ui-sref="profile.about({userHandle: profile.handle})") 
    img.profile-circle(fallback-src="/images/avatarPlaceholder.png", ng-src="{{profile.photo.photoUrl}}")

  .info
    h1 {{profile.handle}} 

      a(href="http://forums.{{DOMAIN}}/?module=History&userID={{vm.profile.userId}}")
        i.fa.fa-comment-o

    h3.tracks {{profile.tracks || [] | track | join: ', '}}

    h3.location {{profile.homeCountry}}

    a(ng-show="editProfileLink" ng-href="http://community.{{DOMAIN}}/tc?module=MyHome") Edit Profile
