.profile-widget-directive
  img.profile-circle(ng-src="https://www.topcoder.com/i/m/{{profile.handle}}.jpeg")

  .info
    h1 {{profile.handle}}

    h3.tracks {{profile.tracks | displayTracks}}

    h3.location {{profile.location | joinArray}}
