.profile-widget-directive
  a(ui-sref="profile.about({userHandle: profile.handle})")
    img.profile-circle(fallback-img="/images/avatarPlaceholder.png", ng-src="http://www.topcoder.com{{profile.photoURL}}")

  h1.handle {{profile.handle}}

  h3.tenure(ng-if="profile.startMonth")
    | Member Since {{profile.startMonth}}

  h3.location-challenges {{profile.homeCountryCode | country}} | {{numChallenges}} Challenges

  p.description {{profile.quote}}

  a(ng-show="editProfileLink", ui-sref="settings.profile") Edit Profile
