.profile-widget-directive
  a(ui-sref="profile.about({userHandle: profile.handle})")
    img.profile-circle(ng-if="profile.photoURL", ng-src="{{profile.photoURL}}")
    img.profile-circle(ng-if="!profile.photoURL", src="/images/ico-user-default.svg")

  .info
    h1.handle(style="color:{{handleColor}};") {{profile.handle}}

    h3.location-challenges {{profile.homeCountryCode | isoCountry}}
      span.bar(ng-show="profile.homeCountryCode && numWins") &nbsp;|&nbsp;
      span(ng-show="numWins") {{numWins}} Wins

    h3.tenure(ng-if="profile.startMonth")
      | Member Since {{profile.startMonth}}

    a.tc-btn.tc-btn-s.edit(ng-show="editProfileLink", ui-sref="settings.profile") Edit Profile

  .tracks-links
    .tracks
      .track(ng-repeat="track in (profile.tracks)", ng-click="profileVm.scrollTo(track)")
        div(class="{{profileVm.imgMap[track]}}-icon")
          div
        .text {{track | role}}

  p.description {{profile.description}}

  .links
    a.badges.link(ng-click="profileVm.showBadges()", ng-show="profileVm.profile.badges.Achievements.length > 0")
      | Badges
    a.forums.link(ng-href="http://forums.{{DOMAIN}}/?module=History&userID={{profileVm.profile.userId}}")
      | Forum Posts
