.profile-widget-directive
  a(ui-sref="profile.about({userHandle: profile.handle})")
    img.profile-circle(fallback-src="/images/avatarPlaceholder.png", ng-src="{{profile.photoURL}}")

  h1.handle {{profile.handle}}

  h3.tenure(ng-if="profile.startMonth")
    | Member Since {{profile.startMonth}}

  h3.location-challenges {{profile.homeCountryCode | isoCountry}} | {{numChallenges}} Challenges

  p.description {{profile.description}}

  a(ng-show="editProfileLink", ui-sref="settings.profile") Edit Profile
