.profile-widget-directive
  a(ui-sref="profile.about({userHandle: profile.handle})")
    img.profile-circle(fallback-img="/images/avatarPlaceholder.png", loading-src="/images/avatarPlaceholder.png", ng-src="{{profile.photoURL}}")

  .info
    h1 {{profile.handle}}

      a(href="http://forums.{{DOMAIN}}/?module=History&userID={{profile.userId}}")
        i.fa.fa-comment-o

    h3.tracks {{profile.tracks || [] | track | join: ', '}}

    h3.location {{profile.homeCountry}}

    a(ng-show="editProfileLink", ui-sref="settings.profile") Edit Profile
