p {{vm.test}}, world.
p parent controller value: {{submissions.challengeId}}

p Thank you for submitting!

a.tc-btn(ng-href="https://www.{{DOMAIN}}/challenge-details/{{submissions.challengeId}}/?type={{submissions.track}}") Back to challenge details

a.tc-btn(ui-sref="submissions.file") Submit again
