.preferences-container
  h1.tab-title Preferences
    ul
      li
        a(href="http://thecloud.appirio.com/email_prefs_request.html") Email notifications

      hr

      li
        a(href="https://apps.{{DOMAIN}}/forums/") Forums

      hr

      li
        a(href="https://community.{{DOMAIN}}/tc?module=EditPaymentPreferences") Payments

  h1.tab-title Documentation
    ul
      li
        a(href="https://community.{{DOMAIN}}/PactsMemberServlet?module=PaymentHistory") Payment history

      hr

      li
        a(href="https://community.{{DOMAIN}}/tc?module=VisaSelection") Visa letter status

  h1.tab-title Community

    ul
      li
        a(href="https://community.{{DOMAIN}}/tc?module=ViewReferrals") Referrals
