.settings-container
  header
    h1 Settings

    nav
      ul
        li
          a(ui-sref="settings.profile", ui-sref-active="active-tab") Profile

        li
          a(ui-sref="settings.account", ui-sref-active="active-tab") Account Info

  hr

  ui-view
