.settings-container
  .page-header
    page-state-header(handle="{{settings.userHandle}}", page-title="settings", hide-money="true", show-back-link="false", default-state="dashboard")

  nav
    ul
      li
        a(ui-sref="settings.profile", ui-sref-active="active-tab") Profile

      li
        a(ui-sref="settings.account", ui-sref-active="active-tab") Account

      li
        a(ui-sref="settings.preferences", ui-sref-active="active-tab") Preferences

  ui-view
