.reset-password-container(ng-show="!vm.resetTokenSent && !vm.token")

  header
    a.logo-link(href="/")
      img(src="/images/logo_mobile.svg", alt="Topcoder Logo")
    .arrow
  h1(class="header") PASSWORD RESET

  form.reset-form(name='vm.generateTokenForm', role="form", ng-submit="vm.generateTokenForm.$valid && vm.sendLink()", novalidate)

    p.email-label Please enter your email address, and we'll send you a link to reset your password

    .validation-bar(ng-class="{ 'error-bar': (vm.generateTokenForm.email.$dirty && vm.generateTokenForm.email.$invalid), 'success-bar': (vm.generateTokenForm.email.$valid) }")
      input-sticky-placeholder(sticky-placeholder="Email", ng-model="vm.email")
        input(ng-model="vm.email", ng-focus="vm.emailTips = true", ng-blur="vm.emailTips = false", name="email", placeholder="EMAIL ADDRESS", type="email", valid-email, required)

      .tips.email-tips(ng-show="vm.emailTips")
        .arrow
        h3 Email Tips:

        p Enter your email address and we'll get back to you with a reset link

    .form-errors
      p.form-error(ng-show="vm.generateTokenForm.email.$dirty && vm.generateTokenForm.email.$invalid") Please enter a valid email address.
      p.form-error(ng-show="vm.alreadySent") You already requested a reset link recently. Please check your inbox or spam folder. If you have any trouble, please contact 
        a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com
      p.form-error(ng-show="vm.emailNotFound") We couldn't find a member with that email address. Please check that you entered it correctly. If you continue to have trouble, please contact 
        a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com
      p.form-error(ng-show="vm.unkownError") We were unable to send you a reset link because of a temporary problem. Please try again. If you continue to have trouble, please contact 
        a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com

    button.tc-btn(type="submit", ng-disabled='vm.generateTokenForm.email.$invalid || vm.loading', ng-class="{'enabled-button': vm.generateTokenForm.$valid && !vm.loading}") Get Reset Link

  a.link(ui-sref="login") Back to Login

.reset-password-container(ng-show="vm.resetTokenSent")
  h1(class="header") Back on Track!
  p We have sent you an email with a link to reset your password.
  a.link(ui-sref="login") Back to Login

.reset-password-container(ng-show="vm.token")
  header
    img(src="/images/logo_mobile.svg", alt="Topcoder Logo")
    .arrow
  h1(class="header") CREATE NEW PASSWORD

  form.reset-form(name='vm.resetPasswordForm', role="form", ng-submit="vm.resetPasswordForm.$valid && vm.resetPassword()", novalidate)

    .validation-bar(ng-class="{ 'success-bar': (vm.resetPasswordForm.password.$valid) }")
      toggle-password-with-tips

      .tips.password-tips(ng-show="vm.passwordFocus")
        .arrow
        h3 Password Tips:
        p(ng-class="{ 'has-length-between-range': (vm.resetPasswordForm.password.$dirty && !vm.resetPasswordForm.password.$error.minlength && !vm.resetPasswordForm.password.$error.maxlength && !vm.resetPasswordForm.password.$error.required) }") Must be between 8 and 64 characters
        
        p(ng-class="{ 'has-letter': (vm.resetPasswordForm.password.$dirty && !vm.resetPasswordForm.password.$error.hasLetter) }") At least one letter
        
        p(ng-class="{ 'has-symbol-or-number': (vm.resetPasswordForm.password.$dirty && !vm.resetPasswordForm.password.$error.hasSymbolOrNumber) }") At least one number or symbol

    .form-errors
      p.form-error(ng-show="vm.resetFailed") We were unable to reset your password. Please request another reset link. If you continue to have trouble, please contact 
        a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com

    button.tc-btn(type="submit", ng-disabled='vm.resetPasswordForm.password.$invalid || vm.loading', ng-class="{'enabled-button': vm.resetPasswordForm.$valid && !vm.loading}") Set Password

  a.link(ui-sref="login") Back to Login
