.reset-password-container(ng-show="!vm.resetTokenSent && !vm.token")

  h1(class="header") Forgot Password

  p Enter your email address and we'll get back to you with a reset link
  form.reset-form(name='vm.generateTokenForm', role="form", ng-submit="vm.generateTokenForm.$valid && vm.sendLink()", novalidate)
    input(type="email", name="email", ng-model="vm.email" required email)

    p.login-error(ng-show="vm.alreadySent") You already requested a reset link recently. Please check your inbox or spam folder. If you have any trouble, please contact 
      a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com
    p.login-error(ng-show="vm.emailNotFound") We couldn't find a member with that email address. Please check that you entered it correctly.
    p.login-error(ng-show="vm.unkownError") We were unable to send you a reset link because of a temporary problem. Please try again. If you continue to have trouble, please contact 
      a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com

    button(type="submit", ng-disabled='vm.generateTokenForm.email.$invalid', ng-class="{'enabled-button': vm.generateTokenForm.$valid}") Get Reset Link

  a.link(ui-sref="login") Back to Login

.reset-password-container(ng-show="vm.resetTokenSent")
  h1(class="header") Back on Track!
  p We have sent you an email with a link to reset your password.
  a.link(ui-sref="login") Back to Login

.reset-password-container(ng-show="vm.token")
  h1(class="header") New Password?

  form.reset-form(name='vm.resetPasswordForm', role="form", ng-submit="vm.resetPasswordForm.$valid && vm.resetPassword()", novalidate)

    .validation-bar(ng-class="{ 'success-bar': (vm.resetPasswordForm.password.$valid) }")
      input(ng-model="vm.password", name="password", placeholder="Password", type="password", ng-focus="vm.passwordFocus = true", ng-blur="vm.passwordFocus = false", ng-minlength="8", ng-maxlength="64", has-letter, has-symbol, has-number, required)

      .tips.password-tips(ng-show="vm.passwordFocus")
        h3 Password Tips:

        p(ng-class="{ 'has-length-between-range': (vm.resetPasswordForm.password.$dirty && !vm.resetPasswordForm.password.$error.minlength && !vm.resetPasswordForm.password.$error.maxlength && !vm.registerForm.password.$error.required) }") Must be between 8 and 64 characters

        p(ng-class="{ 'has-letter': (vm.resetPasswordForm.password.$dirty && !vm.resetPasswordForm.password.$error.hasLetter) }") At least one letter

        p(ng-class="{ 'has-symbol': (vm.resetPasswordForm.password.$dirty && !vm.resetPasswordForm.password.$error.hasSymbol) }") At least one symbol

        p(ng-class="{ 'has-number': (vm.resetPasswordForm.password.$dirty && !vm.resetPasswordForm.password.$error.hasNumber) }") At least one number

    .form-errors
      p.login-error(ng-show="vm.resetFailed") We were unable to reset your password. Please request another reset link. If you continue to have trouble, please contact 
        a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com
      p.login-error(ng-show="vm.loginFailed") Your new password has been set. Please log in. If you have any trouble, please contact 
        a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com

    button(type="submit", ng-disabled='vm.resetPasswordForm.password.$invalid', ng-class="{'enabled-button': vm.resetPasswordForm.$valid}") Reset Password

  a.link(ui-sref="login") Back to Login
