#reset-password-container.reset-password-container

  h1(class="header") Forgot Password

  p Enter your email address and we'll get back to you with a reset link
  form.reset-form(name='vm.resetPasswordForm')
    input(type="email", name="email", ng-model="vm.email" required email)

    button(ng-click='sendLink()', ng-disabled='vm.resetPasswordForm.email.$invalid') Get Reset Link
       
  a.link(ui-sref="login") Back to Login