.reset-password-container(ng-show="!vm.resetTokenSent && !vm.resetTokenFailed && !vm.token")

  h1(class="header") Forgot Password

  p Enter your email address and we'll get back to you with a reset link
  form.reset-form(name='vm.generateTokenForm', role="form", ng-submit="vm.generateTokenForm.$valid && vm.sendLink()", novalidate)
    input(type="email", name="email", ng-model="vm.email" required email)

    button(type="submit", ng-disabled='vm.generateTokenForm.email.$invalid', ng-class="{'enabled-button': vm.generateTokenForm.$valid}") Get Reset Link
       
  a.link(ui-sref="login") Back to Login
  
.reset-password-container(ng-show="vm.resetTokenSent")
  h1(class="header") Back on Track!
  p We have sent you an email with a link to reset your password.
  a.link(ui-sref="login") Back to Login
  
.reset-password-container(ng-show="vm.resetTokenFailed || vm.resetFailed")
  h1(class="header") Ooops!
  p(ng-show="vm.alreadySent") Looks like you already requested a reset link, please check your spam folder. If you have any trouble, feel free to contact 
    a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com
  p(ng-show="vm.emailNotFound") We couldn't find an account associated with that email address. If you need any more assistance, feel free to contact 
    a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com
  p(ng-show="vm.unkownError") We were unable to reset your password due to a temporary problem. Please try again later, and if you need any more assistance, feel free to contact 
    a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com
  a.link(ng-click="vm.clearState()") Try again
  
  
.reset-password-container(ng-show="vm.token && !vm.resetFailed")
  h1(class="header") New Password?

  form.reset-form(name='vm.resetPasswordForm', role="form", ng-submit="vm.resetPasswordForm.$valid && vm.resetPassword()", novalidate)
    input(ng-model="vm.password", name="password", placeholder="Password", type="password", required)

    button(type="submit", ng-disabled='vm.resetPasswordForm.password.$invalid', ng-class="{'enabled-button': vm.resetPasswordForm.$valid}") Reset Password
       
  a.link(ui-sref="login") Back to Login
  
.reset-password-container(ng-show="vm.resetFailed")
  h1(class="header") Ooops!
  p Your password could not be reset. If you continute to have trouble, feel free to contact 
    a(href="mailto:support@topcoder.com?Subject=Unable%20to%20reset%20my%20password" target="_top") support@topcoder.com
  a.link(ui-sref="login") Back to Login