.sitemap-container
  h1.page-header SITE MAP
  
  .sitemap-wrapper
    section.sitemap-nav
      h2.sitemap-header Compete
      ul
        li 
          a(href="/challenges/design/active") Design Challenges
        li  
          a(href="/challenges/develop/active") Development Challenges
        li 
          a(href="/challenges/data/active") Data Science Challenges
        li 
          a(href="//arena.topcoder.com/") Single Round Matches
          
          
    section.sitemap-nav.hide-small
      h2.sitemap-header Learn
      ul
        li 
          a(href="/community/design") Design
        li  
          a(href="/community/devlopment") Development
        li 
          a(href="/community/data-science") Data Science
        li 
          a(href="/community/competitive programming") Competitive Programming
              
    section.sitemap-nav
      h2.sitemap-header Community
      ul
        li 
          a(href="/community") Home
        li 
          a(href="/community/members") Members
        li  
          a(href="/community/member-programs") Programs
        li 
          a(href="//apps.topcoder.com/forums") Forums
        li 
          a(href="/community/statistics") Statistics
        li 
          a(href="/community/events") Events
        li 
          a(href="/blog") Blog
          
    section.sitemap-nav.hide-small
      h2.sitemap-header My Account
      ul
        li 
          a(href="/my-dashboard") Dashboard
        li 
          a(href="/members/") My Profile
        li  
          a(href="/settings/profile") Settings
          
          
