.sitemap-container
  h1.page-header SITE MAP
  
  .sitemap-wrapper
    section.sitemap-nav
      h2.sitemap-header Compete

      ul
        li 
          a(href="/challenges/#&tracks=develop&mode=6&name=All%20Challenges") Design Challenges
        li  
          a(href="/challenges/#&tracks=design&mode=6&name=All%20Challenges") Development Challenges
        li 
          a(href="/challenges/#&tracks=datasci&mode=6&name=All%20Challenges") Data Science Challenges
        li 
          a(href="//arena.topcoder.com/") Single Round Matches
          
          
    section.sitemap-nav.hide-small
      h2.sitemap-header Learn

      ul
        li 
          a(href="/community/design") Design
        li  
          a(href="/community/development") Development
        li 
          a(href="/community/data-science") Data Science
        li 
          a(href="/community/competitive-programming") Competitive Programming
              
    section.sitemap-nav
      h2.sitemap-header Community

      ul
        li 
          a(href="/community") Home
        li 
          a(href="/community/members") Members
        li  
          a(href="/community/member-programs") Programs
        li 
          a(href="//apps.topcoder.com/forums") Forums
        li 
          a(href="/community/statistics") Statistics
        li 
          a(href="/community/events") Events
        li 
          a(href="/blog") Blog
          
    section.sitemap-nav.hide-small
      h2.sitemap-header My Account

      ul
        li 
          a(ui-sref="dashboard") Dashboard
        li 
          a(href="/members/") My Profile
        li  
          a(ui-sref="settings.profile") Settings
          
          
