@import 'topcoder/tc-includes';

.panel-body {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.panel-footer {
  text-align: center;

  p {
    margin-bottom: 30px;
    @include font-with-weight('Merriweather Sans', 300);
    font-size: 13px;
    line-height: 24px;
    color: $gray-darkest;
    text-align: left;
  }

  .checkbox {
    label {
      margin-left: 10px;
      @include font-with-weight('Sofia Pro', 500);
      font-size: 16px;
      color: $gray-darkest;
      text-transform: uppercase;
    }
  }

  button.tc-btn {
    margin-top: 30px;
  }
}

.submitterRank {
  width: 100px;
  margin-top: 10px;
}

tc-form-fonts {
  .fieldset {
    max-width: 500px;
  }
}

.Select {
  max-width: 300px;
  margin-bottom: 20px;
}

.tc-error-messages {
  max-width: 500px;
}
