@import '../partials/combined';

body, .view-container {
  background-color: #f1f2f2;
}

.login-container, .register-container {
  width: 300px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
  @include source-sans;

  // Basic element stylings
  h1 {
    margin-bottom: 30px;
    @include source-sans-light;
    font-size: 46px;
    color: #414042;
  }

  a {
    @include login-link;
  }

  input, button {
    display: block;
    margin-bottom: 10px;
  }

  input {
    height: 40px;
    width: 290px;
    padding-left: 10px;
    border: 0;
    @include source-sans;
    font-size: 16px;
    color: #231F20;
  }

  button {
    width: 300px;
    height: 50px;
    margin-top: 20px;
    background-color: #94D7ED;
    color: $white;
    text-transform: uppercase;
    border: 0;
    border-radius: 8px;
    font-size: 21px;
  }

  .enabled-button {
    background-color: #27a9e1;
  }

  // Form stylings
  .form-errors {
    padding-bottom: 10px;
  }

  .login-notice {
    font-size: 13px;
    color: #58595B;
  }

  .login-error {
    @extend .login-notice;
    color: red;
  }

  // Social section
  .social {
    margin-top: 15px;

    p {
      font-size: 21px;
      line-height: 32px;
      color: #231F20;
    }

    .social-icons {
      display: flex;
      justify-content: center;

      i {
        margin: 7px;
      }

      .fa-github-square {
        font-size: 45px;
        color: #404041;
      }
      .fa-facebook-square {
        font-size: 45px;
        color: #0D72B9;
      }
      .fa-google-plus-square {
        font-size: 45px;
        color: #EE4036;
      }
      .fa-twitter-square {
        font-size: 45px;
        color: #26A9E0;
      }
    }
  }

  .redirect {
    margin-top: 10px;
    font-size: 14px;
  }

  ::-webkit-input-placeholder {
    color: #231F20;
  }

  ::-moz-placeholder {
    color: #231F20;
  }

  :-ms-input-placeholder {
    color: #231F20;
  }
}
