@import '../partials/combined';


.login-container, .register-container, .reset-password-container, .registered-successfully-container {
  width: 560px;
  margin: 120px auto 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  @include source-sans-regular;
  background-color: white;

  header {
    height: 70px;
    background-color: #2E2E2E;
    display: flex;
    justify-content: center;
    /* TODO remove workarounds of -ve margin */
    margin-top: -66px;
    margin-bottom: 30px;

    .arrow {
      background-image: url(/images/ico-arrow.png);
      background-repeat: no-repeat;
      background-position: 0px -11px;
      width: 16px;
      /* TODO remove workarounds of -ve margin */
      margin-left: -35px;
      margin-top: 61px;
    }
  }

  // Basic element stylings
  h1 {
    margin-bottom: 30px;
    @include ui-h1;
    color: #3D3D3D;
    line-height: 30px;
    font-size: 20px;
    @include sofia-pro-light;
    width: 380px;
    align-self: center;
  }

  a {
    @include login-link;
  }

  input:not([type="checkbox"]), button {
    display: block;
    margin-bottom: 10px;
  }

  input:not([type="checkbox"]) {
    height: 40px;
    width: 300px;
    padding: 0;
    padding-left: 15px;
    border: 0;
    @include source-sans-regular;
    font-size: 16px;
    color: #231F20;
  }

  .tips {
    left: 380px;  
  }

  .email-tips {
    left: 380px;  
  }

  button {
    @include ui-submit-button;
    width: 180px;
    border-radius: 4px;
    align-self: center;

    &.enabled-button {
      @include ui-enabled-button;
    }

    &[disabled] {
      @include ui-disabled-button;
    }
  }

  // Form stylings
  @include ui-form-placeholder;

  // Social section
  .social {
    margin-top: 15px;

    p {
      color: #A3A3AE;
      font-size: 13px;
      line-height: 22px;
      @include sofia-pro-regular;
      text-transform: uppercase;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      padding: 0px 10px;

      p {
        color: #A3A3AE;
        font-size: 10px;
        line-height: 13px;
        @include sofia-pro-medium;
        text-transform: uppercase;
        cursor: pointer;
      }

      .ico {
        margin: 7px;
        margin-top: 22px;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }

      .github {
        .ico {
          color: #404041;
          background-image: url(/images/svg/github.svg);
          background-repeat: no-repeat;
        }
      }
      .facebook {
        margin-left: 40px;
        .ico {
          color: #0D72B9;
          background-image: url(/images/svg/facebook.svg);
          background-repeat: no-repeat;
        }
      }
      .google-plus {
        margin-left: 40px;
        .ico {
          border: 1px solid #D1D3D4;
          border-radius: 4px;
          color: #EE4036;
          background-image: url(/images/svg/gplus.svg);
          background-repeat: no-repeat;
          background-position : center;
        }
      }
      .twitter {
        margin-left: 40px;
        .ico {
          color: #26A9E0;
          background-image: url(/images/svg/twitter.svg);
          background-repeat: no-repeat;
        }
      }
    }
  }

  .join-topcoder {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    justify-content: center;

    span {
      display: flex;
      align-items: center;
    }

    .redirect {
      border: 1px solid #D1D3D4;
      background-color: white;
      border-radius : 4px;
      width: 111px;
      height: 30px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include sofia-pro-light;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 14px;

      a {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .login-container, .register-container, .reset-password-container, .registered-successfully-container {
    width: 100%;
    margin: 0 auto;

    h1 {
      width: 100%;
    }

    form {
      margin-left: 10px;
      margin-right: 10px;

      input[type="text"],
      input[type="email"],
      toggle-password,
      toggle-password-with-tips {
        width: 100%;
      }
    }
  }
}
