@import 'topcoder-includes';
@import '../partials/combined';

.login-container,
.register-container,
.reset-password-container,
.registered-successfully-container {
  width: 560px;
  margin: 60px auto 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  @include source-sans-regular;
  background-color: white;
  border-radius: 3px;

  header {
    height: 70px;
    background-color: $gray-darkest;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 0 0;
    position: relative;

    // CSS-olny Arrow
    &:after {
      bottom: 0;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 13px;
      margin-left: -16px;
    }

    .logo-link img {
      height: 30px;
      display: inline-block;
    }
  }

  // Basic element stylings
  h1 {
    margin-top: 39px;
    margin-bottom: 40px;
    @include ui-h1;
    color: #3D3D3D;
    line-height: 30px;
    font-size: 20px;
    @include sofia-pro-light;
    width: 380px;
    align-self: center;
    text-transform: uppercase;
  }

  input:not([type="checkbox"]), button {
    display: block;
    margin-bottom: 10px;
  }

  input:not([type="checkbox"]) {
    height: 40px;
    width: 300px;
    padding: 0;
    padding-left: 15px;
    border: 0;
    @include source-sans-regular;
    font-size: 16px;
    color: #231F20;
    box-shadow: none;
    outline: none;
  }

  .tips {
    left: 380px;
  }

  .email-tips {
    left: 380px;
  }

  button {
    // width: 180px;
    align-self: center;
    // text-transform: uppercase;
  }

  // Form stylings
  @include ui-form-placeholder;

  input[type="text"],
  toggle-password {
    width: 380px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input.email,
  toggle-password,
  toggle-password-with-tips {
    height: 38px;
    background: $white;
    border: 1px solid #B7B7B7;
    box-shadow: inset 0px 0px 2px 0px rgba(183,183,183,0.30);
    border-radius: 2px;
    cursor: auto;
    color: #3d3d3d;

    &:hover {
      border: 1px solid #A3A3AE;
      box-shadow: inset 0px 0px 2px 0px #B7B7B7;
    }

    &:focus,
    &.focus {
      border: 1px solid #0096FF;
      outline: none;
      box-shadow: inset 0px 0px 2px 1px rgba(133,203,255,0.60);
    }

    transition: .15s all;
  }

  input:not([type="checkbox"]) {
    box-shadow: none;
  }

  toggle-password {
    input#current-password-input {
      width: 300px;
      height: 20px;
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  toggle-password-with-tips {
    input#password-input {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }




  // Social section

  .networks {
    display: block;

    .network {
      margin-left: 30px;

      &:first-child {
        margin-left: 0 !important;
      }

      & a:hover {
        filter: brightness(80%);
      }

      span {
        color: #A3A3AE;
        font-size: 10px;
        line-height: 13px;
        @include sofia-pro-medium;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
        transition: .1s all;
      }
    }

    .network:hover {
      span {
        color: $gray-darkest;
      }
    }
  }

  .login-options {
    margin-top: 15px;
    margin-bottom: 40px;

    p {
      color: #A3A3AE;
      font-size: 13px;
      line-height: 22px;
      @include sofia-pro-regular;
      text-transform: uppercase;
    }

    .networks {
      display: flex;
      justify-content: center;
      padding: 0px 10px;

      .network {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          color: #A3A3AE;
          font-size: 10px;
          line-height: 13px;
          @include sofia-pro-medium;
          text-transform: uppercase;
          cursor: pointer;
          margin-top: 10px;
        }

        .ico {
          margin-top: 22px;
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
      }

      .github {
        .ico {
          color: #404041;
          background-image: url(/images/svg/github.svg);
          background-repeat: no-repeat;
        }
      }
      .facebook {
        margin-left: 41px;
        .ico {
          color: #0D72B9;
          background-image: url(/images/svg/facebook.svg);
          background-repeat: no-repeat;
        }
      }
      .google-plus {
        margin-left: 43px;
        .ico {
          border: 1px solid #D1D3D4;
          border-radius: 4px;
          color: #EE4036;
          background-image: url(/images/svg/gplus.svg);
          background-repeat: no-repeat;
          background-position : center;
        }
      }
      .twitter {
        margin-left: 40px;
        .ico {
          color: #26A9E0;
          background-image: url(/images/svg/twitter.svg);
          background-repeat: no-repeat;
        }
      }
    }
  }
}

// Register Link styles

.join-topcoder {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  justify-content: center;  
  font-size: 12px;
  text-transform: uppercase;
  font-size: 12px;

  a {
    display: inline;
  }

  .redirect{
    width: 111px;
    padding: 8px 10px;
  }
}

.fold-pusher {
  height: 0px;
  max-height: 0px;
}

.fold-wrapper {
  margin: 0;
}

.account-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 0 30px;

  .copyright-notice {
    color: $gray-dark;
  }
  
}


@media (max-width: 767px) {

  .login-container,
  .register-container,
  .reset-password-container,
  .registered-successfully-container {
    width: 100%;
    margin: 0 auto;

    h1 {
      width: 100%;
    }

    form {
      margin-left: 0px;
      padding: 0 20px;
      width: 100%;

      input[type="text"],
      input[type="email"],
      toggle-password,
      toggle-password-with-tips {
        width: 100%;
      }
    }
  }

  .register-container {
    margin: 0 auto;
  }

  .registered-successfully-container {
    margin: 0 auto;
    p.message {
      padding: 34px 30px 124px 30px;
    }
  }
}

  // The separator for login options
  .tc-separator {
    // border: 1px solid $gray-light;
    // position: relative;
    // display: inline-block;
    // height: 1px;
    $sp-width: 340px;
    width: $sp-width;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;

    &:after {
      display: block;
      width: $sp-width;
      content: " ";
      overflow: hidden;
      height: 1px;
      background-color: $gray-light;
      position: absolute;
      top: 50%;
      z-index: 99;
    }

    & span {
      display: inline-block;
      background: $white;
      border: none;
      z-index: 100;
      position: relative;
      top:  0;
      padding: 0 15px;
      font: {
        size: 10px;
        family: "Sofia Pro", Arial, sans-serif;
        weight: 500;
      }
      text: {
        align: center;
        transform: uppercase;
      }
    }
  }
