@import 'topcoder/tc-includes';

.login-container,
.register-container,
.reset-password-container,
.registered-successfully-container {
  @include font-with-weight('Merriweather Sans');
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 560px;
  margin: 60px auto 0;
  position: relative;
  text-align: center;
  header {
    background-color: $gray-darkest;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    position: relative;
    // CSS-olny Arrow
    &:after {
      border: solid transparent;
      border-bottom-color: $white;
      border-color: rgba(255, 255, 255, 0);
      border-width: 13px;
      bottom: 0;
      content: ' ';
      height: 0;
      width: 0;
      left: 50%;
      margin-left: -16px;
      pointer-events: none;
      position: absolute;
    }
    .logo-link img {
      display: inline-block;
      height: 30px;
    }
  }
  // Basic element stylings
  h1 {
    @include font-with-weight('Sofia Pro', 300);
    color: $gray-darkest;
    align-self: center;
    width: 380px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 39px;
    text-transform: uppercase;
    @media (max-width: 767px) {
      margin: 30px auto;
    }
  }
  header > p,
  form > p {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 20px;
  }
  // registration sizes, remove
  input[name='firstname'],
  input[name='lastname'] {
    width: 185px;
    padding-right: 45px;
  }
  input[name='username'],
  input[name='email'] {
    padding-right: 85px;
  }
  input[type='text'],
  toggle-password {
    width: 380px;
  }
  input:not([type='checkbox']) {
    width: 300px;
  }
  toggle-password {
    input#current-password-input {
      border: none;
      box-shadow: none;
      height: 20px;
      width: 300px;
      outline: none;
    }
  }
  .tips,
  .email-tips,
  .password-tips {
    @media screen and (min-width: 915px) {
      left: 395px;
    }
  }
  // Autocomplete
  .angucomplete-dropdown {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4);
    color: $gray-darkest;
    width: 100%;
    text-align: left;
  }
  .angucomplete-selected-row {
    background-color: $primary-lighter;
    color: $gray-darkest;
  }
  // Autocomplete end
  button {
    align-self: center;
    margin-top: 20px;
  }
  input[type='text'],
  toggle-password {
    width: 380px;
  }
  toggle-password {
    input#current-password-input {
      width: 300px;
    }
  }
  // Social section
  .networks {
    display: block;
    .network {
      margin-left: 30px;
      &:first-child {
        margin-left: 0 !important;
      }
      & a:hover {
        filter: brightness(80%);
      }
      span {
        @include font-with-weight('Sofia Pro', 500);
        color: $accent-gray;
        cursor: pointer;
        font-size: 10px;
        line-height: 13px;
        margin-top: 10px;
        text-transform: uppercase;
        transition: .1s all;;
      }
    }
    .network:hover {
      span {
        color: $gray-darkest;
      }
    }
  }
  .login-options {
    margin-bottom: 40px;
    margin-top: 15px;
    p {
      @include font-with-weight;
      color: $accent-gray;
      font-size: 13px;
      line-height: 22px;
      text-transform: uppercase;
    }
    .networks {
      display: flex;
      justify-content: center;
      padding: 0 10px;
      .network {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          @include font-with-weight('Sofia Pro', 500);
          color: $accent-gray;
          cursor: pointer;
          font-size: 10px;
          line-height: 13px;
          margin-top: 10px;
          text-transform: uppercase;
        }
        .ico {
          cursor: pointer;
          height: 40px;
          width: 40px;
          margin-top: 22px;
        }
      }
      .github {
        .ico {
          background-image: url(/images/svg/github.svg);
          background-repeat: no-repeat;
          color: #404041;
        }
      }
      .facebook {
        margin-left: 41px;
        .ico {
          background-image: url(/images/svg/facebook.svg);
          background-repeat: no-repeat;
          color: #0d72b9;
        }
      }
      .google-plus {
        margin-left: 43px;
        .ico {
          background-image: url(/images/svg/gplus.svg);
          background-position: center;
          background-repeat: no-repeat;
          border: 1px solid #d1d3d4;
          border-radius: 4px;
          color: #ee4036;
        }
      }
      .twitter {
        margin-left: 40px;
        .ico {
          background-image: url(/images/svg/twitter.svg);
          background-repeat: no-repeat;
          color: #26a9e0;
        }
      }
    }
  }
}

// Register Link styles
.join-topcoder {
  @include font-with-weight('Sofia Pro', 500);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: $label-small;
  margin-top: 30px;
  text-transform: uppercase;
  a {
    display: inline;
  }
  .redirect {
    width: 111px;
    padding: 8px 10px;
  }
}

.fold-pusher {
  height: 0;
  max-height: 0;
}

.fold-wrapper {
  margin: 0;
}

.account-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 0 30px;
  .copyright-notice {
    color: $gray-dark;
  }
}


@media (max-width: 767px) {
  .login-container,
  .register-container,
  .reset-password-container,
  .registered-successfully-container {
    width: 100%;
    margin: 0 auto;
    h1 {
      width: 100%;
    }
    form {
      width: 100%;
      margin-left: 0;
      padding: 0 20px;
      input[type='text'],
      input[type='email'],
      toggle-password,
      toggle-password-with-tips {
        width: 100%;
      }
    }
  }

  .register-container {
    margin: 0 auto;
  }

  .registered-successfully-container {
    margin: 0 auto;
    p.message {
      padding: 34px 30px 124px 30px;
    }
  }
}


// The separator for login options
.tc-separator {
  $sp-width: 340px;
  display: block;
  width: $sp-width;
  margin: 0 auto;
  position: relative;
  text-align: center;
  &:after {
    background-color: $gray-light;
    content: ' ';
    display: block;
    height: 1px;
    width: $sp-width;
    overflow: hidden;
    position: absolute;
    top: 50%;
    z-index: 99;
  }
  & span {
    background: $white;
    border: none;
    display: inline-block;
    font-family: 'Sofia Pro', Arial, sans-serif;
    font-size: 10px;
    font-weight: 500;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    z-index: 100;
  }
}
