@import '../partials/combined';

.login-container {
  height: 590px;

  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;

    input[type="text"],
    toggle-password {
      width: 380px;
      height: 42px;
      border-radius: 2px;
      border: 1px solid #D1D3D4;
    }

    toggle-password {
      input#current-password-input {
        width: 300px;
        height: 20px;
        border: none;
      }
    }
  }

  .form-errors {
    p {
      margin-bottom: 20px;
    }
  }

  .problem-signin {
    color: #A3A3AE;
    font-size: 12px;
    line-height: 15px;
    @include source-sans-regular;
    margin-top: 10px;

    .forgot-password {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 12px;
    }
  }
}
