@import 'topcoder-includes';
@import '../partials/combined';

.login-container {

  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 90px;

    input[type="text"],
    toggle-password {
      width: 380px;
    }

    toggle-password {
      input#current-password-input {
        width: 300px;
      }
    }

    button {
      margin-top: 20px;
    }
  }

  .form-errors {
    p {
      margin-bottom: 20px;
    }
  }

  .problem-signin {
    color: #A3A3AE;
    font-size: 12px;
    line-height: 15px;
    @include source-sans-regular;
    margin-top: 10px;

    .forgot-password {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 12px;
    }

  }


  section.login-options {
    @media (max-width: 767px) {
      margin-bottom: 41px;
    }

    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
    
  }
}