@import '../partials/combined';

.login-container {

  // Remove box-sizing when bootstrap is gone
  * {
    box-sizing: content-box;
  }

  form {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    justify-content: space-between;
  }

  .form-errors {
    p {
      margin-bottom: 20px;
    }
  }

  .forgot-password {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 12px;
  }
}
