@import 'topcoder/tc-includes';

.register-container {
  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 380px;
    margin-left: 90px;
    margin-right: 90px;
    input[type='text'],
    input[type='email'],
    toggle-password,
    toggle-password-with-tips {
      width: 380px;
    }
    input[name='firstname'],
    input[name='lastname'] {
      width: 185px;
      padding-right: 45px;
    }
    input[name='username'],
    input[name='email'] {
      padding-right: 85px;
    }
    button {
      margin-top: 0;
    }
  }
  .form-errors {
    text-align: left;
    p {
      margin: 2px 0 12px 5px;
    }
  }
  .first-last-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
  }
  .terms {
    margin-bottom: 20px;
    margin-top: 10px;
    p {
      color: #a3a3ae;
      font-size: 12px;
      line-height: 15px;
    }
  }
  // login-options section
  .section-break {
    hr {
      border: none;
      border-bottom: 1px solid $gray-light;
      margin: 10px auto 20px;
      max-width: 180px;
    }
  }
}


@media (max-width: 767px) {
  .register-container {
    form {
      .first-last-names {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    section.login-options {
      margin-bottom: 41px;
    }
  }

  .join-topcoder {
    margin-top: 30px;
    position: initial;
  }
}
