@import 'topcoder-includes';
@import '../partials/combined';

.register-container {

  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 380px;
    margin-left: 90px;
    margin-right: 90px;

    input[type="text"],
    input[type="email"],
    toggle-password,
    toggle-password-with-tips {
      width: 380px;
    }

    toggle-password,
    toggle-password-with-tips {
      input#password-input,
      input#current-password-input {
        width: 300px;
      }
    }

    input[name="firstname"], input[name="lastname"] {
      width: 185px;
      padding-right: 45px;
    }

    input[name="username"], input[name="email"] {
      padding-right: 85px;
    }
  }

  .form-errors {
    text-align: left;

    p {
      margin: 2px 0 12px 5px;
    }
  }

  .first-last-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
  }

  .terms {
    margin-top: 10px;
    margin-bottom: 20px;

    p {
      font-size: 12px;
      line-height: 15px;
      color: #A3A3AE;
    }
  }

  // login-options section
  .section-break {
    hr {
      max-width: 180px;
      margin: 10px auto 20px;
      border: none;
      border-bottom: 1px solid $gray-light;
    }
  }
}


@media (max-width: 767px) {
  .register-container {
    form {
      .first-last-names {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    section.login-options {
      margin-bottom: 41px;
    }
  }

  .join-topcoder {
    position: initial;
    margin-top: 30px;
  }
}
