@import 'topcoder-includes';
@import '../partials/combined';

.register-container {
  position: relative;

  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 380px;
    margin-left: 90px;
    margin-right: 90px;

    input[type="text"],
    input[type="email"],
    toggle-password,
    toggle-password-with-tips {
      width: 380px;
      height: 42px;
      border-radius: 2px;
      border: 1px solid #D1D3D4;
    }

    toggle-password,
    toggle-password-with-tips {
      input#password-input,
      input#current-password-input {
        width: 300px;
        height: 20px;
        border: none;
      }
    }

    input[name="firstname"], input[name="lastname"] {
      width: 185px;
      padding-right: 45px;
    }

    input[name="username"], input[name="email"] {
      padding-right: 85px;
    }
  }

  .form-errors {
    text-align: left;

    p {
      margin: 2px 0 12px 5px;
    }
  }

  .first-last-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
  }

  .terms {
    margin-top: 10px;
    margin-bottom: 20px;

    p {
      font-size: 12px;
      line-height: 15px;
      color: #A3A3AE;
    }
  }

  // login-options section
  .login-options {

    .networks {

      i {
        cursor: pointer;
      }

      .network {
        &.github {

        }

        &.facebook {
          margin-left: 41px;
        }

        &.google-plus {
          margin-left: 43px;
        }
      }
    }
  }
  .section-break {
    hr {
      max-width: 180px;
      margin: 10px auto 20px;
      border: none;
      border-bottom: 1px solid $gray-light;
    }
  }
}


@media (max-width: 767px) {
  .register-container {
    form {
      .first-last-names {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    section.login-options {
      margin-bottom: 41px;
    }
  }

  .join-topcoder {
    position: initial;
    margin-top: 30px;
  }
}
