#reset-password-container {
	width: 100%;
	
	p {
		width: 300px;
		margin: 0 auto;
	}
	
	.reset-form {
		margin: 0 auto;
		input {
			margin-top: 20px;
			width: 300px;
		}
	}
	
	.link {
	    margin-top: 25px;
	    margin-bottom: 25px;
	    font-size: 12px;
	  }
  
}