@import 'tc-includes';

.reset-password-container {
  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
    input[type='text'],
    input[type='email'],
    toggle-password-with-tips {
      width: 380px;
    }
    toggle-password,
    toggle-password-with-tips {
      input#password-input,
      input#current-password-input {
        width: 300px;
      }
    }
    button {
      align-self: center;
    }
  }
  .link {
    font-size: 12px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
}
