@import 'tc-includes';

.reset-password-container {

  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;

    input[type="text"],
    input[type="email"],
    toggle-password-with-tips {
      width: 380px;
    }

    toggle-password,
    toggle-password-with-tips {
      input#password-input,
      input#current-password-input {
        width: 300px;
      }
    }

    .email-label {
      @include font-with-weight('Merriweather Sans', 300);
      font-size: 15px;
      line-height: 18px;
    }

    button {
      align-self: center;
    }
  }

	p {
		margin-bottom: 20px;
	}

	.link {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 12px;
  }
}
