.my-dashboard-container.member-profile-header
  .welcome-back(ui-view="profile-header-widget")
.my-dashboard-container.widgets
  .row
    .my-dashboard-widget.my-challenges(ng-show='vm.renderWidget', ui-view="my-challenges-widget")
  .row
    //.my-dashboard-widget.marketing-message(ui-view="marketing-message-widget")
    .my-dashboard-widget.srm-gadget(ui-view="srms-widget")

    .my-dashboard-widget.member-program(ui-view="member-program-widget")
    .my-dashboard-widget.blog-post(ui-view="blog-post-widget")