.my-dashboard-container.member-profile-header
  .welcome-back(ui-view="profile-header-widget")
.my-dashboard-container.widgets
  .row
    .my-dashboard-widget.my-challenges(ui-view="my-challenges-widget")
  .row
    .my-dashboard-widget.srm-gadget(ui-view="srms-widget")

    .ios-program(ui-view="ios-program")
    .my-dashboard-widget.blog-post(ui-view="blog-post-widget")
