.edit-profile-container
  h1.tab-title Profile

  form(name="vm.editProfile", ng-submit="vm.editProfile.$valid && vm.updateProfile()")
    .fields
      .field-section.edit-image
        img.profile-circle(fallback-src="/images/avatarPlaceholder.png", ng-src="undefined")

        a(href) edit image

      .field-section
        h4.field-title Location

        input(name="location", type="text", value="{{vm.userData.location}}", ng-model="vm.userData.location", maxlength="50")

      .field-section
        h4.field-title About Me

        input(name="aboutMe", type="text", value="{{vm.userData.aboutMe}}", ng-model="vm.userData.aboutMe", maxlength="50")

        span {{vm.userData.aboutMe.length}}/50

      .field-section
        h4.field-title What type of work are you looking for?

      .field-section
        h4.field-title Add Your Skills

      .field-section
        h4.field-title Links to Work

      button(type="submit") Save
