.copilot.design(ng-if="vm.track == 'COPILOT'")
  .top
    ul.horizontal-stats
      li.stat
        .value {{vm.typeStats.activeProjects}}
        .name ACTIVE PROJECTS

      li.stat
        .value {{vm.typeStats.contests}}
        .name TOTAL CHALLENGES

      li.stat
        .value {{vm.typeStats.projects}}
        .name TOTAL PROJECTS

      li.stat
        .value {{vm.typeStats.fulfillment + '%'}}
        .name FULFILLMENT
