$light-black: #333;

// grays
$light-gray      : #929292;
$medium-gray     : #eee;
$dark-gray       : #666;
$table-head-gray : #f1f1f1;
$table-rows-gray : #f7f7f7;
$review-border   : #e7e7e7;
$horizontal-rule : #e1e1e1;
$input-background: #3f4143;

// oranges
$tc-btn-light-orange: #f90;
$tc-btn-dark-orange : #ff7a00;
$light-orange       : #ffb800;
$dark-orange        : #ff8a00;

// blues
$light-blue : #00aeff;
$dark-blue  : #0096ff;
$review-blue: #0071bc;
$login-blue : #26A9E0;

// UI REFRESH COLORS
$primary-color: #00aeff;
$accent-color: #21B2F1;
$success-color: #99cc00;
$danger-color: #ff0066;
$warning-color: #DAD714;

$accent: #0096FF;
$error: #F31D3D;
$success: #5BC921;

$level-5: #EF3A3A;
$level-4: #FCB816;
$level-3: #616BD5;
$level-2: #69C329;
$level-1: #9D9FA0;

$design: #21B2F1;
$data_science: #FC9A00;
$develop: #05C14F;
$copilot: #7D939E;

$system-dark-gray: #394146;
$system-gray: #A3A3AE;

$white: #fff;
$black: #000;
$gray-darkest: #3D3D3D;
$gray-darker: #7F7F7F;
$gray-dark: #B7B7B7;
$gray-dark-alt: #ADADB7;
$gray: #D1D3D4;
$gray-light: #F0F0F0;
$gray-lighter: #F6F6F6;
$gray-lightest: #FCFCFC;

// Refactor and get rid of these:
$ui-page-gray: #f1f2f2;

$ui-dark-gray: #231F20;
$ui-gray: #414042;
$ui-light-gray: #808285;

$ui-blue: #26A9E0;
$ui-disabled-button-blue: #94D7ED;
$button-gray: #d1d3d4;
$ui-enabled-button-blue: #27a9e1;

$community-text-dark: #464646;
$member-search-highlight: #F69C23;
$member-tile-border: #E0E0E0;
$member-blue: #03B7FF;
$member-button: #00AEFF;
$member-design: $member-blue;
$member-develop: #A3D200;
$member-data_science: #F49F2A;

$statistics-design: #22AEFF;
$statistics-develop: $success-color;
$statistics-data_science: #F39426;
$statistics-table-even: #FAFAFA;