$white      : #fff;
$off-white  : #fffffe;
$white-gray : #d8d8d8;
$light-black: #333;
$black      : #000;

// grays
$light-gray      : #929292;
$medium-gray     : #eee;
$dark-gray       : #666;
$table-head-gray : #f1f1f1;
$table-rows-gray : #f7f7f7;
$review-border   : #e7e7e7;
$horizontal-rule : #e1e1e1;
$input-background: #3f4143;

// oranges
$tc-btn-light-orange: #f90;
$tc-btn-dark-orange : #ff7a00;
$light-orange       : #ffb800;
$dark-orange        : #ff8a00;

// blues
$light-blue : #00aeff;
$dark-blue  : #0096ff;
$review-blue: #0071bc;
$login-blue : #26A9E0;

//dashboard ported colors
$color_storm_dust_approx: #666;
$color_celeste_approx: rgb(207,207,207);
$color_selective_yellow_approx: #ffb800;
$color_wild_sand_approx: #f5f5f5;
$color_mine_shaft_approx: #333;
$alabaster: #fafafa;
$color_bon_jour_approx: #e1e1e1;
$color_california_approx: #ff9900;
$color_flush_orange_approx: #ff7a00;

// UI REFRESH COLORS
$ui-dark-gray: #231F20;
$ui-gray: #414042;
$ui-light-gray: #808285;

$ui-blue: #26A9E0;
$ui-light-blue: #94D7ED;
