@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin bluelink {
  color: $light-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    text-decoration: none;
  }
}

@mixin login-link {
  color: $login-blue;
  text-decoration: underline;

  &:visited {
    color: $login-blue;
  }
}

@mixin horizontal-rule {
  border: 0;
  border-bottom: 1px solid $horizontal-rule;
}

@mixin source-sans-light {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@mixin source-sans {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin source-sans-italic {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin source-sans-semi-bold {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

@mixin source-sans-bold {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@mixin sofia-pro-light {
  font-family: 'Sofia Pro', Arial;
  font-weight: 300;
}

@mixin sofia-pro-medium {
  font-family: 'Sofia Pro', Arial;
  font-weight: 500;
}



@mixin glyphicons-halflings {
  @font-face {
    font-family: 'Glyphicons Halflings';

    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }
}

@mixin glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin glyphicon-download-alt {
  @include glyphicon;

  &:before {
    content: "\e025";
  }
}

@mixin padding-reset {
  padding: 0px;
}

@mixin center-aligned-text {
  text-align : center;
}

// UI REFRESH STYLES
@mixin ui-submit-button {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  background-color: $ui-disabled-button-blue;
  color: $white;
  text-transform: uppercase;
  border: 0;
  border-radius: 8px;
  font-size: 21px;
  cursor: default;
}

@mixin ui-h1 {
  @include source-sans-light;
  font-size: 46px;
}

@mixin ui-form-field {
  height: 40px;
  width: 300px;
  padding: 0;
  padding-left: 15px;
  border: 0;
  @include source-sans;
  font-size: 16px;
  color: #231F20;
}

@mixin ui-form-placeholder {
  ::-webkit-input-placeholder {
    color: #231F20;
  }

  ::-moz-placeholder {
    color: #231F20;
  }

  :-ms-input-placeholder {
    color: #231F20;
  }
}

@mixin ui-enabled-button {
  background-color: $ui-enabled-button-blue;
  cursor: pointer;
}

@mixin ui-track-button {
  border: 2px solid $ui-enabled-button-blue;
  color: $ui-enabled-button-blue;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}

@mixin ui-track-button-selected {
  background-color: $ui-enabled-button-blue;
  color: $ui-page-gray;
}
