// Topcoder Buttons
// tc- is the default prefixe that we use for all classes

@import 'topcoder-includes';


a,
button {
  transition: .15s all;
  cursor: pointer;

  &:disabled, &.disabled {
    background-color: $gray !important;
    border-color: $gray-dark !important;
    opacity: 1;
  }
}

a, a:active, a:visited {
  cursor: pointer;
  text-decoration: none;
  color: $primary;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

a:hover {
  color: $primary-dark;
  text-decoration: none;
}

a.tc-btn, button.tc-btn {
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid $primary;
  background-color: $primary;
  background-image : none;
  @include sofia-pro-regular;
  font-size: 16px;
  color: $white;
  text-transform: uppercase;
  outline: none;
  text-shadow: none;

  &:hover {
    background-color: $primary-dark;
    border-color: $primary-dark;
    color: $white;
  }

  &:active,
  &:focus {
    background-color: $primary-dark;
    background-image : none;
    border-color: $primary-dark;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.30);
    line-height: 30px;
  }

  &:disabled {
    opacity: .3;
  }


  &.tc-btn-secondary {
    border-color: $gray;
    background-color: $gray;
    background-image : none;

    &:hover {
      border-color: $primary;
      background-color: $primary;
      background-image : none;
    }

    &:active {
      border-color: $primary-dark;
      background-color: $primary-dark;
      background-image : none;
      box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.30);
    }
  }

  &.tc-btn-ghost {
    color: $primary;
    background-color: $white;

    &:hover {
      color: $white;
      border-color: $primary;
      background-color: $primary;
    }

    &:active {
      color: $white;
      border-color: $primary-dark;
      background-color: $primary-dark;
      box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.30);
    }

    &:disabled {
      border-color: $gray-dark;
      color: $gray-dark;
    }
  }

  &.tc-btn-ghost-secondary {
    color: $primary;
    background-color: $white;
    border-color: $gray;

    &:hover {
      border-color: $primary;
    }

    &:active {
      color: $white;
      border-color: $primary-dark;
      background-color: $primary-dark;
      box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.30);
    }

    &:disabled {
      border-color: $gray-dark;
      color: $gray-dark;
    }
  }

  &.tc-btn-warning {
    &:hover {
      background-color: $error;
      border-color: $error-dark;

    }
    &:active {
      background-color: $error-dark;

    }
  }



  &.tc-btn-xs {
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    font-size: 11px;
    border-radius: 3px;

    &:active {
      line-height: 21px;
    }
  }

  &.tc-btn-s {
    height: 30px;
    padding: 0 10px;
    line-height: 28px;
    font-size: 12px;
    font-weight: 500;

    &:active {
      line-height: 29px;
    }
  }

  &.tc-btn-l {
    height: 50px;
    padding: 0 25px;
    line-height: 50px;
    font-size: 18px;

    &:active {
      line-height: 51px;
    }
  }

  &.tc-btn-xl {
    height: 60px;
    padding: 0 30px;
    line-height: 60px;
    font-size: 24px;

    &:active {
      line-height: 61px;
    }
  }

  &.tc-btn-wide {
    padding: 0 30px;
  }
}
