@import 'tc-includes';
@import 'reset';
@import 'tc-buttons';
@import 'tc-typography';
@import 'tc-forms';
@import 'tc-spinners';
@import 'tc-lists';

html {
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
}


// UTILITIES
// ----------------------------------------------------------------------------
// margin and padding modifiers, adopted from Bootstrap

$spacer:	10px !default;
$spacer-y:	$spacer !default;
$spacer-x:	$spacer !default;

// Margin

.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

.m-a { margin:        $spacer !important; }
.m-t { margin-top:    $spacer-y !important; }
.m-r { margin-right:  $spacer-x !important; }
.m-b { margin-bottom: $spacer-y !important; }
.m-l { margin-left:   $spacer-x !important; }
.m-x { margin-right:  $spacer-x !important; margin-left: $spacer-x !important; }
.m-y { margin-top:    $spacer-y !important; margin-bottom: $spacer-y !important; }
.m-x-auto { margin-right: auto !important; margin-left: auto !important; }

.m-a-md { margin:        ($spacer * 1.5) !important; }
.m-t-md { margin-top:    ($spacer-y * 1.5) !important; }
.m-r-md { margin-right:  ($spacer-y * 1.5) !important; }
.m-b-md { margin-bottom: ($spacer-y * 1.5) !important; }
.m-l-md { margin-left:   ($spacer-y * 1.5) !important; }
.m-x-md { margin-right:  ($spacer-x * 1.5) !important; margin-left:   ($spacer-x * 1.5) !important; }
.m-y-md { margin-top:    ($spacer-y * 1.5) !important; margin-bottom: ($spacer-y * 1.5) !important; }

.m-a-lg { margin:        ($spacer * 2) !important; }
.m-t-lg { margin-top:    ($spacer-y * 2) !important; }
.m-r-lg { margin-right:  ($spacer-y * 2) !important; }
.m-b-lg { margin-bottom: ($spacer-y * 2) !important; }
.m-l-lg { margin-left:   ($spacer-y * 2) !important; }
.m-x-lg { margin-right:  ($spacer-x * 2) !important; margin-left:   ($spacer-x * 2) !important; }
.m-y-lg { margin-top:    ($spacer-y * 2) !important; margin-bottom: ($spacer-y * 2) !important; }

.m-a-xl { margin:        ($spacer * 3) !important; }
.m-t-xl { margin-top:    ($spacer-y * 3) !important; }
.m-r-xl { margin-right:  ($spacer-y * 3) !important; }
.m-b-xl { margin-bottom: ($spacer-y * 3) !important; }
.m-l-xl { margin-left:   ($spacer-y * 3) !important; }
.m-x-xl { margin-right:  ($spacer-x * 3) !important; margin-left:   ($spacer-x * 3) !important; }
.m-y-xl { margin-top:    ($spacer-y * 3) !important; margin-bottom: ($spacer-y * 3) !important; }
