@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin superscript {
  position: relative;
  top: -0.25em;
  font-size: 80%;
}

@mixin bluelink {
  color: $light-blue;
  @include link;

  &:visited {
    text-decoration: none;
  }
}

@mixin login-link {
  color: $primary;
}

@mixin horizontal-rule {
  border: 0;
  border-bottom: 1px solid $horizontal-rule;
}

// Font Stack: BODY
// Refactor to use non-typeface specific name; best - use variables;

@mixin source-sans-light {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@mixin source-sans-regular {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin source-sans-italic {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin source-sans-semi-bold {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

@mixin source-sans-bold {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

// Replacement for Merriweather Sans

@mixin label-description {
  font: {
    family: "Merriweather Sans",Arial, Helvetica, sans-serif;
    weight: 400;
    size: 13px;
  }
}

@mixin merriweather-sans-regular {
  font: {
    family: "Merriweather Sans", Arial, Helvetica, sans-serif;
    weight: 400;
  }
}

// body end;

@mixin sofia-pro-extra-light {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 200;
}

@mixin sofia-pro-light {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@mixin sofia-pro-regular {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin sofia-pro-italic {
  @include sofia-pro-regular;
  font-style: italic;
}

@mixin sofia-pro-medium {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

@mixin sofia-pro-semi-bold {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

@mixin sofia-pro-bold {
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@mixin glyphicons-halflings {
  @font-face {
    font-family: 'Glyphicons Halflings';

    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }
}

@mixin glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin glyphicon-download-alt {
  @include glyphicon;

  &:before {
    content: "\e025";
  }
}

// Replace with classes from style guide, when it's finished
@mixin link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin module-s {
  margin-top: 6px;
  background-color: $white;
}

@mixin module-l {
  @include module-s;
  max-width: 1242px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  @media only screen and (min-width: 900px) {
    padding-top: 90px;
  }
}

@mixin module-full-width {
  width: 100%;
}

@mixin module-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $white;
  min-height: 72px;
  @media only screen and (min-width: 900px) {
    padding: 30px 0;
  }
}

@mixin form-field {
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: #FCFCFC;
  border: 1px solid #F0F0F0;
  border-radius: 2px;
  height: 40px;
}

@mixin form-field-focused {
  background-color: $white;
  border: 1px solid #D1D3D4;
  // TODO shadow?
}

@mixin horizontal-scroll {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

@mixin forward-slash($width, $height, $x, $y, $deg) {
  width: $width;
  height: $height;
  -ms-transform: translateX($x) translateY($y) rotate($deg);
  -webkit-transform: translateX($x) translateY($y) rotate($deg);
  transform: translateX($x) translateY($y) rotate($deg);
}

@mixin background-image-size($width, $height) {
  width: $width;
  height: $height;
  background-size: $width, $height;
  background-repeat: no-repeat;
}

@mixin develop-icon-outline {
  background-image: url(/images/ico-track-develop.svg);
}

@mixin design-icon-outline {
  background-image: url(/images/ico-track-design.svg);
}

@mixin data-icon-outline {
  background-image: url(/images/ico-track-data.svg);
}

@mixin copilot-icon-outline {
  background-image: url(/images/ico-track-copilot.svg);
}

// UI REFRESH STYLES
@mixin ui-submit-button {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  background-color: $button-gray;
  color: $white;
  text-transform: uppercase;
  border: 0;
  border-radius: 8px;
  font-size: 21px;
  cursor: default;
}

@mixin ui-h1 {
  @include source-sans-light;
  font-size: 46px;
}

@mixin ui-form-field {
  height: 40px;
  width: 300px;
  padding: 0;
  padding-left: 15px;
  background-color: $gray-lightest;
  @include source-sans-regular;
  font-size: 16px;
  color: #231F20;
}

@mixin ui-form-placeholder {
  ::-webkit-input-placeholder {
    color: #B7B7B7;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #B7B7B7;
  }
  :-ms-input-placeholder {
    color: #B7B7B7;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #B7B7B7;
  }
}

@mixin community-form-placeholder {
  ::-webkit-input-placeholder {
    color: #ADADB7;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ADADB7;
  }
  :-ms-input-placeholder {
    color: #ADADB7;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ADADB7;
  }
}

@mixin ui-enabled-button {
  background-color: $ui-enabled-button-blue;
  cursor: pointer;
}

@mixin ui-disabled-button {
  background-color: $button-gray;
  cursor: default;
}

@mixin ui-track-button {
  border: 2px solid $ui-enabled-button-blue;
  color: $ui-enabled-button-blue;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}

@mixin ui-track-button-selected {
  background-color: $ui-enabled-button-blue;
  color: $ui-page-gray;
}

@mixin ui-toggle-switch {

}
