// Topcoder Inputs
// tc- is the default prefix that we use for all classes
@import 'topcoder-includes';

input.tc-input,
.tc-input > input,
.tc-input {
  color: #231f20;
  outline: none;
  background: white;
  border: 1px solid #b7b7b7;
  box-shadow: inset 0px 0px 2px 0px rgba(183,183,183,0.30);
  border-radius: 2px;
  cursor: auto;
  color: #3d3d3d;
  height: 30px;

  &:hover {
    border: 1px solid #A3A3AE;
    box-shadow: inset 0px 0px 2px 0px #B7B7B7;
    padding-left: 15px;
  }

  &:focus,
  &.focus {
    border: 1px solid #0096FF;
    outline: none;
    box-shadow: inset 0px 0px 2px 1px rgba(133,203,255,0.60);
    padding-left: 15px;
  }

  transition: .15s all;
}

input, textarea {
  font-size: 15px;
  font-family: 'Merriweather Sans';
  font-weight: 400;
  padding-left: 15px;
}
textarea {
  padding-left: 10px;
  &:hover, &:focus {
    padding-left: 10px;
  }
}
input:focus, textarea:focus {
  outline: 1px solid #4cb5ff;
}


input[type="text"],
input[type="password"],
toggle-password {
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #B7B7B7;
  box-shadow: inset 0px 0px 2px 0px rgba(183,183,183,0.30);
  border-radius: 2px;
}


input {
  &[type='text']:focus,
  &[type='password']:focus {
    background: #FFFFFF;
    border: 1px solid #0096FF;
    box-shadow: inset 0px 0px 2px 1px rgba(133,203,255,0.60);
    border-radius: 2px;
  }
}

input[type="text"],
input[type="email"],
toggle-password-with-tips {
  width: 380px;
  height: 42px;
  border-radius: 2px;
  border: 1px solid #D1D3D4;
  font-size: 12px;
  line-height: 14px;
}

toggle-password,
toggle-password-with-tips {
  input#password-input,
  input#current-password-input {
    width: 300px;
    height: 20px;
    border: none;
  }
}

input[type="text"],
input[type="email"],
toggle-password,
toggle-password-with-tips {
  width: 380px;
  height: 42px;
  border-radius: 2px;
  border: 1px solid #D1D3D4;
}

toggle-password,
toggle-password-with-tips {
  input#password-input,
  input#current-password-input {
    width: 300px;
    height: 20px;
    border: none;
  }
}

input[name="firstname"], input[name="lastname"] {
  width: 185px;
  padding-right: 45px;
}

input[name="username"], input[name="email"] {
  padding-right: 85px;
}


.form-errors {
  text-align: left;

  p {
    margin: 2px 0 12px 5px;
  }
}

input[type="text"],
toggle-password {
  width: 380px;
}

input[type="text"],
input[type="password"],
toggle-password {
  height: 38px;
  background: $white;
  border: 1px solid #B7B7B7;
  box-shadow: inset 0px 0px 2px 0px rgba(183,183,183,0.30);
  border-radius: 2px;
  cursor: auto;
  color: #3d3d3d;

  &:hover {
    border: 1px solid #A3A3AE;
    box-shadow: inset 0px 0px 2px 0px #B7B7B7;
  }

  &:focus,
  &.focus {
    border: 1px solid #0096FF;
    outline: none;
    box-shadow: inset 0px 0px 2px 1px rgba(133,203,255,0.60);
  }

  transition: .15s all;
}

input:not([type="checkbox"]) {
  box-shadow: none;
}

toggle-password {
  input#current-password-input {
    width: 300px;
    height: 20px;
    border: none;
    outline: none;
    box-shadow: none;
  }
}
input:not([type="checkbox"]), button {
  display: block;
  margin-bottom: 10px;
}

input:not([type="checkbox"]) {
  height: 40px;
  width: 300px;
  padding: 0;
  padding-left: 15px;
  border: 0;
  @include source-sans-regular;
  font-size: 16px;
  color: #231F20;
  box-shadow: none;
  outline: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input.email,
toggle-password,
toggle-password-with-tips {
  height: 38px;
  background: $white;
  border: 1px solid #B7B7B7;
  box-shadow: inset 0px 0px 2px 0px rgba(183,183,183,0.30);
  border-radius: 2px;
  cursor: auto;
  color: #3d3d3d;
  font-family: "Merriweather Sans";
  font-size: 15px;

  &:hover {
    border: 1px solid #A3A3AE;
    box-shadow: inset 0px 0px 2px 0px #B7B7B7;
  }

  &:focus,
  &.focus {
    border: 1px solid #0096FF;
    outline: none;
    box-shadow: inset 0px 0px 2px 1px rgba(133,203,255,0.60);
  }

  transition: .15s all;
}

input:not([type="checkbox"]) {
  box-shadow: none;
}

toggle-password {
  input#current-password-input {
    width: 300px;
    height: 20px;
    border: none;
    outline: none;
    box-shadow: none;
  }
}

toggle-password-with-tips {
  input#password-input {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

@include ui-form-placeholder;
input:not([type="checkbox"]) {
  @include ui-form-field;
  background-color: white;
  height: 38px;
}

angucomplete-alt {
  width: 100%;
  margin-top: 6px;

  input {
    color: $gray-lighter;
  }
}


// FORMS

.form-label {
  @include sofia-pro-regular;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 300px;

  .mandatory {
    text-transform: none;
    color: #0096ff;
    float: right;
  }

  .char-count {
    font-family: 'Source Sans Pro';
    float: right;
  }

  .grey {
    color: #a3a3ae;
  }
}
.form-errors {
  position: absolute;
  top: 70px;
  left: 3px;
}

// Error and success styles
.validation-bar {
  position: relative;

  &:before {
    content: '';
    display: none;
    position: absolute;
    top: 0px;
    left: 1px;
    height: 38px;
    width: 2px;
    border-radius: 3px 0 0 3px;
  }

  &.error-bar:before {
    display: block;
    background-color: $error;
  }

  &.success-bar:before {
    display: block;
    background-color: $success;
  }
}

// FORM TIPS
// probably structure needs to be redone

.tips {
  position: absolute;
  width: 320px;
  text-align: left;
  top: 13px;
  background-color: $gray-lightest;
  border-radius: 4px;
  // box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.20);
  -webkit-filter: drop-shadow(0 2px 3px rgba(0,0,0,.3));
  -moz-filter: drop-shadow(0 2px 3px rgba(0,0,0,.3));
  filter: drop-shadow(0 2px 3px rgba(0,0,0,.3));
  padding: 20px;
  z-index: 1000;
  
  // CSS-olny arrow
  &:before {
    // content: '◀';
    // top: 15px;
    // left: -15px;
    font-size: 24px;
    color: $gray-lightest;
    position: absolute;
    z-index: -1;
    // text-shadow: 0px 2px 6px rgba(0,0,0,0.20);
    left: -35px;
    top: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-width: 20px;
    margin-top: -20px;
    border-right-color: $gray-lightest;
    -webkit-transform:rotate(360deg);
  }

  h3, p {
    margin-bottom: 10px;
  }

  h3 {
    @include sofia-pro-medium;
    font-size: 16px;
    @media only screen and (max-width: 915px) {
      font-size: 15px;
    }
  }

  p {
    font-size: 13px;
    color: $gray-darkest;
    line-height: 1.3;
    position: relative;
    padding-left: 20px;
  }

  p:before {
    // font-family: 'FontAwesome';
    @include sofia-pro-medium;
    font-size: 14px;
    content: "\2713 ";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
  }
}




// SWITCHES
// TODO: Refactor

// Switch parameters
$switch-width: 44px;
$switch-height: 24px;
$switch-handle-offset: 3px;
$switch-handle-size: $switch-height - (2 * $switch-handle-offset);
$switch-active-color: $primary;
$switch-inactive-color: $gray;

@mixin switch-transition {
  transition: all 0.15s ease-in-out;
}

// Parent container
.onoffswitch {
  position: relative;
  width: $switch-width;
  height: $switch-height;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
  box-sizing: border-box;
  border-radius: $switch-height;
  background-color: $switch-inactive-color;
  @include switch-transition;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  width: $switch-width;
  overflow: hidden;
  cursor: pointer;
  border-radius: $switch-height;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  @include switch-transition;
}

// Pseudo-elements that slide to create background of the switch; TODO: Remove those
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: $switch-height;
  padding: 0;
  line-height: $switch-height;
  font-size: 15px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-checkbox + .onoffswitch-label {
    background-color: $switch-inactive-color;
    @include switch-transition;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: $switch-active-color;
  & .onoffswitch-inner {
    // margin-left: 0;
    // background-color: $switch-active-color;
  }

  & .onoffswitch-switch {
    right: 0;
  }
}


// Switch is on
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: transparent; //$switch-active-color;
  color: transparent;// $switch-active-color;
}

// switch is off
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: transparent; // $switch-inactive-color;
  color: transparent; // $switch-inactive-color;
  text-align: right;
}

// SWITCH HANDLE
.onoffswitch-switch {
  display: block;
  background-color: $white;
  color: $white;
  width: $switch-handle-size;
  height: $switch-handle-size;
  background: $white;
  position: absolute;
  margin: $switch-handle-offset;
  top: 0;
  bottom: 0;
  right: $switch-handle-offset + $switch-handle-size -1;
  border: none;
  border-radius: $switch-height;
  @include switch-transition;
}