// Old colors that we should clean. Don't reference or use in new modules!

$light-black: #333;

// grays
$light-gray      : #929292;
$medium-gray     : #eee;
$dark-gray       : #666;
$table-head-gray : #f1f1f1;
$table-rows-gray : #f7f7f7;
$review-border   : #e7e7e7;
$horizontal-rule : #e1e1e1;
$input-background: #3f4143;

// oranges
$tc-btn-light-orange: #f90;
$tc-btn-dark-orange : #ff7a00;
$light-orange       : #ffb800;
$dark-orange        : #ff8a00;

// blues
$light-blue : #00aeff;
$dark-blue  : #0096ff;
$review-blue: #0071bc;
$login-blue : #26A9E0;

// Refactor and get rid of these:
$ui-page-gray: #f1f2f2;

$ui-dark-gray: #231F20;
$ui-gray: #414042;
$ui-light-gray: #808285;

$ui-blue: #26A9E0;
$ui-disabled-button-blue: #94D7ED;
$button-gray: #d1d3d4;
$ui-enabled-button-blue: #27a9e1;
