.data.develop(ng-if="vm.track == 'DATA_SCIENCE'")
  .top
    ul.horizontal-stats
      li.stat
        .value.rating {{vm.typeStats.rank.rating}}
          span.square(style="background-color: {{vm.typeStats.rank.rating | ratingColor}}")
        .name RATING

      li.stat
        .value {{vm.typeStats.rank.rank}}
        .name RANK

      li.stat
        .value {{vm.typeStats.rank.percentile / 100 | percentage}}
        .name PERCENTILE

      li.stat(ng-if="vm.subTrack == 'SRM'")
        .value {{vm.typeStats.challenges}}
        .name COMPETITIONS

      li.stat(ng-if="vm.subTrack == 'MARATHON_MATCH'")
        .value {{vm.typeStats.wins}}
        .name WINS

    .tabs
      a.left(id="stats", ng-click="vm.viewing = 'stats'",
        ng-class="vm.viewing == 'stats' ? 'selected' : ''"
      ) Statistics

      a.right(id="challenges", ng-click="vm.viewing = 'challenges'",
        ng-class="vm.viewing == 'challenges' ? 'selected' : ''"
      )
        span(ng-show="vm.subTrack == 'SRM'") Past SRMs
        span(ng-show="vm.subTrack != 'SRM'") Challenges

    hr

    tc-section(
      ng-show="vm.viewing == 'challenges'",
      state="vm.status.challenges"
    )
      tc-paginator(data="vm.challenges", page-params="vm.pageParams")
      .challenges(ng-hide="vm.subTrack === 'SRM'")
        .challenge.tile(ng-repeat="challenge in vm.challenges")
          challenge-tile(challenge="challenge", domain="vm.domain", view="'tile'")
        .no-challenges(ng-show="!vm.challenges || vm.challenges.length == 0")
          | Sorry, no successful challenges found.

      .challenges(ng-show="vm.subTrack == 'SRM'")
        .challenge.tile(ng-repeat="challenge in vm.challenges")
          srm-tile(srm="challenge", domain="vm.domain", view="'tile'")
        .no-challenges(ng-show="!vm.challenges || vm.challenges.length == 0")
          | Sorry, no rated SRMs found.

    .stats(ng-show="vm.viewing == 'stats' && profileVm.status.stats === 'ready'")
      .graphs()
        distribution-graph(promise="vm.distributionPromise", rating="vm.typeStats.rank.rating", graph-state="vm.graphState")

        history-graph(promise="vm.historyPromise", rating="vm.typeStats.rank.rating", graph-state="vm.graphState")

  .bottom(ng-show="vm.viewing == 'stats' && (vm.subTrack == 'MARATHON_MATCH' || vm.SRMDetailDisplay)")
    h2.detailed Details

    ul.vertical-stats(ng-show="vm.subTrack == 'MARATHON_MATCH'")
      li
        .left Country Rank
        .right {{vm.typeStats.rank.countryRank}}

      li
        .left Volatility
        .right {{vm.typeStats.rank.volatility}}

      li
        .left Maximum Rating
        .right {{vm.typeStats.rank.maximumRating}}

      li
        .left Best Rank
        .right {{vm.typeStats.rank.bestRank}}

      li.first
        .left Wins
        .right {{vm.typeStats.wins}}

      li.first
        .left Top Five Finishes
        .right {{vm.typeStats.rank.topFiveFinishes}}

      li.first
        .left Top Ten Finishes
        .right {{vm.typeStats.rank.topTenFinishes}}

      li.first
        .left Average Rank
        .right {{vm.typeStats.rank.avgRank}}

      li.first
        .left Average # Submissions
        .right {{vm.typeStats.rank.avgNumSubmissions}}

      li.first
        .left Competitions
        .right {{vm.typeStats.challenges}}

      li
        .left Most Recent Event
        .right {{vm.typeStats.mostRecentEventDate | date}}

    ul.divisions(ng-show="vm.subTrack == 'SRM'")
      li.division(ng-repeat="division in vm.divisionList", ng-if="division.levels && division.levels.length")
        ul(class="{{division.levelName}}")
          li.totals
            ul.row
              li.left
                h2 {{vm.divisionName[$index]}}
                span TOTAL
              li.success
                h3 {{division.total.problemsSuccessful / division.total.problemsSubmitted | percentage }}
                span SUCCESS

              li.submitted
                h3 {{division.total.problemsSubmitted}}
                span SUBMITTED

              li.failed
                h3 {{division.total.problemsFailed}}
                span FAILED CHALLENGES

              li.failed-sys
                h3 {{division.total.problemsSysByTest}}
                span FAILED SYS. TEST

          li.level(ng-repeat="level in division.levels")
            ul.row
              li.left
                h3 {{level.levelName}}

              li.success
                h3 {{level.problemsSuccessful / level.problemsSubmitted | percentage }}
                span SUCCESS

              li.submitted
                h3 {{level.problemsSubmitted}}
                span SUBMITTED

              li.failed
                h3 {{level.problemsFailed}}
                span FAILED CHALLENGES

              li.failed-sys
                h3 {{level.problemsSysByTest}}
                span FAILED SYS. TEST

      li.division(ng-if="vm.challengesSRM.levels && vm.challengesSRM.levels.length")
        ul(class="{{vm.challengesSRM.levelName}}")
          li.totals
            ul.row
              li.left
                h2 CHALLENGES
                span TOTAL
              li.success
                h3 {{vm.challengesSRM.total.problemsSuccessful / vm.challengesSRM.total.problemsSubmitted | percentage }}
                span SUCCESS

              li.submitted
                h3 {{vm.challengesSRM.total.problemsSubmitted}}
                span CREATED

              li.failed
                h3 {{vm.challengesSRM.total.problemsFailed}}
                span FAILED

          li.level(ng-repeat="level in vm.challengesSRM.levels")
            ul.row
              li.left
                h3 {{level.levelName}}

              li.success
                h3 {{level.problemsSuccessful / level.problemsSubmitted | percentage }}
                span SUCCESS

              li.submitted
                h3 {{level.problemsSubmitted}}
                span CREATED

              li.failed
                h3 {{level.problemsFailed}}
                span FAILED
