.data.develop(ng-if="vm.track == 'DATA_SCIENCE'")
  
  section
    .challenges(ng-hide="vm.subTrack === 'SRM'")
      .challenge.tile(ng-repeat="challenge in vm.challenges")
        challenge-tile(challenge="challenge", domain="vm.domain", view="'tile'")
            
      .no-challenges(ng-show="!vm.challenges || vm.challenges.length == 0")
        | Sorry, no successful challenges found.

    .challenges(ng-show="vm.subTrack == 'SRM'")
      .challenge.tile(ng-repeat="challenge in vm.challenges")
        srm-tile(srm="challenge", domain="vm.domain", view="'tile'", user-id="profileVm.profile.userId")

      .no-challenges(ng-show="!vm.challenges || vm.challenges.length == 0")
        | Sorry, no rated SRMs found.

    tc-endless-paginator(state="vm.status.challenges", page-params="vm.pageParams")
