.data.develop(ng-if="vm.track == 'DATA_SCIENCE'")
  //- .top
    ul.horizontal-stats(id="subtrack-stats")
      li.stat(ng-if="vm.typeStats.rank.rating")
        .value.rating(style="color: {{vm.typeStats.rank.rating | ratingColor}}") {{vm.typeStats.rank.rating}}
          span.square(style="background-color: {{vm.typeStats.rank.rating | ratingColor}}")
        .name RATING

      li.stat(ng-if="!vm.typeStats.rank.rating")
        .value.rating -
        .name RATING

      li.stat
        .value {{vm.typeStats.rank.rank | empty}}
        .name RANK

      li.stat
        .value {{vm.typeStats.rank.percentile / 100 | percentage | empty}}
        .name PERCENTILE

      li.stat(ng-if="vm.subTrack == 'SRM'")
        .value {{vm.typeStats.challenges | empty}}
        .name COMPETITIONS

      li.stat(ng-if="vm.subTrack == 'MARATHON_MATCH'")
        .value {{vm.typeStats.wins | empty}}
        .name WINS

    .tabs
      a.left(id="statistics-tab", ng-click="vm.viewing = 'stats'",
        ng-class="vm.viewing == 'stats' ? 'selected' : ''"
      ) Statistics

      a.right(id="challenges-tab", ng-click="vm.viewing = 'challenges'",
        ng-class="vm.viewing == 'challenges' ? 'selected' : ''"
      )
        span(ng-show="vm.subTrack == 'SRM'") Past SRMs
        span(ng-show="vm.subTrack != 'SRM'") Challenges

    hr

  section(ng-show="vm.viewing == 'challenges'")
    
    .challenges(ng-hide="vm.subTrack === 'SRM'")
      .challenge.tile(ng-repeat="challenge in vm.challenges")
        challenge-tile(challenge="challenge", domain="vm.domain", view="'tile'")
            
      .no-challenges(ng-show="!vm.challenges || vm.challenges.length == 0")
        | Sorry, no successful challenges found.

    .challenges(ng-show="vm.subTrack == 'SRM'")
      .challenge.tile(ng-repeat="challenge in vm.challenges")
        srm-tile(srm="challenge", domain="vm.domain", view="'tile'")

      .no-challenges(ng-show="!vm.challenges || vm.challenges.length == 0")
        | Sorry, no rated SRMs found.

    tc-endless-paginator(state="vm.status.challenges", page-params="vm.pageParams")

  .stats(ng-show="vm.viewing == 'stats' && profileVm.status.stats === 'ready'")
    .graphs(ng-if="vm.history")
      distribution-graph(promise="vm.distributionPromise", rating="vm.typeStats.rank.rating", graph-state="vm.graphState")

      history-graph(promise="vm.historyPromise", rating="vm.typeStats.rank.rating", graph-state="vm.graphState")

  hr(ng-if="vm.history && vm.viewing == 'stats'")

  .bottom(ng-show="vm.viewing == 'stats' && (vm.subTrack == 'MARATHON_MATCH' || vm.SRMDetailDisplay)")
    h2.detailed Details

    ul.vertical-stats(ng-show="vm.subTrack == 'MARATHON_MATCH'")
      li
        .left Country Rank
        .right {{vm.typeStats.rank.countryRank | empty}}

      li
        .left Volatility
        .right {{vm.typeStats.rank.volatility | empty}}

      li
        .left Maximum Rating
        .right {{vm.typeStats.rank.maximumRating | empty}}

      li
        .left Best Rank
        .right {{vm.typeStats.rank.bestRank | empty}}

      li.first
        .left Wins
        .right {{vm.typeStats.wins | empty}}

      li.first
        .left Top Five Finishes
        .right {{vm.typeStats.rank.topFiveFinishes | empty}}

      li.first
        .left Top Ten Finishes
        .right {{vm.typeStats.rank.topTenFinishes | empty}}

      li.first
        .left Average Rank
        .right {{vm.typeStats.rank.avgRank | empty}}

      li.first
        .left Average # Submissions
        .right {{vm.typeStats.rank.avgNumSubmissions | empty}}

      li.first
        .left Competitions
        .right {{vm.typeStats.challenges | empty}}

      li
        .left Most Recent Event
        .right {{vm.typeStats.mostRecentEventDate | date | empty}}

    ul.divisions(ng-show="vm.subTrack == 'SRM'")
      li.division(ng-repeat="division in vm.divisionList", ng-if="division.levels && division.levels.length")
        ul(class="{{division.levelName}}")
          li.totals
            ul.row
              li.left
                h2 {{vm.divisionName[$index]}}
                span TOTAL
              li.success
                h3 {{division.total.percentSuccessful | percentage | empty}}
                span SUCCESS

              li.submitted
                h3 {{division.total.problemsSubmitted | empty}}
                span SUBMITTED

              li.failed
                h3 {{division.total.problemsFailed | empty}}
                span FAILED CHALLENGES

              li.failed-sys
                h3 {{division.total.problemsSysByTest | empty}}
                span FAILED SYS. TEST

          li.level(ng-repeat="level in division.levels")
            ul.row
              li.left
                h3 {{level.levelName}}

              li.success
                h3 {{level.percentSuccessful | percentage | empty}}
                span SUCCESS

              li.submitted
                h3 {{level.problemsSubmitted | empty}}
                span SUBMITTED

              li.failed
                h3 {{level.problemsFailed | empty}}
                span FAILED CHALLENGES

              li.failed-sys
                h3 {{level.problemsSysByTest | empty}}
                span FAILED SYS. TEST

      li.division(ng-if="vm.challengesSRM.levels && vm.challengesSRM.levels.length")
        ul(class="{{vm.challengesSRM.levelName}}")
          li.totals
            ul.row
              li.left
                h2 CHALLENGES
                span TOTAL
              li.success
                h3 {{vm.challengesSRM.total.percentSuccessful | percentage | empty}}
                span SUCCESS

              li.submitted
                h3 {{vm.challengesSRM.total.problemsSubmitted | empty}}
                span CREATED

              li.failed
                h3 {{vm.challengesSRM.total.problemsFailed | empty}}
                span FAILED

          li.level(ng-repeat="level in vm.challengesSRM.levels")
            ul.row
              li.left
                h3 {{level.levelName}}

              li.success
                h3 {{level.percentSuccessful | percentage | empty}}
                span SUCCESS

              li.submitted
                h3 {{level.problemsSubmitted | empty}}
                span CREATED

              li.failed
                h3 {{level.problemsFailed | empty}}
                span FAILED
