<div class="member-program-content container-fluid panel panel-default" ng-controller="MemberProgramController as vm">
  <div class="panel-heading">
    <span class="panel-title">{{vm.title}}</span>
  </div>
  <div class="panel-body padding-vert-reset">
    <div rel="validating-status-view" ng-show="vm.loading">
      <div class="widget-loading"></div>
      <div class="center-align-text" ng-bind="vm.loadingMessage"></div>
    </div>
    <div rel="unregistered-view" ng-show="!vm.loading && !vm.registration">
      <div class="program-logo">
        <img src="/images/member-program/svg/Show-Your-Skills-06.svg" />
      </div>
      <div class="description">
        <p>Ready to go iOS? Appirio is working with Apple to build the largest iOS Developer Community in the world and we want you to lead the way!</p>

        <p>We will get you started and show you the way from beginner to expert. Join us today and start your first mission and earn the Swift/iOS Ready! badge!</p>
      </div>
      <div class="signup">
        <!-- used style as workaround to override display property -->
        <input type="button" class="btn btn-primary center-block block-display" value="Join Us" style="display:block;" ng-click="vm.registerUser()">
      </div>
    </div>
    <div rel="registered-view" ng-show="!vm.loading && vm.registration">
      <!-- <div class="center-align-text margin-top-3x">
        <img src="/mf/i/swift-getting-started.png" />
      </div> -->
      <div class="description margin-top-3x">
        <!-- TODO make badge list dynamic -->
        <ul rel="badges" class="margin-top-3x">
          <li class="margin-vert-2x" ng-repeat="badge in vm.badges">
            <div rel="badge" class="pull-left {{badge.id}}">
              <div rel="image" class="pull-left"></div>
              <div rel="name" class="pull-left" ng-bind="badge.name"></div>
            </div>
            <div rel="badge-status" ng-show="badge.enabled" class="pull-right" ng-class="{pending: !badge.completed, completed: badge.completed}">
              <div rel="image" class="pull-right margin-left-1x"></div>
              <div rel="text" class="pull-right" ng-bind="badge.completed ? 'Completed' : 'Pending'"></div>
            </div>
            <div rel="badge-status" ng-show="!badge.enabled" class="pull-right">
              <span>Coming Soon</span>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <div class="clearfix nextstep">
        <!-- used style as workaround to override display property -->
        <a href="{{vm.programUrl}}/#/challenges/type/peer" class="btn btn-primary center-block block-display" style="display:block;">Participate</a>
      </div>
    </div>
  </div>
</div>
