.design(ng-if="vm.track == 'DESIGN'")
  .top
    ul.horizontal-stats(id="subtrack-stats")
      li.stat(ng-if="vm.typeStats.wins")
        .value(style="color: #21B2F1") {{vm.typeStats.wins}}
        .name WINS

      li.stat(ng-if="!vm.typeStats.wins")
        .value -
        .name WINS

      li.stat
        .value {{vm.typeStats.challenges | empty}}
        .name CHALLENGES

    .tabs
      a.right.selected(id="challenges-tab") Challenges

    hr

    section
      .challenges
        .challenge.tile(ng-repeat="challenge in vm.challenges")
          challenge-tile(challenge="challenge", domain="vm.domain", view="'tile'")

        .no-challenges(ng-show="!vm.challenges || vm.challenges.length == 0")
          | Sorry, no successful challenges found.

        tc-endless-paginator(state="vm.status.challenges", page-params="vm.pageParams")
