.design(ng-if="vm.track == 'DESIGN'")
  .top
    ul.horizontal-stats
      li.stat
        .value {{vm.typeStats.wins}}
        .name WINS

      li.stat
        .value {{vm.typeStats.wins}}
        .name CHALLENGES

    .tabs
      a.left(id="challenges", ng-click="vm.viewing = 'challenges'",
        ng-class="vm.viewing == 'challenges' ? 'selected' : ''"
      ) Challenges

      a.right(id="stats", ng-click="vm.viewing = 'stats'",
        ng-class="vm.viewing == 'stats' ? 'selected' : ''"
      ) Stats

    tc-section(
      ng-show="vm.viewing == 'challenges'",
      state="vm.status.challenges"
    )
      tc-paginator(data="vm.challenges", page-params="vm.pageParams")
      .challenges
        .challenge.tile(ng-repeat="challenge in vm.challenges")
          challenge-tile(challenge="challenge", domain="vm.domain", view="'tile'")

        .div(ng-show="!vm.challenges || vm.challenges.length == 0")
          | No past challenges available for this user

  .bottom(ng-show="vm.viewing == 'stats'")
    h2.detailed Detailed Stats

    ul.vertical-stats
      li.first
        .left Challenges
        .right {{vm.typeStats.challenges}}

      li
        .left Wins
        .right {{vm.typeStats.wins}}
