header
  h1.section-title Active Challenges

  p.noChallenges(ng-hide="vm.userHasChallenges") You have not participated in any challenges yet.

.section-loading(ng-show="vm.loading")

section(ng-if="vm.userHasChallenges && !vm.loading")
  .challenges
    challenge-tile(ng-repeat="challenge in vm.myChallenges | orderBy:registrationEndDate:true", challenge="challenge", view="'tile'", ng-class="'tile-view'")

.section-links
  .link
    a(ui-sref="my-challenges") View All

  .link(ng-show="dashboard.isCopilot")
    a(href="https://www.{{vm.domain}}/direct") Launch Topcoder Direct

  .link(ng-hide="vm.userHasChallenges")
    a(href="https://community.{{vm.domain}}/", target="_blank") View Help Library
