.account-header {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 54px;
  background-color: #414042;

  a {
    position: absolute;
    left: 35px;

    img {
      width: 270px;
    }
  }
}
