@import 'topcoder/tc-includes';

footer {
  font-family: "Merriweather Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.bottom-footer {
	background-color: $gray-darkest;
	padding: 1px 20px 30px 20px;
}

.bottom-footer .menu-item .menu-link {
  color: $tc-white;
  font-size: ;
}

.bottom-footer .menu-item .menu-link:hover {
  color: $primary;
}

.social-links {
    font-size: 13px;
    line-height: 1.2em;
    text-align: center;
    font-weight: normal;
  	margin: 35px 0;
  	color: $tc-white;

	a {
		display: inline-block;
		background-size: contain;
		background-repeat: no-repeat;
		margin: 23px 0;

		+ a {
			margin-left: 30px;
		}
	}

	.fb-link {
	  background-image: url(@@cdn/i/ico-facebook_desktop.svg);
	  width: 27px;
	  height: 27px;
	}

	.twitter-link {
	  background-image: url(@@cdn/i/ico-twitter_desktop.svg);
	  width: 28px;
	  height: 24px;
	}

	.linkedin-link {
	  background-image: url(@@cdn/i/ico-linkedin_desktop.svg);
	  width: 27px;
	  height: 27px;
	}

	.google-link {
	  background-image: url(@@cdn/i/ico-google_desktop.svg);
	  width: 27px;
	  height: 27px;
	}
}

.copyright-notice {
	text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: $tc-white;
}


@media only screen and (max-width : 1024px) {
	// removed fold-pusher from the rule to remove white space
	.bottom-footer, .fold-pusher {
	// .bottom-footer {
		height: auto;
	}
	.bottom-footer .menu-item {
		display: block;
	}

	.social-links {
    margin-top: 0;
    margin-bottom: 6px;

		.fb-link {
			width: 27px;
			height: 27px;
		}

		.twitter-link {
			width: 28px;
			height: 24px;
		}

		.linkedin-link {
			width: 27px;
			height: 27px;
		}

		.google-link {
			width: 27px;
			height: 27px;
		}
	}

  .bottom-footer nav {
    position: relative;;
    top: auto;
    left: auto;
		text-align: center;

    ul a {
      color: $white;
    }
  }
}

@media only screen and (min-width : 1025px) {
	// removed fold-pusher from the rule to remove white space
	.bottom-footer, .fold-pusher {
	// .bottom-footer {
		height: 200px;
	}
	.bottom-footer {
		padding-top: 40px;

		.submenu-item  + .submenu-item  {
			margin-left: 50px;
		}

		.menu-item {
			text-align: center;
			font-weight: normal;

			.menu-link {
				line-height: 21px;
			}
		}
	}

	.copyright-notice {
		font-size: 15px;
    	color: $tc-white;
	}

	.account-footer {
		.copyright-notice {
		    font-size: 12px;
		}
	}

	.social-links {
		margin-bottom: 3px;

		a {
			width: 26px;
			height: 26px;
			margin-top: 13px;
		}
	}
}
