.registered-successfully-container

  header
    a.logo-link(href="/")
      img(src="/images/logo_mobile.svg", alt="Topcoder Logo")
    .arrow

  p.message Thanks for joining Topcoder.<br> We've sent you a confirmation link. Please check your email and click the link to activate your account. If you can't find the message, please email #[a(href="mailto:support@topcoder.com") support@topcoder.com].
