.register-container
  h1 Join Topcoder

  form(name="register-form", role="form", novalidate)
    input(name="firstname", placeholder="First Name", type="text")

    input(name="lastname", placeholder="Last Name", type="text")

    button(type="submit") Join Now

  section.social
    p Register using another account.

    .social-icons
      .github
      .facebook
      .google

  p.redirect Already have an account? 
    a(ui-sref="login") Login.
