.account-info-container
  h1.tab-title Account Info

  .fields
    .field-section
      h4.field-title Username

      p {{vm.username}}

    .field-section
      h4.field-title Email

      p {{vm.email}}

    .field-section.update-account-info
      form(name="vm.updateAccountInfo", role="form", ng-submit="vm.updateAccountInfo.$valid && vm.saveAccountInfo()", novalidate)
        .validation-bar(ng-class="{ 'error-bar': (vm.updateAccountInfo.currentPassword.$dirty && vm.updateAccountInfo.currentPassword.$invalid), 'success-bar': (vm.updateAccountInfo.currentPassword.$valid) }")
          input(right-placeholder, focused-placeholder="Current", name="currentPassword", type="password", placeholder="Enter Current Password")

        .form-errors
          p.form-error(ng-show="vm.updateAccountInfo.currentPassword.$error.wrongPassword") The password entered was incorrect.

        .validation-bar(ng-class="{ 'success-bar': (vm.updateAccountInfo.password.$valid) }")
          toggle-password


        button(type="submit", ng-disabled="vm.updateAccountInfo.$invalid", ng-class="{'enabled-button': vm.updateAccountInfo.$valid}") Save

