.develop(ng-if="vm.track == 'DEVELOP'")
    
  section
    
    .challenges

      .challenge.tile(ng-repeat="challenge in vm.challenges")
        challenge-tile(challenge="challenge", domain="vm.domain", view="'tile'")      

      .no-challenges(ng-show="!vm.challenges || vm.challenges.length == 0")
        | Sorry, no successful challenges found.

      tc-endless-paginator(state="vm.status.challenges", page-params="vm.pageParams")
