.develop(ng-if="vm.track == 'DEVELOP'")
  .top
    ul.horizontal-stats
      li.stat
        .value.rating(style="color: {{vm.typeStats.rank.rating | ratingColor}}") {{vm.typeStats.rank.rating}}
          span.square(style="background-color: {{vm.typeStats.rank.rating | ratingColor}}")
        .name RATING

      li.stat
        .value {{vm.typeStats.rank.overallRank}}
        .name RANK

      li.stat
        .value {{vm.typeStats.rank.overallPercentile / 100 | percentage}}
        .name PERCENTILE

      li.stat
        .value {{vm.typeStats.challenges}}
        .name CHALLENGES

      li.stat
        .value {{vm.typeStats.wins}}
        .name WINS

      li.stat
        .value {{vm.typeStats.rank.reliability | percentage}}
        .name RELIABILITY

    .tabs
      a.left(id="challenges", ng-click="vm.viewing = 'challenges'",
        ng-class="vm.viewing == 'challenges' ? 'selected' : ''"
      ) Challenges

      a.right(id="stats", ng-click="vm.viewing = 'stats'",
        ng-class="vm.viewing == 'stats' ? 'selected' : ''"
      ) Statistics

    hr

    tc-section(
      ng-show="vm.viewing == 'challenges'",
      state="vm.status.challenges"
    )
      tc-paginator(data="vm.challenges", page-params="vm.pageParams")
      .challenges
        .challenge.tile(ng-repeat="challenge in vm.challenges")
          challenge-tile(challenge="challenge", domain="vm.domain", view="'tile'")
        .div(ng-show="!vm.challenges || vm.challenges.length == 0")
          | no past challenges available for this user

    .stats(ng-show="vm.viewing == 'stats' && profileVm.status.stats === 'ready'")
      .graphs
        distribution-graph(promise="vm.distributionPromise", rating="vm.typeStats.rank.rating", graph-state="vm.graphState")

        history-graph(promise="vm.historyPromise", rating="vm.typeStats.rank.rating", graph-state="vm.graphState")

  .bottom(ng-show="vm.viewing == 'stats'")
    h2.detailed Details

    ul.vertical-stats
      li.first
        .left Win Percentage
        .right {{vm.typeStats.submissions.winPercent | percentage}}

      li
        .left Country Rank
        .right {{vm.typeStats.rank.overallCountryRank}}

      li
        .left Volatility
        .right {{vm.typeStats.rank.volatility}}

      li
        .left Maximum Rating
        .right {{vm.typeStats.rank.maxRating}}

      li(ng-if="profileVm.isUser")
        .left Inquiries
        .right {{vm.typeStats.submissions.numInquiries}}

      li(ng-if="profileVm.isUser")
        .left Submissions
        .right {{vm.typeStats.submissions.submissions}}

      li
        .left Submission Rate
        .right {{vm.typeStats.submissions.submissionRate | percentage}}
        
      li(ng-if="profileVm.isUser")
        .left Passed Screening
        .right {{vm.typeStats.submissions.passedScreening}}

      li
        .left Screening Success Rate
        .right {{vm.typeStats.submissions.screeningSuccessRate | percentage}}

      li(ng-if="profileVm.isUser")
        .left Passed Review
        .right {{vm.typeStats.submissions.passedReview}}

      li
        .left Review Success Rate
        .right {{vm.typeStats.submissions.reviewSuccessRate | percentage}}

      li(ng-if="profileVm.isUser")
        .left Appeals
        .right {{vm.typeStats.submissions.appeals}}

      li
        .left Appeals Success Rate
        .right {{vm.typeStats.submissions.appealSuccessRate | percentage}}

      li(ng-if="profileVm.isUser")
        .left Maximum Score
        .right {{vm.typeStats.submissions.maxScore}}

      li(ng-if="profileVm.isUser")
        .left Minimum Score
        .right {{vm.typeStats.submissions.minScore}}

      li(ng-if="profileVm.isUser")
        .left Average Score
        .right {{vm.typeStats.submissions.avgScore | number: 2}}

      li
        .left Average Placement
        .right {{vm.typeStats.submissions.avgPlacement | number: 2}}
