.update-password-container
  h1.tab-title Change password

  .reset-password(ng-if="vm.loaded && !vm.isSocialRegistrant")
    form(name="vm.newPasswordForm", role="form", ng-submit="vm.newPasswordForm.$valid && vm.submitNewPassword()", novalidate)
      toggle-password

      .form-errors
        p.form-error(ng-show="vm.newPasswordForm.currentPassword.$error.wrongPassword") Your current password is incorrect. Please check that you entered the right one.

      .validation-bar(ng-class="{ 'success-bar': (vm.newPasswordForm.password.$valid) }")
        toggle-password-with-tips

        .tips.password-tips(ng-show="vm.passwordFocus")
          h3 Password Tips:

          p(ng-class="{ 'has-length-between-range': (vm.newPasswordForm.password.$dirty && !vm.newPasswordForm.password.$error.minlength && !vm.newPasswordForm.password.$error.maxlength && !vm.newPasswordForm.password.$error.required) }") Must be between 8 and 64 characters

          p(ng-class="{ 'has-letter': (vm.newPasswordForm.password.$dirty && !vm.newPasswordForm.password.$error.hasLetter) }") At least one letter

          p(ng-class="{ 'has-symbol-or-number': (vm.newPasswordForm.password.$dirty && !vm.newPasswordForm.password.$error.hasSymbolOrNumber) }") At least one number or symbol

      button(type="submit", ng-disabled="vm.newPasswordForm.$invalid", ng-class="{'enabled-button': vm.newPasswordForm.$valid}") Save

  .no-password(ng-if="vm.loaded && vm.isSocialRegistrant")
    p You joined Topcoder by using an external account, so we don't have a password for you.
