.update-password-container
  h1.tab-title Change password

  .reset-password
    form(name="vm.newPasswordForm", role="form", ng-submit="vm.newPasswordForm.$valid && vm.submitNewPassword()", novalidate)
      .validation-bar(ng-class="{ 'error-bar': (vm.newPasswordForm.currentPassword.$dirty && vm.newPasswordForm.currentPassword.$invalid), 'success-bar': (vm.newPasswordForm.currentPassword.$valid) }")
        input(right-placeholder, focused-placeholder="Current", name="currentPassword", type="password", placeholder="Enter Current Password")

      .form-errors
        p.form-error(ng-show="vm.newPasswordForm.currentPassword.$error.wrongPassword") The password entered was incorrect.

      .validation-bar(ng-class="{ 'success-bar': (vm.newPasswordForm.password.$valid) }")
        toggle-password

        .tips.password-tips(ng-show="vm.passwordFocus")
          h3 Password Tips:

          p(ng-class="{ 'has-length-between-range': (vm.newPasswordForm.password.$dirty && !vm.newPasswordForm.password.$error.minlength && !vm.newPasswordForm.password.$error.maxlength && !vm.newPasswordForm.password.$error.required) }") Must be between 8 and 64 characters

          p(ng-class="{ 'has-letter': (vm.newPasswordForm.password.$dirty && !vm.newPasswordForm.password.$error.hasLetter) }") At least one letter

          p(ng-class="{ 'has-symbol': (vm.newPasswordForm.password.$dirty && !vm.newPasswordForm.password.$error.hasSymbol) }") At least one symbol

          p(ng-class="{ 'has-number': (vm.newPasswordForm.password.$dirty && !vm.newPasswordForm.password.$error.hasNumber) }") At least one number

      button(type="submit", ng-disabled="vm.newPasswordForm.$invalid", ng-class="{'enabled-button': vm.newPasswordForm.$valid}") Save
