.srm.tile-view(ng-show="view === 'tile'")
  .upcoming-srm(ng-show="srm.status === 'FUTURE'")
    .challenge-track

    header
      a(ng-href="https://community.{{DOMAIN}}/tc?module=MatchDetails&rd={{srm.id}}") {{srm.name}}

    .srm-details
      p.starts-in Starts in #[span {{srm.startDate | timeDiff:"quantity"}} {{srm.startDate | timeDiff:'unit'}}]

      .srm-calendar
        span.day {{srm.startDate | localTime:"DD" }}
        span.month {{srm.startDate | localTime:"MMM" }}
        span.hour {{srm.startDate | localTime:"hh:mm a" }}
        span.time-zone {{srm.startDate | localTime:"z" }}

    .phase-status
      .registered(ng-show="vm.registered")
        i.fa.fa-check-circle-o
        p You are registered!
      .unregistered(ng-hide="true")
        button.srm-action Register
  .past-srm(ng-show="srm.status === 'PAST'")
    .challenge-track

    header
      a(ng-href="https://community.{{DOMAIN}}/tc?module=MatchDetails&rd={{srm.id}}") {{srm.name}}
      .ended-on #[span {{srm.startDate | localTime:"MMM DD, YYYY" }}]

    .member-stats
      p.points #[span {{srm.result.finalPoints }}] #[span Points]
      .ranks
        .division
          p.rank #[{{srm.result.divisionPlacement}}]
          p.label  #[span Division {{srm.result.division}}]
        .room
          p.rank #[span {{srm.result.roomPlacement}}]
          p.label #[span Room] 
      p.placement Placement

.srm.list-view(ng-show="view=='list'")
  .upcoming-srm(ng-show="srm.status === 'FUTURE'")
    .challenge-track
    header
      .srm-name
        a(ng-href="https://community.{{DOMAIN}}/tc?module=MatchDetails&rd={{srm.id}}") {{srm.name}}

    .srm-details
      p.starts-in Starts in #[span {{srm.startDate | timeDiff:"quantity"}} {{srm.startDate | timeDiff:'unit'}}]

    .phase-status
      .registered(ng-show="vm.registered")
        i.fa.fa-check-circle-o
        p You are registered!
      .unregistered(ng-hide="true")
        button.srm-action Register

  .past-srm(ng-show="srm.status === 'PAST'")
    .challenge-track
    header
      .srm-name
        a(ng-href="https://community.{{DOMAIN}}/tc?module=MatchDetails&rd={{srm.id}}") {{srm.name}}

    .srm-details
      p.ended-on Ended #[{{srm.endDate | timeDiff:"quantity"}} {{srm.endDate | timeDiff:'unit'}}] ago

    .member-stats
      p.points #[span {{srm.result.finalPoints }}] Points

      .ranks
        .division
          p.rank #[{{srm.result.divisionPlacement}}]
          p.label #[span Div {{srm.result.division}}] #[span Placement]
        .room
          p.rank #[span {{srm.result.roomPlacement}}]
          p.label #[span Room] #[span Placement]


