.srm-name
  a(ng-href="https://community.{{domain}}/tc?module=MatchDetails&rd={{srm.id}}") {{srm.name}}

.srm-status
  p.days-remaining {{srm.startDate | timeDiff}}
    span Registration Ends
    //- span(ng-bind='srm.startDate | deadlineStartMsg')

  .phase-status
    i.fa.fa-check-circle-o

    p You are registered!
    //- p {{srm.memberStatusMsg}}
