.tile
  .srm-summary
    .title(ng-bind='srm.name')
  .srm-details
    .time-left
        div(ng-bind='srm.startDate | timeDiff')
    .phase-msg
      span Coding 
      span(ng-bind='srm.startDate | deadlineStartMsg')
    .member-status-msg
      .icon
        i.fa.fa-clock-o
      .msg
        span(ng-bind="srm.memberStatusMsg")