.panel-page
  .panel-header.flex.space-between
    a.panel-header__back-button.flex.space-between.middle

      //- TODO: Replace below with svg tag
      .icon-arrow

      p Back

    h1.panel-header__title HPE - GMARS Topology Dashboard Design Concepts Challenge

  ui-view
