
div(style="text-align: center; background-color: white; margin:100px;")
  img(style="width: 400px;", ng-src="/images/keepcalm.png")

  p(style="text-decoration: none;") ... while you wait - 
    a(href="https://www.youtube.com/watch?v=LU8DDYz68kM") click me 
