div(style="text-align: center; background-color: white; padding: 60px; margin:60px;")
  img(style="width: 400px;", ng-src=require("../../../assets/images/keepcalm.png"))

  p(style="text-decoration: none;") ... while you wait -
    a(href="https://www.youtube.com/watch?v=LU8DDYz68kM") click me
