.external-link-list
  div.external-link-tile(ng-repeat="account in linkedAccountsData", ng-class="{'external-link-tile--editable' : editable}")
    .top
      .ext-link-tile_edit-header(ng-show="editable && account.provider === 'weblink'")
        .ext-link-tile_edit-header_delete(ng-click="confirmDeletion(account)", ng-class="{'ext-link-tile_edit-header_delete--disabled': account.deletingAccount || account.status === 'PENDING'}")
      div.logo
        i.fa(ng-class="(account|providerData:'className') || 'fa-globe'")
      h2 {{account|providerData:"displayName"}}

    div.bottom(ng-if="account.deletingAccount")
      .section-loading
    div.bottom(ng-switch="account.provider", ng-if="!account.deletingAccount")

      div(ng-switch-when="github")
        .handle {{account.data.handle}}

        .pending(ng-show="account.data.status === 'PENDING'")
          p Loading data. This will take a few minutes.

        ul(ng-hide="account.data.status === 'PENDING'")
          li
            .value {{(account.data.followers|number:0) || 0}}
            .key followers
          li
            .value {{(account.data.publicRepos|number:0) || 0}}
            .key repositories

      div(ng-switch-when="stackoverflow")
        .handle {{account.data.name}}

        .pending(ng-show="account.data.status === 'PENDING'")
          p Loading data. This will take a few minutes.

        ul(ng-hide="account.data.status === 'PENDING'")
          li
            .value {{(account.data.reputation|number:0) || 0}}
            .key reputation
          li
            .value {{(account.data.answers|number:0) || 0}}
            .key answers

      div(ng-switch-when="behance")
        .handle {{account.data.name}}

        .pending(ng-show="account.data.status === 'PENDING'")
          p Loading data. This will take a few minutes.

        ul(ng-hide="account.data.status === 'PENDING'")
          li
            .value {{(account.data.projectViews|number:0) || 0}}
            .key views
          li
            .value {{(account.data.projectAppreciations|number:0) || 0}}
            .key likes


      div(ng-switch-when="dribbble")
        .handle {{account.data.handle}}

        .pending(ng-show="account.data.status === 'PENDING'")
          p Loading data. This will take a few minutes.

        ul(ng-hide="account.data.status === 'PENDING'")
          li
            .value {{(account.data.followers|number:0) || 0}}
            .key followers
          li
            .value {{(account.data.likes|number:0) || 0}}
            .key likes

      div(ng-switch-when="bitbucket")
        .handle {{account.data.handle}}

        .pending(ng-show="account.data.status === 'PENDING'")
          p Loading data. This will take a few minutes.

        ul(ng-hide="account.data.status === 'PENDING'")
          li
            .value {{(account.data.followers|number:0) || 0}}
            .key followers
          li
            .value {{(account.data.repos|number:0) || 0}}
            .key repositories

      div(ng-switch-when="twitter")
        .handle @{{account.data.handle}}

        .pending(ng-show="account.data.status === 'PENDING'")
          p Loading data. This will take a few minutes.

        ul(ng-hide="account.data.status === 'PENDING'")
          li
            .value {{(account.data.noOfTweets|number:0) || 0}}
            .key tweets
          li
            //- {{(account.data.followers|number:0) || 0}}
            .value TBD
            .key followers

      div(ng-switch-when="linkedin")
        .handle {{account.data.name}}

        .title {{account.data.title}}

      div(ng-switch-when="weblink")
        p.link-title(data-ellipsis, ng-bind="account.title", ng-hide="account.status === 'PENDING'")
        p.link-title(ng-show="account.status === 'PENDING'") Loading data. This will take a few minutes.

        a.link-url(ng-href="{{account.URL}}", ng-bind="account.URL")
