.ext-tile(ng-repeat="account in accountList | orderBy:'order'", ng-click="!account.disabled && !readOnly && handleClick(account.provider, account.linked)", ng-class="{'connected': account.linked, 'disabled': account.disabled, 'read-only': readOnly}")
  .external-account-box(ng-class="account.colorClass")
    i.fa(ng-if="readOnly || account.linked", ng-class="account.className", style="color: {{account.colorClass | externalLinkColor}}")

    i.fa(ng-if="!readOnly && account.disabled", ng-class="account.className")

    .provider {{account.displayName}}

  .status.already-connected(ng-if="account.linked") Connected

  .status.disconnect Disconnect

  .status(ng-if="!account.linked && !account.disabled") Connect

  .status(ng-if="account.disabled") Coming Soon
