.ext-tile(ng-repeat="account in accountList | orderBy:'order'", ng-class="{'connected': account.linked, 'disabled': account.disabled}")
  .external-account-box(ng-click="!account.disabled && !readOnly && !account.linked && link(account.provider)", ng-class="{'read-only': readOnly}")
    i.fa(ng-class="account.className")

    .provider {{account.displayName}}

  .status(ng-if="account.linked") Connected

  .status(ng-if="!account.linked && !account.disabled") Connect

  .status(ng-if="account.disabled") Coming Soon
