.ext-tile(ng-repeat="account in accountList | orderBy:'order'", ng-click="!account.disabled && !readOnly && handleClick(account.provider, account.status)", ng-class="{'connected': account.status === 'linked', 'connecting': account.status === 'pending', 'disabled': account.disabled, 'enabled': !account.disabled, 'read-only': readOnly}")
  .external-account-box(ng-class="account.colorClass")
    i.fa(ng-class="account.className")

    .provider {{account.displayName}}

  .status.already-connected(ng-if="account.status === 'linked'") Connected

  .status.already-connected(ng-if="account.status === 'pending'") Connecting

  .status.disconnect Disconnect

  .status(ng-if="account.status === 'unlinked' && !account.disabled") Connect

  .status(ng-if="account.disabled") Coming Soon
