.profile-about-container
  p.description {{vm.profile.description}}

  .tags
    .tag(ng-repeat="track in vm.tracks")
      | {{track}}

  hr

  .horizontal-stats
    .stat
      .value {{vm.numProjects}}

      .name Projects

    .stat
      .value
        | {{vm.numWins}}
        | ({{vm.numWins / vm.numProjects | percentage}})

      .name Wins

  .categories
    .category(ng-repeat="category in vm.categories")

      .name {{category.type}}

      .subcategory(ng-show="category.subtype") {{category.subtype}}

      .icon

      .ranking
        .number {{category.rank | ordinal}}

        .tag Ranking

  hr

  .skills
    h1 Skills / Technologies
    .list
      .skill(ng-repeat="skill in vm.skills")
        img.icon(ng-src="images/javascript-logo.png")

        .name {{skill}}

  hr

  .links
    h1 External Links
    .list
      .link(ng-repeat="link in vm.mockProfile.links")
        h2 {{link.name}}

        ul.properties
          li.property(ng-repeat="property in link.properties")
            .key {{property.name}}

            .value {{property.value}}
