.profile-about-container
  p.description {{vm.profile.description}}

  .tags
    .tag(ng-repeat="track in (vm.profile.tracks | displayTracks)")
      | {{track}} 

  hr

  .horizontal-stats
    .stat
      .value {{vm.numProjects}}

      .name Projects

    .stat
      .value
        | {{vm.numWins}}
        | ({{vm.numWins / vm.numProjects | percentage}})

      .name Wins


  .categories
    .leftButton(ng-click="vm.shiftCategories(-1)") &#9664;

    .category(ng-repeat="category in vm.categories.slice(vm.categoryIndex, vm.categoryIndex + 4)", ui-sref="profile.develop({subTrack: category.subTrack})")
      .name {{category.track}}

      .subcategory(ng-show="category.subTrack") {{category.subTrack}}

      .icon

      .ranking
        .number {{category.rank | ordinal}}

        .tag Ranking

    .rightButton(ng-click="vm.shiftCategories(1)") &#9654;

  hr

  .skills
    h1 Skills / Technologies


    .list
      .leftButton(ng-click="vm.shiftSkills(-1)") &#9664;

      .skill(ng-repeat="skill in vm.skills.slice(vm.skillIndex, vm.skillIndex + 5)")
        skill-tile(skill="skill")

      .rightButton(ng-click="vm.shiftSkills(1)") &#9654;


  hr

  .links
    h1 External Links
    .list
      .link(ng-repeat="link in vm.mockProfile.links")
        h2 {{link.name}}

        ul.properties
          li.property(ng-repeat="property in link.properties")
            .key {{property.name}}

            .value {{property.value}}
