.tc-file-field__label
  label.tc-label {{labelText}}
    span.lowercase(ng-if="showFileType") {{ ' *(.' + fileType + ')'}}

.tc-file-field__inputs
  .tc-label__wrapper
    input.tc-file-field__input(type="text", placeholder="{{placeholder}}", disabled)

    span.tc-label__asterisk.lowercase(ng-if="mandatory") #[span *]mandatory

  button.tc-btn(ng-click="selectFile()") {{buttonText}}

  input.none(name="{{fieldId}}", type="file", required, ng-model="ngModel")
