.tc-file-field__label
  label.tc-label {{labelText}}
    span.lowercase(ng-if="fileType") {{fileType | addBeginningSpace}}

    span.tc-label__mandatory.lowercase(ng-if="mandatory") #[span *]mandatory

.tc-file-field__inputs
  input.tc-file-field__input(type="text", placeholder="{{placeholder}}", required)

  button.tc-btn(ng-click="selectFile()") {{buttonText}}

  input.none(type="file", id="{{fieldId}}")
