@import 'topcoder-includes';
@import '../partials/combined';

.my-srms-container {
  @include module-l;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  hr {
    @include horizontal-rule;
    margin-bottom: 35px;
  }
  .section-title {
    color: #4F4F4F;
    font-size: 22px;
    text-align: center;
  }
  .has-srms {
    background-color: $gray-lightest;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 30px 15px;
  }
  .content {
    section.my-srms {
      background: white;
      display: flex;
      flex-flow: column wrap;
      align-self: center;
      width: 100%;
      position: relative;
      .top {
        border-bottom: 1px solid $gray-light;
        /*position: relative;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 35px;
        padding-top: 35px;
        .filters {
          align-self: flex-start;
          /*bottom: 0;
          left: 55px;*/
          margin-left: 55px;
          position: initial;
          text-transform: uppercase;
          a {
            text-decoration: none;
            &.disabled {
              color: $dark-gray;
              cursor: default;
            }
          }
        }
        .viewOptions {
          align-self: flex-end;
          /*bottom: 0;
          right: 55px;*/
          margin-right: 55px;
          position: initial;
          button {
            @include sofia-pro-light;
            background-color: $white;
            border: 0;
            color: #A3A3AE;
            cursor: pointer;
            font-size: 11px;
            line-height: 16px;
            margin-right: 17px;
            outline: 0;
            padding: 0;
            text-transform: uppercase;
            &.disabled {
              color: $black;
              cursor: default;
              &.tile:before {
                background: url(/images/grid-on.svg);
              }
              &.list:before {
                background: url(/images/list-on.svg);
              }
            }
            &:before {
              @include background-image-size(12px, 12px);
              content: '';
              display: inline-block;
              margin-bottom: 2px;
              margin-right: 4px;
              vertical-align: middle;
            }
            &.tile:before {
              background: url(/images/grid-off.svg);
            }
            &.list:before {
              background: url(/images/list-off.svg);
            }
          }
        }
      }
      .data {
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
        padding: 15px 0;
        &.list-view {
          flex-flow: column wrap;
          width: 100%;
        }
      }
      .bottom {
        border-top: 1px solid #F0F0F0;
        padding: 35px 55px 15px 55px;
      }
      srm-tile {
        display: inline;
        margin-bottom: 15px;
        &.tile-view {
          margin-bottom: 20px;
          @media only screen and (max-width: 767px) {
            display: inline-block;
            margin-left: 15px;
            &:first-child {
              margin-left: 0;
            }
          }
          @media only screen and (min-width: 768px) {
            &:nth-child(2n + 1) {
              margin-right: 15px;
            }
          }
          @media only screen and (min-width: 870px) {
            margin-right: 15px;
            &:nth-child(3n) {
              margin-right: 0;
            }
          }
          @media only screen and (min-width: 1155px) {
            &:nth-child(3n) {
              margin-right: 15px;
            }
            &:nth-child(4n) {
              margin-right: 0;
            }
          }
        }
        &.list-view {
          width: 100%;
        }
      }
    }
  }
}


@media (min-width: 768px) {
  .my-srms-container {
    @include module-l;
    margin-top: 30px;
  }
}

@media (min-width: 870px) {
  .my-srms-container {
    section.my-srms {
      .data {
        max-width: 840px;
      }
    }
  }
}

@media (min-width: 900px) {
  .my-srms-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media (min-width: 1155px) {
  .my-srms-container {
    section.my-srms {
      .data {
        max-width: 1125px;
      }
    }
  }
}
