.history-graph-container(ng-show="graphState.show == 'history'")
  .history-graph

  .info-port
    .rating
      .num {{historyRating || rating}}
      .label RATING
    .history-info(ng-if="historyRating")
      | Attained on {{historyDate}} in challenge "{{historyChallenge}}"
    .lower
      button.compare(ng-click="graphState.show = 'distribution'") COMMUNITY RATINGS
