.history-graph-directive(ng-show="graphState.show == 'history'")
  button.compare(ng-click="graphState.show = 'distribution'") COMMUNITY RATINGS
  .history-graph-container

    br

    .history-graph

    .info-port
      .rating(style="background: {{historyRating || rating | ratingColor}}")
        .num {{historyRating || rating}}
        .label RATING
      .history-info(ng-if="historyRating")
        .challenge {{historyChallenge}}
        .date {{historyDate | date}}
