.history-graph-directive(ng-show="graphState.show == 'history'")
  .history-graph-container

    br

    .history-graph

    .info-port
      .rating(style="background: {{historyRating || rating | ratingColor}}")
        .num {{historyRating || rating}}
        .label RATING
      .history-info
        .challenge(ng-if="historyRating") {{historyChallenge}}
        .date(ng-if="historyRating") {{historyDate | date}}
      button.compare(ng-click="graphState.show = 'distribution'") COMMUNITY RATINGS
